<main class="mb-4">
  <h6 class="main-title my-2">
    <span>Seguidores</span>

    <strong class="float-end"
      style="background: #fff; margin-top: -2px; color: #8B8B8B; padding-left: 7px;">
      {{totalCount}}
    </strong>
  </h6>

  @if (followers.length < 1) {
    <div class="alert alert-warning">
      😔 <strong>No tiene seguidores</strong>
    </div>
  }

  <div class="row">
    @for (item of followers; track item) {
      <div class="col-md-2 mb-2">
        <app-user-avatar class="cursor--pointer" [routerLink]="['/perfil/' + item.userName]" [appUserPopover]="item.userName" [avatar]="item.avatar" [userName]="item.userName" matTooltip="{{item.userName}}"
        [matTooltipPosition]="'above'"></app-user-avatar>
      </div>
    }
  </div>
</main>