<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="logo cursor-pointer">
                    <a class="main-logo">
                        <img border="0" align="top" title="Titulo" alt="Titulo" src="assets/images/blank.png">
                    </a>
                </div>
            </div>

            <div class="col-12 col-sm-6">
                <a class="registro float-end" [routerLink]="['registro']"></a>
                <a class="identificarse float-end" href="#">Identificarme</a>
            </div>
        </div>
    </div>
</header>