<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo cursor--pointer">
                    <a class="main-logo" [routerLink]="['/']" matTooltip="Pixicity! - Ciudad Pixelada" [matTooltipPosition]="'right'">
                        <img border="0" align="top" src="assets/images/blank.png" />
                    </a>
                </div>
            </div>

            <div class="col-sm-6">
                <app-section-user-info-login></app-section-user-info-login>
            </div>
        </div>
    </div>
</header>