<div class="rich-editor">

  <!--  Toolbar  -->
  <div class="rich-editor__toolbar">

    <!-- Basic formatting -->
    <div class="rich-editor__group">
      <button type="button" title="Negrita (Ctrl+B)" (click)="bold()">
        <mat-icon>format_bold</mat-icon>
      </button>
      <button type="button" title="Cursiva (Ctrl+I)" (click)="italic()">
        <mat-icon>format_italic</mat-icon>
      </button>
    </div>

    <div class="rich-editor__group">
      <button type="button" title="Subrayado (Ctrl+U)" (click)="underline()">
        <mat-icon>format_underlined</mat-icon>
      </button>
      <button type="button" title="Tachado" (click)="strikeThrough()">
        <mat-icon>format_strikethrough</mat-icon>
      </button>
    </div>

    <div class="rich-editor__group">
      <button type="button" title="Código inline" (click)="toggleCode()">
        <mat-icon>code</mat-icon>
      </button>
      <button type="button" title="Cita" (click)="toggleBlockquote()">
        <mat-icon>format_quote</mat-icon>
      </button>
    </div>

    <!-- Lists -->
    <div class="rich-editor__group">
      <button type="button" title="Lista ordenada" (click)="orderedList()">
        <mat-icon>format_list_numbered</mat-icon>
      </button>
      <button type="button" title="Lista de viñetas" (click)="bulletList()">
        <mat-icon>format_list_bulleted</mat-icon>
      </button>
    </div>

    <!-- Heading dropdown -->
    <div class="rich-editor__group rich-editor__dropdown">
      <button type="button" class="btn-dropdown" title="Encabezado"
        (click)="showHeadingMenu = !showHeadingMenu; showColorPicker = false">
        <mat-icon>title</mat-icon>
        <mat-icon class="arrow">arrow_drop_down</mat-icon>
      </button>
      @if (showHeadingMenu) {
        <div class="rich-editor__menu">
          @for (h of headings; track h) {
            <button type="button" (click)="formatHeading(h)">{{ h.toUpperCase() }}</button>
          }
          <button type="button" (click)="formatHeading('p')">Normal</button>
        </div>
      }
    </div>

    <!-- Link & Image -->
    <div class="rich-editor__group">
      <button type="button" title="Insertar enlace" (click)="insertLink()">
        <mat-icon>link</mat-icon>
      </button>
      <button type="button" title="Insertar imagen" (click)="insertImage()">
        <mat-icon>image</mat-icon>
      </button>
    </div>

    <!-- Color picker -->
    <div class="rich-editor__group rich-editor__dropdown">
      <button type="button" class="btn-dropdown" title="Color de texto"
        (click)="showColorPicker = !showColorPicker; showHeadingMenu = false">
        <mat-icon>format_color_text</mat-icon>
        <mat-icon class="arrow">arrow_drop_down</mat-icon>
      </button>
      @if (showColorPicker) {
        <div class="rich-editor__menu rich-editor__palette">
          @for (color of colors; track color) {
            <span class="swatch" [style.background]="color"
              (click)="setColor(color)" [title]="color"></span>
          }
        </div>
      }
    </div>

    <!-- Alignment -->
    <div class="rich-editor__group">
      <button type="button" title="Alinear izquierda" (click)="alignLeft()">
        <mat-icon>format_align_left</mat-icon>
      </button>
      <button type="button" title="Centrar" (click)="alignCenter()">
        <mat-icon>format_align_center</mat-icon>
      </button>
      <button type="button" title="Alinear derecha" (click)="alignRight()">
        <mat-icon>format_align_right</mat-icon>
      </button>
      <button type="button" title="Justificar" (click)="alignJustify()">
        <mat-icon>format_align_justify</mat-icon>
      </button>
    </div>

    <!-- Misc -->
    <div class="rich-editor__group">
      <button type="button" title="Línea horizontal" (click)="horizontalRule()">
        <mat-icon>horizontal_rule</mat-icon>
      </button>
      <button type="button" title="Eliminar formato" (click)="removeFormat()">
        <mat-icon>format_clear</mat-icon>
      </button>
    </div>

    <!-- History -->
    <div class="rich-editor__group">
      <button type="button" title="Deshacer (Ctrl+Z)" (click)="undo()">
        <mat-icon>undo</mat-icon>
      </button>
      <button type="button" title="Rehacer (Ctrl+Y)" (click)="redo()">
        <mat-icon>redo</mat-icon>
      </button>
    </div>

  </div>

  <!--  Content area  -->
  <div
    #editorEl
    class="rich-editor__content"
    contenteditable="true"
    [attr.data-placeholder]="placeholder"
    (input)="onInput()"
    (blur)="onBlur()">
  </div>

</div>
