<aside class="admin-menu__wrapper">
    <h6>General</h6>
    <ul class="list-unstyled admin-menu">
        <li>
            <a [routerLink]="['dashboard']" [ngClass]="{'active': currentURL === 'administracion/dashboard'}">
                <mat-icon>home</mat-icon> Dashboard
            </a>
        </li>

        <li>
            <a [routerLink]="['configuracion']" [ngClass]="{'active': currentURL === 'configuracion'}">
                <mat-icon>settings</mat-icon> Configuración
            </a>
        </li>

        <li>
            <a [routerLink]="['publicidad']">
                <mat-icon>payments</mat-icon> Publicidad
            </a>
        </li>
    </ul>

    <h6>Control de Contenido</h6>
    <ul class="list-unstyled admin-menu">
        <li>
            <a [routerLink]="['posts']">
                <mat-icon>fact_check</mat-icon> Posts
            </a>
        </li>

        <li>
            <a [routerLink]="['comentarios']">
                <mat-icon>message</mat-icon> Comentarios
            </a>
        </li>

        <li>
            <a [routerLink]="['noticias']">
                <mat-icon>feed</mat-icon> Noticias
            </a>
        </li>
    </ul>

    <h6>Control de Pixicity!</h6>
    <ul class="list-unstyled admin-menu">
        <li>
            <a [routerLink]="['medallas']">
                <mat-icon>emoji_events</mat-icon> Medallas
            </a>
        </li>

        <li>
            <a [routerLink]="['afiliados']">
                <mat-icon>directions</mat-icon> Afiliados
            </a>
        </li>

        <li>
            <a [routerLink]="['estadisticas']">
                <mat-icon>analytics</mat-icon> Estadísticas
            </a>
        </li>

        <li>
            <a [routerLink]="['bloqueos']">
                <mat-icon>block</mat-icon> Bloqueos
            </a>
        </li>

        <li>
            <a [routerLink]="['censuras']">
                <mat-icon>warning</mat-icon> Censuras
            </a>
        </li>
    </ul>

    <h6>Usuarios</h6>
    <ul class="list-unstyled admin-menu">
        <li>
            <a [routerLink]="['usuarios']">
                <mat-icon>group</mat-icon> Usuarios
            </a>
        </li>

        <li>
            <a [routerLink]="['afiliados']">
                <mat-icon>manage_accounts</mat-icon> Sesiones
            </a>
        </li>

        <li>
            <a [routerLink]="['rango-usuarios']">
                <mat-icon>badge</mat-icon> Rangos de Usuarios
            </a>
        </li>
    </ul>
</aside>