<h6 class="main-title">
    <span>TOP's Posts</span>
    <app-top-times-selector></app-top-times-selector>
</h6>

<table class="table table-striped last-posts">
    <tbody>
        <tr *ngFor="let post of topPosts">
            <td>
                <small>
                    <a [routerLink]="['/posts/' + post.categoria.seo + '/' + post.id + '/' + post.url]" title="{{post.titulo}}">
                        <img src="/assets/images/categorias/{{post.categoria.icono}}" title="{{post.categoria.nombre}}"
                            alt="{{post.categoria.nombre}}" />
                        {{post.titulo | truncate:[65]}}
                    </a>
                </small>
            </td>
        </tr>
    </tbody>
</table>