<section class="container container--home">
    <div class="row">
        <div class="col-12 col-sm-9 p-3">
            <div class="ladoi">
                <div class="mb-3">
                    <mat-tab-group>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon>account_circle</mat-icon>
                                Cuenta
                            </ng-template>

                            <form [formGroup]="formGroupCuenta" class="form-container">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="mb-3 row">
                                                <div class="col-sm-2 text-end">
                                                    <label class="col-form-label">
                                                        E-Mail
                                                    </label>
                                                </div>

                                                <div class="col-sm-10">
                                                    <input type="text"
                                                        [ngClass]="{'form-control-plaintext': changeEmailStatus === false, 'form-control': changeEmailStatus === true}"
                                                        formControlName="email" />
                                                    <strong>
                                                        <a href="javascript:void(0)" (click)="changeEmail()"
                                                            *ngIf="!changeEmailStatus">
                                                            (Cambiar)
                                                        </a>
                                                    </strong>
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <div class="col-sm-2 text-end">
                                                    <label class="col-form-label">
                                                        País
                                                    </label>
                                                </div>

                                                <div class="col-sm-10">
                                                    <ng-select [items]="paises" formControlName="paisId"
                                                        bindLabel="nombre" bindValue="id"
                                                        (change)="getEstadosByPais($event.id)"></ng-select>
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <div class="col-sm-2 text-end">
                                                    <label class="col-form-label">
                                                        Estado
                                                    </label>
                                                </div>

                                                <div class="col-sm-10">
                                                    <ng-select [items]="estados" bindLabel="nombre"
                                                        formControlName="estadoId" bindValue="id"></ng-select>
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <div class="col-sm-2 text-end">
                                                    <label class="col-form-label">
                                                        Género
                                                    </label>
                                                </div>

                                                <div class="col-sm-10">
                                                    <ng-select [items]="generos" formControlName="genero"
                                                        bindLabel="label" bindValue="value"></ng-select>
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <div class="col-sm-2 text-end">
                                                    <label class="col-form-label">
                                                        Nacimiento
                                                    </label>
                                                </div>

                                                <div class="col-sm-10">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-4">
                                                            <label>Día</label>
                                                            <ng-select [items]="dias" formControlName="dia"></ng-select>
                                                        </div>

                                                        <div class="col-12 col-sm-4">
                                                            <label>Mes</label>
                                                            <ng-select [items]="meses" formControlName="mes"
                                                                bindLabel="label" bindValue="value"></ng-select>
                                                        </div>

                                                        <div class="col-12 col-sm-4">
                                                            <label>Año</label>
                                                            <ng-select [items]="years" formControlName="año">
                                                            </ng-select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-container--footer text-center">
                                    <button mat-flat-button color="primary" type="submit">
                                        <mat-icon>save</mat-icon> Guardar
                                    </button>
                                </div>
                            </form>
                        </mat-tab>

                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon>account_box</mat-icon>
                                Perfil
                            </ng-template>
                            Content 2
                        </mat-tab>

                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon>block</mat-icon>
                                Bloqueados
                            </ng-template>

                            Content 3
                        </mat-tab>

                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon>password</mat-icon>
                                Cambiar contraseña
                            </ng-template>

                            <form class="form-container">
                                <div class="container mx-auto" style="width: 80%;">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="mb-3 row">
                                                <div class="col-sm-3 text-end">
                                                    <label class="col-form-label">
                                                        Contraseña actual:
                                                    </label>
                                                </div>

                                                <div class="col-sm-9">
                                                    <input type="password" class="form-control" autocomplete="off" />
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <div class="col-sm-3 text-end">
                                                    <label class="col-form-label">
                                                        Contraseña nueva:
                                                    </label>
                                                </div>

                                                <div class="col-sm-9">
                                                    <input type="password" class="form-control" autocomplete="off" />
                                                </div>
                                            </div>

                                            <div class="mb-3 row">
                                                <div class="col-sm-3 text-end">
                                                    <label class="col-form-label">
                                                        Repetir Contraseña:
                                                    </label>
                                                </div>

                                                <div class="col-sm-9">
                                                    <input type="password" class="form-control" autocomplete="off" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-container--footer text-center">
                                    <button mat-flat-button color="primary" type="submit">
                                        <mat-icon>vpn_key</mat-icon> Cambiar contraseña
                                    </button>
                                </div>
                            </form>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>

        <div class="dotted-border--left col-12 col-sm-3 text-center">
            <h6>Mi Avatar</h6>

            <img src="https://i.imgur.com/2Rs9AVg.jpeg" height="160px" />

            <a href="#" class="boton azul my-3">
                Editar
            </a>
        </div>
    </div>
</section>