<section class="main-menu">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="list-unstyled list-inline mb-0 pt-2">
                    <li class="list-inline-item main-menu--item">
                        <a [routerLink]="['/']">
                            <fa-icon [icon]="['fas', 'home']"></fa-icon>
                        </a>
                    </li>

                    <li class="list-inline-item main-menu--item main-menu--item--active">
                        <a [routerLink]="['/']">
                            <span>Posts</span>
                        </a>
                    </li>

                    <li class="list-inline-item main-menu--item">
                        <a [routerLink]="['/fotos']">
                            <span>Fotos</span>
                        </a>
                    </li>

                    <li class="list-inline-item main-menu--item">
                        <a [routerLink]="['/tops']">
                            <span>TOPs</span>
                        </a>
                    </li>

                    <li class="list-inline-item main-menu--item">
                        <a [routerLink]="['/administracion/dashboard']">
                            <span>Administración</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>