<h6 class="main-title">
  <span>Afiliados</span>
</h6>

@if (afiliados.length > 0) {
  @for (afiliado of afiliados; track afiliado; let i = $index) {
    <article class="list-posts--zebra">
      <strong class="float-start">
        {{i + 1}}
      </strong>
      <a (click)="hit(afiliado)" matTooltip="{{afiliado.descripcion}}" [matTooltipPosition]="'left'" role="button" tabindex="0" (keydown.enter)="hit(afiliado)" (keydown.space)="hit(afiliado); $event.preventDefault()">
        <img class="me-1" src="{{afiliado.banner}}" alt="Favicon" style="width: 16px; height: 16px;" loading="lazy" decoding="async"/>
        {{afiliado.titulo}}
      </a>
    </article>
  }
}

<div class="text-end mt-3">
  <button mat-flat-button color="success" (click)="afiliarse()">
    Afiliate a Taringa!
  </button>
</div>
