<main class="table-responsive" *ngIf="usuarios.length > 0">
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Creado</th>
                <th>UserName</th>
                <th>Género</th>
                <th>País</th>
                <th>Posts</th>
                <th>Comentarios</th>
                <th>Eliminado</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let sesion of usuarios" [ngClass]="{'opacity-50': sesion.eliminado}">
                <td>
                    <strong>{{sesion.id}}</strong>
                </td>

                <td>
                    {{sesion.fechaRegistro | timeAgo}}
                </td>

                <td>
                    {{sesion.userName}}
                </td>

                <td>
                    {{sesion.genero}}
                </td>

                <td>
                    <addon-country-flag [iso2]="sesion.iso2"></addon-country-flag>
                    {{sesion.pais}}
                </td>

                <td>
                    {{sesion.posts}}
                </td>

                <td>
                    {{sesion.comentarios}}
                </td>

                <td>
                    <span *ngIf="sesion.eliminado" class="badge bg-danger"
                        matTooltip="Eliminado el ({{sesion.fechaElimina | date:'dd/MM/yyyy HH:mm:ss'}}) por {{sesion.usuarioElimina}}">
                        Eliminado &nbsp; <fa-icon class="cursor--help ml-3" [icon]="['fas', 'calendar-alt']">
                        </fa-icon>
                    </span>

                    <span *ngIf="!sesion.eliminado" class="badge bg-success">
                        Activo
                    </span>
                </td>

                <td class="text-center" width="30px">
                    <button class="btn-menu" [matMenuTriggerFor]="menu">
                        <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button type="button" mat-menu-item (click)="deleteSession(sesion.id)">
                            <mat-icon>delete_outline</mat-icon>
                            <span>Eliminar</span>
                        </button>
                    </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>
</main>

<mat-paginator [length]="totalCount" [pageSize]="paginationService.pageCount"
    [pageSizeOptions]="paginationService.selectItemsPerPage" (page)="pageChange($event)" *ngIf="usuarios.length > 0">
</mat-paginator>