<main class="table-responsive" *ngIf="usuarios.length > 0">
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Registrado desde</th>
                <th>UserName</th>
                <th>Género</th>
                <th>País</th>
                <th>Posts</th>
                <th>Comentarios</th>
                <th>Última Conexión</th>
                <th>Última IP</th>
                <th>Baneado</th>
                <th>Eliminado</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let usuario of usuarios; let i = index" [ngClass]="{'opacity-50': usuario.eliminado}">
                <td>
                    <strong>{{usuario.id}}</strong>
                </td>

                <td>
                    <app-user-avatar [height]="20" [avatar]="usuario.avatar"
                        [userName]="usuario.userName"></app-user-avatar> {{usuario.fechaRegistro | timeAgo}}
                </td>

                <td>
                    <a href="/perfil/{{usuario.userName}}" target="_blank">
                        {{usuario.userName}}
                    </a>
                </td>

                <td>
                    {{usuario.genero}}
                </td>

                <td>
                    <addon-country-flag [iso2]="usuario.estado.pais.isO2"></addon-country-flag>
                    {{usuario.estado.pais.nombre}}
                </td>

                <td>
                    {{usuario.cantidadPosts}}
                </td>

                <td>
                    {{usuario.cantidadComentarios}}
                </td>

                <td>
                    {{usuario.ultimaConexion | date:'medium'}}
                </td>

                <td>
                    {{usuario.ultimaIP}}
                </td>

                <td>
                    <span class="badge" [ngClass]="{'bg-danger': usuario.baneado, 'bg-info': !usuario.baneado}">
                        <span *ngIf="usuario.baneado">
                            <fa-icon [icon]="['fas', 'ban']"></fa-icon> Baneado
                        </span>

                        <span *ngIf="!usuario.baneado">
                            <fa-icon [icon]="['fas', 'check-circle']"></fa-icon> Activo
                        </span>
                    </span>
                </td>

                <td>
                    <span *ngIf="usuario.eliminado" class="badge bg-danger"
                        matTooltip="Eliminado el ({{usuario.fechaElimina | date:'dd/MM/yyyy HH:mm:ss'}}) por {{usuario.usuarioElimina}}">
                        Eliminado &nbsp; <fa-icon class="cursor--help ml-3" [icon]="['fas', 'calendar-alt']">
                        </fa-icon>
                    </span>

                    <span *ngIf="!usuario.eliminado" class="badge bg-success">
                        Activo
                    </span>
                </td>

                <td class="text-center" width="30px">
                    <button class="btn-menu" [matMenuTriggerFor]="menu">
                        <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button type="button" mat-menu-item (click)="changeAvatar(usuario)">
                            <mat-icon>photo_camera</mat-icon>
                            Actualizar Imagen de Perfil
                        </button>

                        <button type="button" mat-menu-item (click)="removeAvatar(usuario)">
                            <mat-icon>image_not_supported</mat-icon>
                            Eliminar Imagen de Perfil
                        </button>

                        <button type="button" mat-menu-item (click)="banUser(usuario)"
                            *ngIf="!usuario.baneado && !usuario.eliminado">
                            <mat-icon>do_disturb_alt</mat-icon>
                            Banear
                        </button>

                        <mat-divider></mat-divider>

                        <button type="button" mat-menu-item (click)="deleteUser(usuario)">
                            <mat-icon *ngIf="!usuario.eliminado">delete_outline</mat-icon>
                            <mat-icon *ngIf="usuario.eliminado">undo</mat-icon>

                            <span>{{!usuario.eliminado ? 'Eliminar' : 'Recuperar'}}</span>
                        </button>
                    </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>
</main>

<mat-paginator [length]="totalCount" [pageSize]="paginationService.pageCount"
    [pageSizeOptions]="paginationService.selectItemsPerPage" (page)="pageChange($event)" *ngIf="usuarios.length > 0">
</mat-paginator>