<h2 mat-dialog-title>
    Detalles de la denuncia
</h2>

<mat-dialog-content>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4">
            <div class="mb-3">
                <label>Id</label>
                <input type="text" readonly class="form-control-plaintext" value="{{data?.id}}">
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-4">
            <div class="mb-3">
                <label>Fecha de registro</label>
                <input type="text" readonly class="form-control-plaintext" value="{{data?.fechaRegistro | date: 'medium'}}">
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-4">
            <div class="mb-3">
                <label>Usuario que denuncia</label>
                <a class="cursor--pointer d-block pt-1" href="/perfil/{{data?.usuarioDenuncia}}" target="_blank">
                    {{data?.usuarioDenuncia}}
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-4">
            <label>Post</label>
            <app-post-url-link 
                [post]="{ id: data.post.id, url: data.post.url, titulo: data.post.titulo}"
                [categoria]="{ icono: data.post.categoria.icono, nombre: data.post.categoria.nombre, seo: data.post.categoria.seo}"></app-post-url-link>
        </div>
    </div>

    {{data | json}}
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button type="button" mat-button mat-dialog-close>
        Cerrar
    </button>
</mat-dialog-actions>