<form [formGroup]="formGroupPerfil" (ngSubmit)="savePerfilInfo()" class="mt-3">
  <mat-accordion class="accordion-bg">
    <mat-expansion-panel class="mb-2" [expanded]="currentStep === 0" (opened)="currentStep = 0">
      <mat-expansion-panel-header class="accordion-panel">
        <mat-panel-title>
          Más sobre mi
        </mat-panel-title>

        <mat-panel-description>
          &nbsp;
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <section class="container">
        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label" for="account-perfil-completeName">
              Nombre completo
            </label>
          </div>

          <div class="col-sm-10">
            <input id="account-perfil-completeName" type="text" formControlName="completeName" class="form-control" />
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label" for="account-perfil-personalMessage">
              Mensaje personal
            </label>
          </div>

          <div class="col-sm-10">
            <textarea id="account-perfil-personalMessage" class="form-control" formControlName="personalMessage" rows="3"></textarea>
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label" for="account-perfil-website">
              Sitio web
            </label>
          </div>

          <div class="col-sm-10">
            <input id="account-perfil-website" type="url" class="form-control" formControlName="website" />
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label" for="account-perfil-instagram">
              Redes sociales
            </label>
          </div>

          <div class="col-sm-10">
            <section class="mb-3">
              <label>
                <strong class="text-rose">
                  <i class="ti ti-brand-instagram"></i> instagram.com/
                </strong>
              </label>
              <input id="account-perfil-instagram" type="text" class="form-control" formControlName="instagram" />
            </section>

            <section class="mb-3">
              <label for="account-perfil-facebook">
                <strong class="text-primary">
                  <i class="ti ti-brand-facebook"></i> facebook.com/
                </strong>
              </label>
              <input id="account-perfil-facebook" type="text" class="form-control" formControlName="facebook" />
            </section>

            <section class="mb-3">
              <label for="account-perfil-twitter">
                <strong class="text-info">
                  <i class="ti ti-brand-twitter"></i> twitter.com/
                </strong>
              </label>
              <input id="account-perfil-twitter" type="text" class="form-control" formControlName="twitter" />
            </section>

            <section class="mb-3">
              <label for="account-perfil-youtube">
                <strong class="text-danger">
                  <i class="ti ti-brand-youtube"></i> youtube.com/
                </strong>
              </label>
              <input id="account-perfil-youtube" type="text" class="form-control" formControlName="youtube" />
            </section>

            <section>
              <label for="account-perfil-tiktok">
                <strong>
                  <i class="ti ti-brand-tiktok"></i> tiktok.com/
                </strong>
              </label>
              <input id="account-perfil-tiktok" type="text" class="form-control" formControlName="tiktok" />
            </section>
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label" for="account-perfil-altura">
              Me gustaría
            </label>
          </div>

          <div class="col-sm-10">
            <p class="mb-1">
              <mat-checkbox formControlName="like1" color="primary">
                Hacer amigos
              </mat-checkbox>
            </p>

            <p class="mb-1">
              <mat-checkbox formControlName="like2" color="primary">
                Conocer gente con mis intereses
              </mat-checkbox>
            </p>

            <p class="mb-1">
              <mat-checkbox formControlName="like3" color="primary">
                Conocer gente para negocios
              </mat-checkbox>
            </p>

            <p class="mb-1">
              <mat-checkbox formControlName="like4" color="primary">
                Encontrar pareja
              </mat-checkbox>
            </p>

            <p class="mb-1">
              <mat-checkbox formControlName="like_all" color="primary">
                De todo
              </mat-checkbox>
            </p>
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label">
              Estado civil
            </label>
          </div>

          <div class="col-sm-10">
            <app-select formControlName="estadoCivil" [items]="estadosCiviles"></app-select>
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label">
              Hijos
            </label>
          </div>

          <div class="col-sm-10">
            <app-select formControlName="hijos" [items]="hijos"></app-select>
          </div>
        </div>

        <div class="mb-3 mt-2 row">
          <div class="col-sm-2 text-end">
            <label class="col-form-label">
              Vivo con
            </label>
          </div>

          <div class="col-sm-10">
            <app-select formControlName="vivoCon" [items]="vivoCon"></app-select>
          </div>
        </div>
      </section>

      <div class="form-container--footer text-center">
        <button class="me-2" mat-flat-button color="primary" type="submit">
          <mat-icon>save</mat-icon> Guardar
        </button>

        <button mat-flat-button type="button" (click)="currentStep = currentStep + 1">
          Siguiente <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="mb-2" [expanded]="currentStep === 1" (opened)="currentStep = 1">
      <mat-expansion-panel-header class="accordion-panel">
        <mat-panel-title>
          Como soy
        </mat-panel-title>

        <mat-panel-description>
          &nbsp;
          <mat-icon>face</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <section class="container">
        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label">
              Mi altura (cm)
            </label>
          </div>

          <div class="col-sm-10">
            <input id="account-perfil-altura" type="text" formControlName="altura" class="form-control" />
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label" for="account-perfil-peso">
              Mi peso (kg)
            </label>
          </div>

          <div class="col-sm-10">
            <input id="account-perfil-peso" type="text" formControlName="peso" class="form-control" />
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label" for="account-perfil-profesion">
              Color de cabello
            </label>
          </div>

          <div class="col-sm-10">
            <app-select formControlName="colorCabello" [items]="colorCabello"></app-select>
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label">
              Color de ojos
            </label>
          </div>

          <div class="col-sm-10">
            <app-select formControlName="colorOjos" [items]="colorOjos"></app-select>
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label">
              Complexión
            </label>
          </div>

          <div class="col-sm-10">
            <app-select formControlName="complexion" [items]="complexiones"></app-select>
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label">
              Mi dieta es
            </label>
          </div>

          <div class="col-sm-10">
            <app-select formControlName="dieta" [items]="dietas"></app-select>
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label">
              Tengo
            </label>
          </div>

          <div class="col-sm-10">
            <p class="mb-1">
              <mat-checkbox formControlName="tatuajes" color="primary">
                Tatuajes
              </mat-checkbox>
            </p>

            <p class="mb-1">
              <mat-checkbox formControlName="piercings" color="primary">
                Piercings
              </mat-checkbox>
            </p>
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label">
              Fumo
            </label>
          </div>

          <div class="col-sm-10">
            <app-select formControlName="fumo" [items]="fumoAlcohol"></app-select>
          </div>
        </div>

        <div class="mb-3 mt-2 row">
          <div class="col-sm-2 text-end">
            <label class="col-form-label">
              Tomo alcohol
            </label>
          </div>

          <div class="col-sm-10">
            <app-select formControlName="alcohol" [items]="fumoAlcohol"></app-select>
          </div>
        </div>
      </section>

      <div class="form-container--footer text-center">
        <button class="me-2" mat-flat-button color="primary" type="submit">
          <mat-icon>save</mat-icon> Guardar
        </button>

        <button mat-flat-button type="button" (click)="currentStep = currentStep + 1">
          Siguiente <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="mb-2" [expanded]="currentStep === 2" (opened)="currentStep = 2">
      <mat-expansion-panel-header class="accordion-panel">
        <mat-panel-title>
          Formación y trabajo
        </mat-panel-title>

        <mat-panel-description>
          &nbsp;
          <mat-icon>work</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <section class="container">
        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label">
              Estudios
            </label>
          </div>

          <div class="col-sm-10">
            <app-select formControlName="estudios" [items]="estudios"></app-select>
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label">
              Profesión
            </label>
          </div>

          <div class="col-sm-10">
            <input id="account-perfil-profesion" type="text" class="form-control" formControlName="profesion" />
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label" for="account-perfil-empresa">
              Empresa
            </label>
          </div>

          <div class="col-sm-10">
            <input id="account-perfil-empresa" type="text" class="form-control" formControlName="empresa" />
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label" for="account-perfil-interesesProfesionales">
              Sector
            </label>
          </div>

          <div class="col-sm-10">
            <app-select formControlName="sector" [items]="sector"></app-select>
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label">
              Intereses Profesionales
            </label>
          </div>

          <div class="col-sm-10">
            <textarea id="account-perfil-interesesProfesionales" class="form-control" formControlName="interesesProfesionales" rows="3"></textarea>
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label" for="account-perfil-habilidadesProfesionales">
              Habilidades Profesionales
            </label>
          </div>

          <div class="col-sm-10">
            <textarea id="account-perfil-habilidadesProfesionales" class="form-control" formControlName="habilidadesProfesionales" rows="3"></textarea>
          </div>
        </div>

      </section>

      <div class="form-container--footer text-center">
        <button class="me-2" mat-flat-button color="primary" type="submit">
          <mat-icon>save</mat-icon> Guardar
        </button>

        <button mat-flat-button type="button" (click)="currentStep = currentStep + 1">
          Siguiente <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="mb-2" [expanded]="currentStep === 3" (opened)="currentStep = 3">
      <mat-expansion-panel-header class="accordion-panel">
        <mat-panel-title>
          Intereses y preferencias
        </mat-panel-title>

        <mat-panel-description>
          &nbsp;
          <mat-icon>games</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <section class="container">
        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label" for="account-perfil-misIntereses">
              Mis intereses
            </label>
          </div>

          <div class="col-sm-10">
            <textarea id="account-perfil-misIntereses" class="form-control" formControlName="misIntereses" rows="3"></textarea>
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label" for="account-perfil-hobbies">
              Hobbies
            </label>
          </div>

          <div class="col-sm-10">
            <textarea id="account-perfil-hobbies" class="form-control" formControlName="hobbies" rows="3"></textarea>
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label" for="account-perfil-seriesTV">
              Series de TV favoritas
            </label>
          </div>

          <div class="col-sm-10">
            <textarea id="account-perfil-seriesTV" class="form-control" formControlName="seriesTV" rows="3"></textarea>
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label" for="account-perfil-musicaFavorita">
              Música favorita
            </label>
          </div>

          <div class="col-sm-10">
            <textarea id="account-perfil-musicaFavorita" class="form-control" formControlName="musicaFavorita" rows="3"></textarea>
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label" for="account-perfil-deportesFavoritos">
              Deportes y equipos favoritos
            </label>
          </div>

          <div class="col-sm-10">
            <textarea id="account-perfil-deportesFavoritos" class="form-control" formControlName="deportesFavoritos" rows="3"></textarea>
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label" for="account-perfil-librosFavoritos">
              Libros favoritos
            </label>
          </div>

          <div class="col-sm-10">
            <textarea id="account-perfil-librosFavoritos" class="form-control" formControlName="librosFavoritos" rows="3"></textarea>
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label" for="account-perfil-peliculasFavoritas">
              Películas favoritas
            </label>
          </div>

          <div class="col-sm-10">
            <textarea id="account-perfil-peliculasFavoritas" class="form-control" formControlName="peliculasFavoritas" rows="3"></textarea>
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label" for="account-perfil-comidaFavorita">
              Comida favorita
            </label>
          </div>

          <div class="col-sm-10">
            <textarea id="account-perfil-comidaFavorita" class="form-control" formControlName="comidaFavorita" rows="3"></textarea>
          </div>
        </div>

        <div class="mb-3 mt-2 row field">
          <div class="col-sm-2 text-end">
            <label class="col-form-label" for="account-perfil-misHeroesSon">
              Mis héroes son
            </label>
          </div>

          <div class="col-sm-10">
            <textarea id="account-perfil-misHeroesSon" class="form-control" formControlName="misHeroesSon" rows="3"></textarea>
          </div>
        </div>

      </section>

      <div class="form-container--footer text-center">
        <button class="me-2" mat-flat-button color="primary" type="submit">
          <mat-icon>save</mat-icon> Guardar
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</form>
