<div class="container container--home pb-3 form-add-post">
    <div class="row">
        <div class="col-12 col-sm-8">
            <section class="mb-3">
                <label class="control-label">
                    <span></span> Titulo
                </label>

                <input type="text" class="form-control" />
            </section>

            <section class="mb-3">
                <label class="control-label">
                    <span></span> Contenido
                </label>

                <textarea class="form-control" rows="8"></textarea>
            </section>

            <section class="float-end">
                <button mat-flat-button color="accent">Previsualizar</button>
            </section>
        </div>

        <aside class="col-12 col-sm-4">
            <section class="mb-3">
                <label class="control-label">
                    <span></span> Categoría
                </label>

                <ng-select [items]="categorias" bindLabel="nombre" bindValue="id">
                    <ng-template ng-label-tmp let-item="item">
                        <img class="image-middle" style="margin-right: 2px;" height="15" width="15"
                            [src]="'/assets/images/categorias/' + item.icono" />
                        {{item.nombre}}
                    </ng-template>

                    <ng-template ng-option-tmp let-item="item" let-index="index">
                        <img class="image-middle" style="margin-right: 2px;" height="15" width="15"
                            [src]="'/assets/images/categorias/' + item.icono" />
                        {{item.nombre}}
                    </ng-template>
                </ng-select>
            </section>

            <section id="tagsfox" class="mb-3">
                <label><span></span>Etiquetas</label>

                <mat-form-field>
                    <mat-chip-list #chipList multiple>
                        <mat-chip *ngFor="let etiqueta of etiquetas" [selected]="etiqueta" [value]="etiqueta"
                            (removed)="removeEtiqueta(etiqueta)">
                            {{etiqueta}}
                        </mat-chip>
                        <input placeholder="Agregar etiqueta..." [matChipInputFor]="chipList"
                            (matChipInputTokenEnd)="addEtiqueta($event)">
                    </mat-chip-list>
                </mat-form-field>

                <p>Ingresa <b>al menos 4 etiquetas</b> distintas separadas por comas que describan el contenido de tu
                    post.</p>
            </section>

            <section class="mb-3">
                <label class="control-label">
                    ¿Quiénes pueden comentar?
                </label>

                <select class="form-control" tabindex="5">
                    <option value="0" selected="selected">Todos pueden comentar</option>
                    <option value="1">Nadie puede comentar</option>
                </select>
            </section>
        </aside>
    </div>
</div>