<div class="container container--home pb-3 form-add-post">
    <form [formGroup]="formGroup" (onSubmit)="publicarPost()">
        <div class="row">
            <div class="col-12 col-sm-8">
                <section class="mb-3">
                    <label class="control-label">
                        <span class="required"></span> Titulo
                    </label>

                    <input type="text" class="form-control" formControlName="titulo" maxlength="80" />
                </section>

                <section class="mb-3">
                    <label class="control-label">
                        <span class="required"></span> Contenido
                    </label>

                    <div class="NgxEditor__Wrapper">
                        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                        <ngx-editor [editor]="editor" formControlName="contenido"
                            [placeholder]="'Ingresa el Contenido'"></ngx-editor>
                    </div>
                </section>

                <!-- <section class="float-end">
                    <button mat-flat-button class="mat-success" (click)="previsualizar()">Previsualizar</button>
                </section> -->
            </div>

            <aside class="col-12 col-sm-4">
                <section class="mb-3">
                    <label class="control-label">
                        <span class="required"></span> Categoría
                    </label>

                    <ng-select [items]="categorias" bindLabel="nombre" bindValue="id" formControlName="categoriaId">
                        <ng-template ng-label-tmp let-item="item">
                            <img class="image-middle" style="margin-right: 2px;" height="15" width="15"
                                [src]="'/assets/images/categorias/' + item.icono" />
                            {{item.nombre}}
                        </ng-template>

                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            <img class="image-middle" style="margin-right: 2px;" height="15" width="15"
                                [src]="'/assets/images/categorias/' + item.icono" />
                            {{item.nombre}}
                        </ng-template>
                    </ng-select>
                </section>

                <section id="tagsfox" class="mb-3">
                    <label class="control-label">
                        <span class="required"></span> Etiquetas
                    </label>
                
                    <ng-select class="ng-select-borders" [items]="[]" [addTag]="true" [multiple]="true" [selectOnTab]="true"
                        [isOpen]="false" formControlName="etiquetas">
                    </ng-select>
                
                    <p>
                        Ingresa por favor <b>al menos 4 etiquetas</b> (ingresando cada una con la tecla <i>Enter</i> ) distintas que
                        describan el contenido de tu post.
                    </p>
                </section>

                <section class="mb-3">
                    <label class="control-label">
                        ¿Quiénes pueden comentar?
                    </label>

                    <ng-select [items]="quienPuedeComentar" bindLabel="label" bindValue="value"
                        formControlName="sinComentarios"></ng-select>
                </section>

                <section class="mb-3">
                    <label class="control-label">
                        Otras Opciones
                    </label>

                    <main class="p-3 border">
                        <section class="mb-3">
                            <mat-slide-toggle color="primary" formControlName="esPrivado">Post privado
                            </mat-slide-toggle>
                            <br class="my-2">
                            <small class="text-muted">Podrán verlo sólo usuarios registrados en Pixicity!</small>
                        </section>

                        <!-- <section class="mb-3">
                            <mat-slide-toggle color="primary">Visitas recientes</mat-slide-toggle>
                            <br>
                            <small class="text-muted">Se veran los últimos visitantes</small>
                        </section> -->

                        <!-- <section>
                            <mat-slide-toggle color="primary" formControlName="smileys">Sin smileys</mat-slide-toggle>
                            <br>
                            <small class="text-muted">Si tu post no necesita smileys</small>
                        </section> -->
                    </main>
                </section>

                <section class="mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <button mat-flat-button class="mat-gray" (click)="guardarBorrador()">
                                <fa-icon [icon]="['fas', 'save']"></fa-icon> Guardar en Borradores
                            </button>
                        </div>

                        <div class="col-12 col-sm-6 text-end">
                            <button type="submit" mat-flat-button class="mat-success" (click)="publicarPost()" [disabled]="formGroup.invalid">
                                <span *ngIf="!postId">
                                    <fa-icon [icon]="['far', 'check-circle']"></fa-icon> Publicar
                                </span>

                                <span *ngIf="postId">
                                    <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon> Actualizar
                                </span>
                            </button>
                        </div>
                    </div>
                </section>
            </aside>
        </div>
    </form>
</div>