<div class="container container--home">
    <div class="row">
        <div class="col-12 col-sm-9 p-3">
            <div class="ladoi">
                <div class="mb-3">
                    <p class="mb-4">
                        <b>Oops!</b> El post no existe o fue eliminado!
                    </p>

                    <small class="my-3">Pero no pierdas las esperanzas, no todo está perdido!</small>
                </div>

                <div class="boxposts">
                    <h6 class="main-title">
                        <span>Posts relacionados</span>
                    </h6>

                    <section class="listados my-3">
                        <div class="nada-gris">No se encontraron posts relacionados</div>
                    </section>
                </div>
            </div>
        </div>

        <div class="dotted-border--left col-12 col-sm-3 text-center">
            <img class="noim" src="/assets/images/ui/404graph.png">
        </div>
    </div>
</div>