p {
    margin: 0;
    font-size: 30px;
    letter-spacing: -1px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 5px;
}

b {
    color: #f60;
}

small {
    font-family: Georgia;
    font-style: italic;
    color: #888;
    font-size: .8rem;
}