<section class="sub-menu container">
    <div class="row">
        <div class="col-12">
            <ul class="list-unstyled list-inline mb-0 py-2">
                <li class="list-inline-item sub-menu--item sub-menu--item--active">
                    <a href="#">
                        <span>Inicio</span>
                    </a>
                </li>

                <li class="list-inline-item sub-menu--item">
                    <a href="#">
                        <span>Buscador</span>
                    </a>
                </li>

                <li class="list-inline-item sub-menu--item">
                    <a href="#">
                        <span>Crear Post</span>
                    </a>
                </li>

                <li class="list-inline-item sub-menu--item">
                    <a href="#">
                        <span>Historial</span>
                    </a>
                </li>

                <li class="list-inline-item sub-menu--item">
                    <a href="#">
                        <span>Moderación</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>