<app-main-profile-menu (selectedChanged)="selectedChanged($event)"></app-main-profile-menu>

<div class="container container--home">
    <div class="row">
        <div class="col-12 col-sm-9">
            <div class="ladoi">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-2">
                            <div class="perfil-avatar">
                                <a [routerLink]="['/perfil/' + currentUser.userName]">
                                    <app-user-avatar [avatar]="currentUser.avatar" [userName]="currentUser.userName"
                                        [height]="120"></app-user-avatar>
                                </a>
                            </div>
                        </div>

                        <div class="col-12 col-sm-10">
                            <div class="perfil-info">
                                <div class="row">
                                    <div class="col-12 col-sm-8">
                                        <h1 class="nick">
                                            {{currentUser?.completeName}}
                                        </h1>

                                        <div class="pani" [routerLink]="['/perfil/' + currentUser?.userName]">
                                            @{{currentUser?.userName}}
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-4">
                                        <div class="text-end">
                                            <app-genre-icon class="mx-2" [genre]="currentUser?.genero"></app-genre-icon>
                                            <addon-country-flag [iso2]="currentUser?.pais?.isO2"
                                                [title]="currentUser?.pais?.nombre"></addon-country-flag>
                                            <!-- <i class="icon date"></i> -->
                                            
                                            <img class="mx-2" src="/assets/images/icons/date.png" matTooltip="Se unió a Pixicity! el {{currentUser?.fechaRegistro | date:'dd'}} de {{currentUser?.fechaRegistro | date:'MMMM'}} del {{currentUser?.fechaRegistro | date: 'YYYY'}}"  />
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-2" *ngIf="currentUser.mensajePersonal">
                                    <div class="col-12">
                                        <div class="alert alert-secondary">
                                            {{currentUser.mensajePersonal}}
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-12 col-sm-2">
                                        <p>
                                            <app-genre-icon class="me-1" [genre]="currentUser.genero" [isFA]="true">
                                            </app-genre-icon>

                                            <span *ngIf="currentUser.genero === 'Otros'">Es un Otro</span>
                                            <span *ngIf="currentUser.genero === 'Masculino'">Es un Hombre</span>
                                            <span *ngIf="currentUser.genero === 'Femenino'">Es una Mujer</span>
                                        </p>
                                    </div>

                                    <div class="col-12 col-sm-2">
                                        <p>
                                            <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>
                                            Tiene <b>{{currentUser.edad}}</b> años
                                        </p>
                                    </div>

                                    <div class="col-12 col-sm-3">
                                        <p>
                                            <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>
                                            Vive en <b>{{currentUser?.pais?.nombre}}</b>
                                        </p>
                                    </div>

                                    <!-- <div class="col-12 col-sm-4">
                                        <p>
                                            <fa-icon [icon]="['fas', 'clock']"></fa-icon>
                                            Se unió a <b>Pixicity!</b> <b id="espp"> el {{currentUser?.fechaRegistro |
                                                date:'dd'}} de {{currentUser?.fechaRegistro | date:'MMMM'}} del
                                                {{currentUser?.fechaRegistro | date: 'YYYY'}}</b>
                                        </p>
                                    </div> -->
                                </div>

                                <div class="row mt-2">
                                    <div class="col-12 col-sm-2" *ngIf="loggedUser?.usuario?.userName !== currentUser.userName">
                                        <app-follow-button [userName]="currentUser.userName" [icon]="true"></app-follow-button>
                                    </div>

                                    <div class="col-12 col-sm-3" *ngIf="currentUser?.rango">
                                        <app-change-rango
                                            [data]="{ id: currentUser?.rango?.id, usuarioId: currentUser?.id, icono: currentUser.rango?.icono, color: currentUser.rango?.color, nombre: currentUser.rango?.nombre }">
                                        </app-change-rango>
                                    </div>

                                    <div class="col-12 col-sm-3" *ngIf="currentUser?.id">
                                        <app-banear-usuario
                                            [data]="{ usuarioId: currentUser?.id, nombre: currentUser.rango?.nombre}">
                                        </app-banear-usuario>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="headtop row">
                    </div>

                    <div class="row">
                        <div class="profile__summary col-12">
                            <div class="row">
                                <div class="col-12 col-sm-2">
                                    <p class="ranpe">
                                        <b style="color:#171717">

                                            <span
                                                [ngStyle]="{'color': currentUser?.rango?.color}">{{currentUser?.rango?.nombre}}</span>
                                            <span class="status online"></span>
                                        </b>
                                        <span>Rango</span>
                                    </p>
                                </div>

                                <div class="col-12 col-sm-2">
                                    <p>
                                        <b>
                                            {{currentUser?.puntos ? currentUser?.puntos : 0}}
                                        </b>

                                        <span>Puntos</span>
                                    </p>
                                </div>

                                <div class="col-12 col-sm-2">
                                    <p>
                                        <b>
                                            <a href="javascript:void(0)" (click)="currentSelection = 'posts'">
                                                {{currentUser.postsCount ? currentUser.postsCount : 0}}
                                            </a>
                                        </b>

                                        <span>Posts</span>
                                    </p>
                                </div>

                                <div class="col-12 col-sm-2">
                                    <p>
                                        <b>
                                            <a href="javascript:void(0)" (click)="currentSelection = 'comments'">
                                                {{currentUser.comentariosCount ? currentUser.comentariosCount : 0}}
                                            </a>
                                        </b>

                                        <span>Comentarios</span>
                                    </p>
                                </div>

                                <div class="col-12 col-sm-2">
                                    <p>
                                        <b>
                                            <a href="javascript:void(0)" (click)="currentSelection = 'followers'">
                                                {{currentUser.seguidoresCount ? currentUser.seguidoresCount : 0}}
                                            </a>
                                        </b>

                                        <span>Seguidores</span>
                                    </p>
                                </div>

                                <div class="col-12 col-sm-2">
                                    <p>
                                        <b>
                                            <a href="javascript:void(0)" (click)="currentSelection = 'following'">
                                                {{currentUser.siguiendoCount ? currentUser.siguiendoCount : 0}}
                                            </a>
                                        </b>

                                        <span>Siguiendo</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <app-profile-activity [user]="currentUser" *ngIf="currentSelection === 'activity'">
                    </app-profile-activity>
                    <app-profile-shouts *ngIf="currentSelection === 'shouts'"></app-profile-shouts>
                    <app-profile-posts [user]="currentUser" *ngIf="currentSelection === 'posts'"></app-profile-posts>
                    <app-profile-comments [user]="currentUser" *ngIf="currentSelection === 'comments'">
                    </app-profile-comments>
                    <app-profile-followers [user]="currentUser" *ngIf="currentSelection === 'followers'">
                    </app-profile-followers>
                    <app-profile-following [user]="currentUser" *ngIf="currentSelection === 'following'">
                    </app-profile-following>
                    <app-profile-information [user]="currentUser" *ngIf="currentSelection === 'information'">
                    </app-profile-information>
                </div>
            </div>
        </div>

        <div class="dotted-border--left col-12 col-sm-3 text-center">
            <app-perfil-social-media-buttons [usuarioId]="currentUser.id"></app-perfil-social-media-buttons>
            <app-perfil-user-medals [usuarioId]="currentUser.id"></app-perfil-user-medals>
            <app-perfil-user-followers [usuarioId]="currentUser.id"></app-perfil-user-followers>

            <ads-by-type class="my-3" [type]="'300x250'"></ads-by-type>
        </div>
    </div>
</div>