<div class="container my-3" style="padding: 0">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-9" style="padding-right: 58px;">
            <div class="row post-header">
                <div class="col-12 col-sm-10">
                    <app-posts-breadcrumb [post]="post"></app-posts-breadcrumb>
                </div>
        
                <div class="col-12 col-sm-2 text-end">
                    <app-posts-nav [post]="post"></app-posts-nav>
                </div>
            </div>

            <main class="boxpc">
                <h1>{{post?.titulo}}</h1>

                <div class="contenido">
                    <span [innerHTML]="post?.contenido"></span>
                </div>
            </main>

            <app-posts-tags [post]="post"></app-posts-tags>

            <section class="nels">
                <p>
                    <fa-icon [icon]="['fas', 'award']"></fa-icon> Dar puntos
                </p>
            </section>

            <app-posts-meta [post]="post"></app-posts-meta>

            <div class="interes">
                <h3>También te puede interesar...</h3>

                <div class="nada-gris">
                    No hay posts relacionados que te puedan interesar
                </div>
            </div>

            <app-post-comments *ngIf="post?.id" [post]="post"></app-post-comments>
        </div>

        <div class="col-12 col-sm-12 col-md-3">
            <div class="esees">
                <div class="eites">
                    <a class="nomis" href="#">
                        <img alt="Ver perfil de jjpoveda92" src="https://i.imgur.com/2Rs9AVg.jpeg"
                            style="width: 120px; height: 120px" />
                    </a>
                    <span>
                        <img src="/assets/images/icons/rosette.png" #tooltip="matTooltip" matTooltip="Administrador"
                            [matTooltipPosition]="'below'">
                        Administrador
                    </span>
                </div>

                <div class="gkes">
                    <div class="eolr">
                        <span class="tepe-online vctip" #tooltip="matTooltip" matTooltip="Online"
                            [matTooltipPosition]="'below'"></span>
                        <a href="#">{{post?.usuario?.userName}}</a>
                    </div>

                    <div class="nekes">
                        <fa-icon [icon]="['fas', 'mars']" class="vctip" tooltip="matTooltip" matTooltip="Hombre"
                            [matTooltipPosition]="'below'"></fa-icon>
                        <img class="vctip pai" src="/assets/images/flags/{{post?.usuario?.pais.toLowerCase()}}.png" />
                    </div>

                    <div class="eliese">
                        <div class="tyes">
                            <fa-icon [icon]="['far', 'user-circle']"></fa-icon> <b>3</b> Seguidores
                        </div>

                        <div class="tyes">
                            <fa-icon [icon]="['fas', 'chart-line']"></fa-icon> <b>5</b> Puntos
                        </div>

                        <div class="tyes">
                            <fa-icon [icon]="['far', 'copy']"></fa-icon> <b>1</b> Posts
                        </div>
                    </div>

                    <a class="bgris unfollow_user_post" style="display: none;">
                        Siguiendo
                    </a>

                    <a class="bverde follow_user_post">
                        Seguir
                    </a>
                </div>
            </div>

            <section class="my-1" *ngIf="post?.usuario?.userName === currentUser?.usuario?.userName">
                <div class="titulaw">
                    <h2>Herramientas</h2>
                </div>
            
                <div class="row">
                    <div class="col-12 col-sm-6 d-grid gap-2">
                        <button mat-flat-button color="primary" (click)="actualizarPost()">
                            <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon> Actualizar
                        </button>
                    </div>
            
                    <div class="col-12 col-sm-6 d-grid gap-2 text-end" (click)="eliminarPost()">
                        <button mat-flat-button color="danger">
                            <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon> Eliminar
                        </button>
                    </div>
                </div>

                <div class="row mt-2" *ngIf="currentUser?.usuario?.rango === 'Administrador' || currentUser?.usuario?.rango === 'Moderador'">
                    <div class="col-12 d-grid gap-2">
                        <button mat-flat-button color="warning" (click)="quitarSticky()">
                            <fa-icon [icon]="['fas', 'thumbtack']"></fa-icon> <span *ngIf="post.sticky"> Quitar</span> <span *ngIf="!post.sticky"> Establecer</span> Sticky
                        </button>
                    </div>
                </div>
            </section>

            <app-ads300x250></app-ads300x250>

            <section class="interes">
                <div class="titulaw">
                    <h2>Posts Relacionados</h2>
                </div>
            </section>
        </div>
    </div>
</div>