<div class="container my-3" style="padding: 0">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-9" style="padding-right: 58px;">
            <main class="boxpc">
                <h1>{{post?.titulo}}</h1>

                <div class="contenido">
                    <span [innerHTML]="post?.contenido"></span>
                </div>
            </main>

            <section class="tagbox">
                <div class="fortags">
                    <div class="letres">Tags:</div>

                    <div *ngFor="let etiqueta of post?.tags; let last = last">
                        <a rel="tag" href="#/buscar/posts/?q=PHPost&amp;type=tags">{{etiqueta}}</a>
                        <span *ngIf="!last">|</span>
                    </div>
                </div>
            </section>

            <section class="nels">
                <p>
                    <fa-icon [icon]="['fas', 'award']"></fa-icon> Dar puntos
                </p>
            </section>

            <section class="meta">
                <div class="metacentro">
                    <div id="puntos-agregados">Puntos agregados!</div>

                    <div class="float-start">
                        <div class="barpuntos">
                            <a href="#" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">{{i}}</a>
                        </div>
                    </div>

                    <div class="float-end">
                        <p class="cupuntos"><b id="puntos_post">5</b> Puntos</p>
                    </div>
                </div>

                <div class="metabottom">
                    <div class="botones float-start py-2">
                        <li>
                            <a onclick="notifica.sharePost(1);" class="tetese">P!</a>
                        </li>

                        <li>
                            <a href="#" onclick="add_favoritos(); return false">
                                <fa-icon [icon]="['fas', 'star']" class="favoritos"></fa-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <fa-icon [icon]="['fas', 'ban']" class="denunciar"></fa-icon> Denunciar
                            </a>
                        </li>

                        <li style="display: none;">
                            <a class="unfollow_post">
                                <fa-icon [icon]="['fas', 'eye']" class="dejar-seguir"></fa-icon> Dejar de seguir
                            </a>
                        </li>

                        <li>
                            <a class="follow_post">
                                <fa-icon [icon]="['fas', 'ban']" class="seguir"></fa-icon> Seguir Post
                            </a>
                        </li>
                    </div>

                    <div class="float-end py-2">
                        <div class="bulto"><strong>7</strong>Visitas</div>
                        <div class="bulto"><strong id="cfavori">1</strong>Favoritos</div>
                        <div class="bulto"><strong>0</strong>Medallas</div>
                        <div class="bulto"><strong id="cseguir">1</strong>Seguidores</div>
                    </div>
                </div>
            </section>

            <div class="interes">
                <h3>También te puede interesar...</h3>

                <div class="nada-gris">
                    No hay posts relacionados que te puedan interesar
                </div>
            </div>

            <a name="comentarios"></a>
            <div class="mx-auto" id="post-comentarios">
                <div class="titular">
                    <h3>
                        <span id="ncomments">{{comentarios?.length}}</span> comentarios - {{post?.titulo}}
                    </h3>

                    <img src="/assets/images/min-carga.gif" id="com_gif" style="display: none;">
                </div>

                <div id="comentarios" style="opacity: 1;" *ngFor="let comentario of comentarios" (mouseover)="comentario.actions=true" (mouseout)="comentario.actions=false">
                    <div id="respnuevas">
                        <span id="citar_comm_14" style="display:none">Comentario 1</span>
                        <div class="comentario-post clearbeta" style="border-top:0;">
                            <div class="avatar-box" style="z-index: 99;">
                                <a href="#">
                                    <img width="48" height="48" title="Avatar de nesticle8bit en V6New"
                                        src="https://i.imgur.com/2Rs9AVg.jpeg" class="avatar-48 lazy"
                                        style="position: relative; z-index: 1; display: inline;">
                                </a>
                            </div>

                            <div class="comment-box">
                                <div class="comment-info clearbeta">
                                    <div class="float-start">
                                        <div class="floatL">
                                            <a href="#">{{comentario?.userName}}</a>
                                            <span> {{comentario?.fechaComentario | timeAgo}}</span>
                                        </div>

                                        <div class="numbersvotes">
                                            <div class="overview">
                                                <span class="positivo" id="votos_total_14"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="float-end answerOptions" *ngIf="comentario.actions">
                                        <div class="botonear">
                                            <a>
                                                <fa-icon [icon]="['fas', 'reply']" class="reply"></fa-icon>
                                            </a>

                                            <a>
                                                <fa-icon [icon]="['fas', 'pencil-alt']" class="edit"></fa-icon>
                                            </a>

                                            <a>
                                                <fa-icon [icon]="['fas', 'times']" class="times"></fa-icon>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div id="comment-body-14" class="comment-content">
                                    {{comentario?.contenido}}
                                </div>
                            </div>
                        </div>

                        <!-- <div id="respuestas">
                            <div id="div_cmnt_15" class="especial1">
                                <span id="citar_comm_15" style="display:none">Comentario 2</span>
                                <div class="comentario-post clearbeta">
                                    <div class="avatar-box" style="z-index: 98;">
                                        <a href="#">
                                            <img width="32" height="32" title="" src="https://i.imgur.com/2Rs9AVg.jpeg"
                                                class="avatar-48 lazy"
                                                style="position: relative; z-index: 1; display: inline;">
                                        </a>
                                    </div>

                                    <div class="comment-box" id="pp_15">
                                        <div class="comment-info clearbeta">
                                            <div class="floatL">
                                                <div class="floatL"><a href="#">nesticle8bit</a><span>
                                                        Hace 7 días</span></div>
                                                <div class="numbersvotes">
                                                    <div class="overview">
                                                        <span class="positivo" id="votos_total_15"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="floatR answerOptions" id="opt_15">
                                                <div id="ul_cmt_15" class="botonear">

                                                    <a class="qtip" onclick="citar_comment(15, 'nesticle8bit')"
                                                        title="Citar"><span class="i citare"></span></a>

                                                    <a class="qtip" onclick="comentario.editar(15, 'show')"
                                                        title=""><span class="toup-edit2"></span></a>
                                                    <a class="qtip" onclick="borrar_respuesta(15, 19, 8)" title=""><span
                                                            class="toup-x"></span></a>

                                                </div>
                                            </div>
                                        </div>
                                        <div id="comment-body-15" class="comment-content">
                                            Comentario 2
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="resp">
                            <div id="restoup">
                                <div class="answerInfo">
                                    <img src="https://i.imgur.com/2Rs9AVg.jpeg">
                                </div>

                                <div class="Container">
                                    <div class="error"></div>
                                    <textarea id="bodys_comm_14" class="onblur_effect autogrow" tabindex="1"
                                        title="Escribir una respuesta..."
                                        placeholder="Escribir una respuesta..."></textarea>
                                    <div class="buttons">
                                        <div class="float-end">
                                            <input type="button" onclick="comentario.nuevos('true', '', 14)"
                                                class="boton azul" value="Responder" tabindex="3" id="btnssComment">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>

                    <div id="nuevos"></div>
                </div>
            </div>

            <form class="miComentario mx-auto" [formGroup]="formGroup">
                <div id="procesando">
                    <div id="post"></div>
                </div>
                <div class="creul">
                    <img src="https://v6new.lucky-forum.com/files/avatar/19_50.jpg?20210802032821" class="avese">
                    <div id="gif_cargando" style="display: none;margin:10px 3px 0 3px;">
                        <img src="https://v6new.lucky-forum.com/themes/default/i/min-carga.gif">
                    </div>
                </div>
                <div class="Container">
                    <div class="clearBoth">&nbsp;</div>
                    <div class="error"></div>

                    <textarea id="body_comm" class="autogrow onblur_effect" tabindex="1"
                        placeholder="Escribir un comentario..." formControlName="contenido"></textarea>

                    <div class="buttons">
                        <div class="float-end">
                            <a class="boton azul" (click)="enviarComentario()">
                                Comentar
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-12 col-sm-12 col-md-3">
            <div class="esees">
                <div class="eites">
                    <a class="nomis" href="#">
                        <img alt="Ver perfil de jjpoveda92" src="https://i.imgur.com/2Rs9AVg.jpeg"
                            style="width: 120px; height: 120px" />
                    </a>
                    <span>
                        <img src="/assets/images/icons/rosette.png" #tooltip="matTooltip" matTooltip="Administrador"
                            [matTooltipPosition]="'below'">
                        Administrador
                    </span>
                </div>

                <div class="gkes">
                    <div class="eolr">
                        <span class="tepe-online vctip" #tooltip="matTooltip" matTooltip="Online"
                            [matTooltipPosition]="'below'"></span>
                        <a href="#">{{usuario?.userName}}</a>
                    </div>

                    <div class="nekes">
                        <fa-icon [icon]="['fas', 'mars']" class="vctip" tooltip="matTooltip" matTooltip="Hombre"
                            [matTooltipPosition]="'below'"></fa-icon>
                        <img class="vctip pai" src="/assets/images/flags/{{usuario?.pais.toLowerCase()}}.png" />
                    </div>

                    <div class="eliese">
                        <div class="tyes">
                            <fa-icon [icon]="['far', 'user-circle']"></fa-icon> <b>3</b> Seguidores
                        </div>

                        <div class="tyes">
                            <fa-icon [icon]="['fas', 'chart-line']"></fa-icon> <b>5</b> Puntos
                        </div>

                        <div class="tyes">
                            <fa-icon [icon]="['far', 'copy']"></fa-icon> <b>1</b> Posts
                        </div>
                    </div>

                    <a class="bgris unfollow_user_post" style="display: none;">
                        Siguiendo
                    </a>

                    <a class="bverde follow_user_post">
                        Seguir
                    </a>
                </div>
            </div>

            <app-ads300x250></app-ads300x250>

            <section class="interes">
                <div class="titulaw">
                    <h2>Posts Relacionados</h2>
                </div>
            </section>
        </div>
    </div>
</div>