<!-- <div class="cta-crear-post mb-2">
  <div class="cta-crear-post__icon">
    <i class="ti ti-bulb"></i>
  </div>

  <div class="cta-crear-post__body">
    <p class="cta-crear-post__title">¡Súmate a la Inteligencia Colectiva!</p>
    <span class="cta-crear-post__subtitle">Comparte lo que sabes con la comunidad</span>
  </div>

  <a [routerLink]="['/crear/post']" class="cta-crear-post__btn">
    <i class="ti ti-pencil-plus"></i>
    <span>Crear Post</span>
  </a>
</div> -->

<div class="boxposts separa mb-2">
  <div class="titular">
    <h2>Estadísticas</h2>
  </div>
  <div class="estabox">
    <div class="lin">
      <span class="float-start">
        <a [routerLink]="['/usuarios']">
          <b>{{estadisticas?.usuariosOnline}}</b> Usuarios online
        </a>
      </span>
      <span class="float-end">
        <b>{{estadisticas?.usuarios}}</b> Miembros
      </span>
    </div>
    <div class="lin">
      <span class="float-start"><b>{{estadisticas?.posts}}</b> Posts</span>
      <span class="float-end"><b>{{estadisticas?.comentarios}}</b> Comentarios</span>
    </div>
  </div>

  @if (estadisticas?.recordUsers?.usersOnline) {
  <div class="paginar">
    🎉 Récord: <b>{{estadisticas?.recordUsers?.usersOnline}}</b> conectados el
    {{estadisticas?.recordUsers?.date | date:'dd/MM/yyyy'}}
  </div>
  }

  <div class="view-more-list">
    <a href="/en-vivo">Taringa! en vivo</a>
  </div>
</div>
