<div class="boxposts separa mb-2">
  <div class="box-crear-post">
    <p>¡Súmate a la Inteligencia Colectiva!</p>
    <a [routerLink]="['/crear/post']">¡Crea tu Post ahora!</a>
  </div>
</div>

<div class="boxposts separa mb-2">
  <div class="titular">
    <h2>Estadísticas</h2>
  </div>
  <div class="estabox">
    <div class="lin">
      <span class="float-start">
        <a [routerLink]="['/usuarios']">
          <b>{{estadisticas?.usuariosOnline}}</b> Usuarios online
        </a>
      </span>
      <span class="float-end">
        <b>{{estadisticas?.usuarios}}</b> Miembros
      </span>
    </div>
    <div class="lin">
      <span class="float-start"><b>{{estadisticas?.posts}}</b> Posts</span>
      <span class="float-end"><b>{{estadisticas?.comentarios}}</b> Comentarios</span>
    </div>
  </div>

  @if (estadisticas?.recordUsers?.usersOnline) {
  <div class="paginar">
    🎉 Récord: <b>{{estadisticas?.recordUsers?.usersOnline}}</b> conectados el
    {{estadisticas?.recordUsers?.date | date:'dd/MM/yyyy'}}
  </div>
  }
</div>
