<footer class="container">
    <div class="row" *ngIf="display?.searchFooter">
        <div class="col-12" style="padding: 0 0px;">
            <div class="seccion">
                <div class="inpie">
                    <div class="busb float-start">
                        <form [formGroup]="formGroup" (ngSubmit)="search()" action="/buscar/posts/" name="top_search_box">
                            <input class="bbcuerpo" type="text" name="q" value="" formControlName="search" placeholder="Buscar..." />
                            <input class="bbboton" vspace="2" hspace="10" type="submit" value="" />
                        </form>
                    </div>

                    <a class="ircielo float-end" (click)="goToHeaven()">
                        Ir al cielo
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="display?.footer">
        <div class="col-12">
            <div class="footer text-center">
                <a [routerLink]="['/contacto']">Contacto</a>
                <a [routerLink]="['/protocolo']">Protocolo</a>
                <a [routerLink]="['/terminos-condiciones']">Términos y condiciones</a>
                <a [routerLink]="['/privacidad-datos']">Privacidad de datos</a>
                <a [routerLink]="['/dmca']" title="Digital Millennium Copyright Act">DMCA</a>
                <a [routerLink]="['/api']">API</a>
                <a href="https://discord.gg/rBs8xGTV5S" target="_blank">
                    🧙🏽‍♂️Chat
                </a>
            </div>
        </div>
    </div>

    <div class="text-center copyright">
        <small>
            Desarrolado con ❤️ por <a [routerLink]="['/perfil/nesticle8bit']">nesticle8bit</a> | versión: 1.1.35
        </small>

        <br><br>
    </div>
</footer>