<footer class="container">
    <div class="row">
        <div class="col-12" style="padding: 0 0px;">
            <div class="seccion">
                <div class="inpie">
                    <div class="busb float-start">
                        <form action="/buscar/posts/" name="top_search_box" gid="partner-pub-5535725517227860:7900040286">
                            <input class="bbcuerpo" type="text" name="q" onkeypress="ibuscador_intro(event)" value=""
                                placeholder="Buscar...">
                            <input class="bbboton" vspace="2" hspace="10" type="submit" value="">
                        </form>
                    </div>
                    
                    <a class="ircielo float-end" onclick="$('body').scrollTo(0)">
                        Ir al cielo
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="footer-copyright text-center">
                <a href="#">Chat</a>
                <a href="#">Protocolo</a>
                <a href="#">Términos y condiciones</a>
                <a href="#">Privacidad de datos</a>
            </div>
        </div>
    </div>
</footer>