<div class="container container--home comunidades-home">
  <div class="row">
    <div class="col-12 col-lg-6">
      <app-comunidades-temas-recientes></app-comunidades-temas-recientes>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <app-comunidades-stats></app-comunidades-stats>
      <app-comunidades-ultimos-comentarios></app-comunidades-ultimos-comentarios>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <app-comunidades-top></app-comunidades-top>
      <app-comunidades-top-temas></app-comunidades-top-temas>
    </div>
  </div>
</div>