<div class="container container--home">
    <div class="row">
        <div class="col-12">
            <h1 class="dashboard--title">
                <strong>
                    Privacidad de Datos
                </strong>
            </h1>

            <p><em>Fecha última actualización: 7 de junio de 2022</em></p>

            <p>Te damos la bienvenida a Pixicity! (“<strong>Pixicity!</strong>”). Pixicity! es una plataforma social
                donde
                millones de usuarios diariamente comparten todo tipo de contenido a través de sus publicaciones. Dicho
                contenido es publicado dentro de canales temáticos y dentro de los mismos es comentado y valorado por la
                comunidad dándole mayor visibilidad a lo que los usuarios consideran relevante.</p>

            <p>En estas políticas de privacidad (las “<em>Políticas de Privacidad</em>”) se describe cómo recopilamos,
                utilizamos, compartimos y protegemos la información recolectada en el marco de los servicios existentes
                actualmente o que resulten incluidos en el futuro dentro del sitio web {{configuracion?.url}} (los
                “<strong>Servicios</strong>”, y el “<strong>Sitio</strong>” respectivamente), así como las opciones y
                derechos que tienes respecto de la recopilación y utilización de la información por parte de Pixicity!.
            </p>

            <p>Al utilizar nuestro Sitio entiendes y aceptas que te proporcionamos una plataforma para publicar datos
                personales, contenido, incluyendo fotos, comentarios y otros materiales ("<em>Contenido de
                    Usuario</em>"). Esto significa que otros Usuarios pueden buscar, ver, utilizar o compartir cualquier
                Contenido de Usuario que hagas público a través del Sitio, conforme a los términos y condiciones de
                estas Políticas de Privacidad y nuestros términos y condiciones (que puedes encontrar en <a
                    [routerLink]="['/terminos-condiciones']">https://{{configuracion?.url}}/terminos-condiciones</a>)
            </p>

            <p>
                Estas Políticas de Privacidad se aplican a todos los visitantes, usuarios y otras personas que accedan al
                Servicio ("<strong>Usuarios</strong>").
            </p>

            <h5>La aceptación por parte de los Usuarios</h5>

            <p>Cuando un Usuario accediere al Sitio y/o utilizare el Servicio y/o accediera a cualquiera de los
                contenidos existentes en el Sitio, dicha circunstancia implicará el conocimiento y plena aceptación con
                respecto a todas y cada una de las disposiciones contenidas en las presentes Políticas de Privacidad por
                parte de dicho Usuario.</p>

            <p>Pixicity! podrá requerir información a los Usuarios para prestarle todo o parte del Servicio. Por
                ejemplo,
                cada Usuario debe tener una cuenta para subir o compartir contenido en Pixicity!. Cuando un Usuario opta
                por compartir dicha información con nosotros, la recopilamos y utilizamos para administrar nuestro
                Servicio, de conformidad a lo previsto por las presentes Políticas de Privacidad.</p>

            <p>El Usuario que no acepte, se halle en desacuerdo, o incurriere en incumplimiento de las disposiciones
                fijadas por Pixicity! en estas Políticas de Privacidad, no contará con autorización para acceder al
                Sitio, continuar con el uso del Servicio ni de los contenidos que existen o puedan existir en el Sitio,
                debiendo abstenerse de acceder y/o utilizar el Sitio y/o el Servicio.</p>

            <h5>¿Qué tipo de información recopilamos?</h5>

            <p>El tipo de información que recopila Pixicity! depende de la forma en la que el Usuario utiliza el Sitio
                y/o el Servicio. Pixicity! recopila el contenido, las comunicaciones y otros datos que los Usuarios
                proporcionan cuando utilizan el Sitio y/o el Servicio, por ejemplo, cuando se registran al crear una
                cuenta, crean o comparten contenido y envían mensajes a otras personas. Dicha información puede
                corresponder a datos incluidos en el contenido que se proporciona o relacionados con este, como el lugar
                donde se hizo una foto o la fecha de creación de un archivo. También puede incluir el contenido que cada
                Usuario ve a través de las funciones que se encuentran disponibles en el Sitio, de modo que podamos
                realizar acciones como sugerir publicaciones y posts basados en el interés de cada Usuario.</p>
            <h5>Datos de registro</h5>
            <p>Recibimos información cuando un Usuario visualiza contenidos o interactúa de alguna forma con el Sitio,
                lo que denominamos “<strong>Datos de Registro</strong>”, incluso si no ha creado una cuenta. Por
                ejemplo, cuando un Usuario visita nuestro Sitio, se suscribe a nuestro Servicio, interactúa con nuestras
                notificaciones de correo electrónico, utiliza su cuenta para autenticarse en un servicio de terceros o
                visita un servicio de terceros que incluye contenidos de Pixicity!, podemos recibir información sobre
                dicho Usuario. Estos Datos de Registro incluyen información, como ser, su dirección IP, tipo de
                navegador, sistema operativo, página web de procedencia, páginas web visitadas, ubicación, proveedor de
                servicios de telefonía móvil, información del dispositivo (incluidas las ID del dispositivo y de la
                aplicación), términos de búsqueda (incluyendo aquellos que no se envían como consultas), e información
                de cookies. También recibimos Datos de Registro cuando un Usuario hace clic en un enlace en el Sitio, lo
                ve o interactúa con él, lo que incluye cuando instala otra aplicación a través de Pixicity!. Utilizamos
                Datos de Registro para administrar nuestro Servicio y asegurarnos de que funcionan de forma segura,
                fiable e íntegra. Por ejemplo, utilizamos Datos de Registro para proteger la seguridad de las cuentas y
                determinar qué contenido es popular en el Sitio. También utilizamos estos datos para mejorar el
                contenido que le mostramos, incluyendo los anuncios, así como para mejorar la efectividad de nuestro
                propio marketing.</p>
            <p>Utilizamos información que nos proporciona y datos que recibimos de cada Usuario, incluyendo los Datos de
                Registro y datos obtenidos de terceros, para deducir qué temas le pueden interesar, su edad y qué
                idiomas habla. Esto nos ayuda a diseñar y promocionar mejor nuestro Servicio y personalizar el contenido
                que le mostramos, incluyendo los anuncios.</p>
            <h5>Información publica</h5>
            <p>La mayor parte de la actividad en Pixicity! es pública, lo que incluye información de perfil, zona
                horaria
                e idioma, la fecha de creación de la cuenta de Usuario y las publicaciones realizadas por dicho Usuario,
                así como cierta información de sus publicaciones, como ser, la fecha y hora de las mismas. Asimismo, si
                un Usuario desea responder o interactuar públicamente con un anuncio en el Sitio y/o como consecuencia
                del uso de nuestros Servicio, ese anunciante podría obtener información sobre dicho Usuario asociada con
                el anuncio con el que interactuó, como las características de la audiencia a la que estaba destinado el
                anuncio. También, los votos positivos, negativos, publicaciones compartidas, comentarios a publicaciones
                e incorporación de publicaciones a bookmarks constituyen información pública que podrá ser utilizada por
                Pixicity! para la prestación del Servicio y, consecuentemente, podrá ser accedida por otros Usuarios del
                Sitio. Finalmente, otros Usuarios que utilicen nuestro Servicio también podrán publicar información
                sobre un Usuario determinado (sujeto al cumplimiento de los Términos y Condiciones del Servicio) y dicha
                información también revestirá el carácter de pública.</p>
            <p>Cada Usuario es responsable de sus publicaciones y otras informaciones que proporcione a través de
                nuestro Servicio, y debe pensar con detenimiento lo que hace público, especialmente si se trata de
                información sensible. Si un Usuario actualiza su información pública en Pixicity!, por ejemplo,
                eliminando una publicación o desactivando su cuenta, dicho contenido actualizado podrá verse reflejado
                en el Sitio y/o ser accedido por otros Usuarios del Servicio.</p>
            <p>Al publicar contenido en el Sitio y/o la Aplicación, cada Usuario está autorizando a Pixicity! para que
                divulgue esa información de la manera más amplia posible, incluso poniéndola a disposición de terceros a
                través de nuestra interfaz de programación de aplicaciones o API documentation
                (“<strong>API</strong>”), y autorizando a los terceros que acceden a la información a través de nuestras
                API para que hagan lo mismo. Para facilitar la rápida difusión global de publicaciones a personas de
                todo el mundo, a través de las API e integraciones permitimos que esta información pueda ser utilizada
                por sitios web, aplicaciones y servicios de terceros (por ejemplo, para mostrar publicaciones en una web
                de noticias o analizar lo que la gente dice en Pixicity!). El acceso y utilización, por parte de
                terceros, de la información disponible en el Sitio y/o a través del Servicio se encuentra sujeto al
                cumplimiento de las políticas establecidas por Pixicity! incluyendo estas Políticas de Privacidad. No
                obstante lo anterior, estos terceros no están asociados con Pixicity! y sus contenidos pueden no
                reflejar
                las actualizaciones que usted realice en Pixicity!. Para más información sobre cómo ponemos a
                disposición
                de terceros la información de Pixicity!, visite <a [routerLink]="['api']">/api/</a>.
            </p>
            <h5>Utilización del chat y comunicaciones no públicas</h5>
            <p>Mediante el Sitio, Pixicity! proporciona ciertas características que permiten a los Usuarios comunicarse
                de una forma más privada o controlar quién ve su contenido. Por ejemplo, un Usuario puede utilizar el
                chat privado de Pixicity! (el “Chat”) ara mantener conversaciones en la plataforma que no sean públicas.
                Cuando un Usuario se comunique con otros enviando o recibiendo Chats directos, almacenaremos y
                procesaremos sus comunicaciones y la información relacionada con ellas con la finalidad de prestar
                adecuadamente dicho servicio y proteger a los Usuarios. Esto incluye el escaneo de enlaces para detectar
                contenidos maliciosos, acortamiento URLs, detección de correo no deseado, abusos, e imágenes prohibidas
                y uso de asuntos denunciados. También utilizamos información sobre con quién se ha comunicado cada
                Usuario y cuándo (pero no el contenido de estas comunicaciones) para comprender mejor la utilización de
                nuestro Servicio, proteger la seguridad e integridad del mismo y mostrar un contenido más relevante para
                cada Usuario. Asimismo, compartimos el contenido de sus Chats directos con las personas a las que se los
                haya enviado. En ningún caso utilizamos dicha información para mostrarle anuncios.</p>
            <p>Sin perjuicio de lo anterior, si un Usuario utiliza cualquier contenido o información recibida mediante
                un Chat para interactuar de una forma que normalmente sería pública, por ejemplo, haciendo me gusta en
                una publicación, dichas interacciones serán públicas y no quedarán cubiertas por lo dispuesto en el
                presente apartado. Asimismo, cada Usuario conservará su propia copia de sus comunicaciones en Pixicity!
                realizadas mediante Chat (incluso si un Usuario elimina su copia de dichos mensajes de su cuenta, el
                Usuario con el que se hubiera comunicado conservará una copia de dicha comunicación en tanto no decida
                eliminarla), la cual pueden duplicar, almacenar o compartir con terceros.</p>
            <h5>Calificación de posts y comentarios</h5>
            <p>Esta funcionalidad consiste en la posibilidad que tienen los Usuarios, sujeto a ciertos términos y
                condiciones, de efectuar una ponderación o calificación sobre los posts fijados por otro Usuario.</p>
            <p>La calificación que reciba cada post será exhibida sobre el mismo, de esta forma el Usuario que realizó
                el post podrá conocer la opinión general de los demás usuarios expresada a través de la calificación de
                la que fueran merecedores sus posts. Al efectuar una calificación de un post cada Usuario expresamente
                autoriza a Pixicity! a utilizar dicha información para mostrar la calificación otorgada en el Sitio.</p>
            <p>Otro de los servicios brindados por Pixicity!, reservado sólo a Usuarios registrados, es la posibilidad
                de
                incorporar comentarios en forma de mensajes sobre un post de otro Usuario, de tal forma que permita un
                intercambio de opiniones o aportes sobre el post que viene a comentar. Al realizar un comentario sobre
                un post, el Usuario autoriza expresamente a Pixicity! a utilizar la información contenida en dicho
                comentario con la finalidad de mostrar el mismo en el Sitio.</p>
            <h5>Información de ubicación</h5>
            <p>Pixicity! podrá requerir información sobre el acceso y ubicación actual de los Usuarios, que se obtiene
                de
                señales como la dirección IP o parámetros de dispositivo, para configurar y mantener la cuenta de cada
                Usuario de forma segura y fiable y prestarle nuestro Servicio.</p>
            <p>En función de su configuración, Pixicity! podrá recopilar, utilizar y almacenar información adicional
                sobre la ubicación de los Usuarios (como la ubicación actual específica o los lugares en los que ha
                utilizado Pixicity! con anterioridad) para administrar o personalizar nuestro Servicio; por ejemplo
                incluyendo contenido más relevante como tendencias, acontecimientos, anuncios y sugerencias locales para
                que las sigan los Usuarios.</p>
            <h5>Datos de Taringa para la red</h5>
            <p>Cuando un Usuario visualiza nuestro contenido en sitios web de terceros con contenido de Pixicity!
                incorporado, como por ejemplo cronologías integradas, podemos recibir Datos de Registro que incluyan la
                página web que visitó. Utilizamos esta información para comprender mejor el uso que se hace de nuestro
                Servicio, proteger la seguridad e integridad de nuestro Sitio y mostrar contenido más relevante,
                incluyendo los anuncios. No asociamos este historial de navegación en la red con el nombre, dirección de
                correo electrónico, número de teléfono o nombre de usuario de un Usuario.</p>
            <h5>Contenido de terceros</h5>
            <p>En uso del Sitio y/o el Servicio ofrecidos por Pixicity!, el Usuario puede tener acceso a contenidos
                provistos por otros Usuarios o terceros. Pixicity! realiza sus mejores esfuerzos para controlar el
                material que le es suministrado a cada Usuario, sin embargo, el Usuario acepta que eventualmente podrá
                ser expuesto a contenido de terceros que sea falso, ofensivo, indecente o de otra manera inaceptable.
                Bajo ninguna circunstancia Pixicity! será responsable de cualquier contenido de terceros ni responderá
                por cualquier infracción, daño o perjuicio ocasionado por dicho contenido.</p>
            <h5>Enlaces</h5>
            <p>Para administrar nuestro Servicio realizamos un seguimiento de cómo interactúa cada Usuario con los
                enlaces disponibles en el Sitio y/o los Servicios. Esto incluye los enlaces en los correos electrónicos
                que se envían a los Usuarios y los enlaces en las publicaciones que aparecen en otros sitios web o
                aplicaciones móviles.</p>
            <p>Si un Usuario hace clic en un enlace externo o anuncio disponible en el Sitio y/o mediante nuestro
                Servicio, el anunciante o administrador del sitio web correspondiente puede saber que dicho Usuario
                accedió desde Pixicity!, junto con otra información asociada con el anuncio en el que hizo clic como las
                características del público al que pretendía llegar. También pueden recopilar otros datos personales
                sobre el Usuario, como cookies o su dirección IP.</p>
            <h5>Cookies</h5>
            <p>Al momento de acceder al Sitio y/o utilizar el Servicio, cada Usuario presta su consentimiento para la
                utilización de cookies o tecnologías similares en el Sitio y/o el Servicio.</p>
            <p>Una cookie es un pequeño conjunto de datos que se almacena en su ordenador o dispositivo móvil. Al igual
                que muchos sitios web, utilizamos cookies y tecnologías similares para recopilar datos adicionales de
                uso del Sitio y administrar nuestro Servicio. No se requieren cookies para muchas funcionalidades de
                nuestro Servicio como la búsqueda y visualización de perfiles públicos. Aunque la mayoría de los
                navegadores aceptan cookies automáticamente, en la configuración de dichos navegadores puede
                establecerse que deje de aceptar cookies o que le avise al Usuario cuando un sitio web está intentando
                colocar una cookie en su ordenador. Sin embargo, alguna parte de nuestro Servicio puede no funcionar
                correctamente si deshabilita las cookies. Cuando el navegador o dispositivo lo permite, utilizamos tanto
                cookies de sesión como cookies permanentes para conocer mejor cómo interactúa cada Usuario con el Sitio
                y nuestro Servicio, obtener patrones de uso agregado y personalizar y administrar de otras formas
                nuestro Servicio, como proporcionando seguridad a la cuenta, personalizando el contenido que le
                mostramos, incluyendo los anuncios, y recordando sus preferencias de idioma. Nuestro Servicio no es
                compatible con la opción No realizar seguimiento (DNT) del navegador. Para obtener más información
                acerca de cómo usamos las cookies y tecnologías similares, puede visitar la secció “<a
                    href="/cookies-policy">Política de Cookies</a>”.</p>
            <h5>Anunciantes y otros socios publicitarios</h5>
            <p>Los ingresos que obtenemos de la publicidad nos permiten mantener y mejorar nuestro Servicio. Utilizamos
                la información que se describe en estas Políticas de Privacidad como ayuda para que nuestra publicidad
                sea más relevante para los Usuarios, para medir su efectividad y para ayudarnos a reconocer sus
                dispositivos para proporcionarle anuncios dentro y fuera de Pixicity!. Compartimos determinada
                información con nuestros socios publicitarios y afiliados, tales como ID de cookies del navegador, ID de
                dispositivos móviles, direcciones de correo electrónico cifradas mediante hash, datos demográficos o de
                intereses de usuarios, así como contenido visualizado o acciones realizadas en una página web o
                aplicación. Algunos de nuestros socios publicitarios, en concreto nuestros anunciantes, también nos
                permiten recopilar información similar directamente desde su página web o aplicación integrando nuestra
                tecnología de publicidad. La información compartida por socios publicitarios y afiliados o recopilada
                por Pixicity! de los sitios web y aplicaciones de socios publicitarios y afiliados puede combinarse con
                la otra información que un Usuario comparte con Pixicity! y que Pixicity! recibe sobre los Usuarios,
                descrita en otra parte de nuestras Políticas de Privacidad.</p>
            <h5>Desarrolladores</h5>
            <p>Si una persona o entidad accede a nuestras API o al Pixicity! API documentation, procesamos sus
                datos personales para facilitar la prestación de nuestro Servicio. Usted puede actualizar sus datos
                poniéndose directamente en contacto con nosotros según se describe en estas Políticas de Privacidad.</p>
            <h5>Otros terceros y afiliados</h5>
            <p>Podemos recibir información sobre Usuarios por parte de terceros que no sean nuestros socios
                publicitarios, como otros Usuarios de Pixicity!, socios que nos asisten en la evaluación de la seguridad
                y calidad del contenido del Sitio y nuestro Servicio, nuestras filiales y otros servicios que un Usuario
                vincule a su cuenta de Pixicity!.</p>
            <p>Cualquier Usuario puede decidir conectar su cuenta de Pixicity! a cuentas en otro servicio y ese servicio
                puede enviarnos información sobre la cuenta del Usuario en dicho servicio. Utilizamos la información que
                recibimos para proporcionarle características como la autenticación “<strong>cross-posting</strong>” o
                “<strong>cross-service</strong>” y para administrar nuestro Servicio.</p>
            <h5>Personalización basada en su identidad inferida</h5>
            <p>Cuando un Usuario inicia sesión en Pixicity! en un navegador o dispositivo, nosotros asociaremos ese
                navegador o dispositivo con la cuenta de dicho Usuario con fines tales como la autenticación, la
                seguridad y la personalización. En función de su configuración, también podemos asociar dicha cuenta con
                navegadores o dispositivos distintos a aquellos que el Usuario utilice para acceder a Pixicity! (o
                asociar dichos dispositivos o navegadores a otros navegadores o dispositivos). Cuando un Usuario
                proporciona otra información a Pixicity!, incluida una dirección de correo electrónico, asociamos esa
                información con su cuenta de Pixicity!. Sujeto a su configuración, también podemos usar esta información
                para inferir otra información sobre la identidad de dicho Usuario, por ejemplo, asociando su cuenta con
                hashes de direcciones de correo electrónico que comparten componentes comunes con la dirección de correo
                electrónico que el Usuario ha proporcionado a Pixicity!. Hacemos esto para administrar y personalizar
                nuestro Servicio. Por ejemplo, si un Usuario en su ordenador portátil visita sitios web con contenidos
                deportivos, podemos mostrarle anuncios relacionados con el deporte en Pixicity! para Android y, si la
                dirección de correo electrónico asociada con su cuenta comparte componentes con otra dirección de correo
                electrónico, como el nombre, apellido o iniciales compartidos, es posible que luego le enviemos anuncios
                de anunciantes que intentaban llegar a las direcciones de correo electrónico que contienen esos
                componentes.</p>
            <h5>Uso de la Información y Privacidad</h5>
            <p>Pixicity! utilizará la información suministrada por el Usuario exclusivamente con la finalidad expuesta
                en
                las presentes Políticas de Privacidad, y en todo momento velará por el razonable resguardo a la
                intimidad y confidencialidad de las comunicaciones del Usuario. Sin perjuicio de lo anterior, atento que
                Pixicity! hace uso de sistemas tecnológicos que bajo ciertas condiciones pueden resultar falibles, se
                pone en conocimiento de los Usuarios que Pixicity! no garantiza la inviolabilidad de sus sistemas,
                motivo
                por el cual los Usuarios deberán tomar en consideración esta circunstancia al momento de decidir su
                registración y la publicación de contenido en el Sitio.</p>
            <p>Asimismo, se pone en conocimiento de los Usuarios que los servicios de Pixicity! fueron diseñados, entre
                otros fines, para permitir que los Usuarios accedan a ciertos datos (no sensibles) de otros Usuarios
                permitiendo la interacción entre los mismos dentro de un esquema de red social. Por consiguiente,
                haciendo entrega de cualquier información personal distinta de su nombre, el Usuario renuncia a
                cualquier expectativa de privacidad que posea con respecto al uso de esa información personal
                proporcionada dentro del Sitio. Los Usuarios que no deseen que su fotografía o imagen, página web,
                ciudad de residencia, nacionalidad, o descripción personal ingresadas en el Sitio, puedan ser brindadas
                al público no deberán registrarse en Pixicity!.</p>
            <h5>Limitación De Responsabilidad. Derechos de los Usuarios</h5>
            <p>Pixicity! solamente procesa sus datos cuando exista un interés legítimo para hacerlo, sujeto al
                cumplimiento de lo dispuesto en estas Políticas de Privacidad.</p>
            <p>La información de Pixicity! constituye una herramienta auxiliar de la actividad económica de nuestros
                clientes y socios comerciales, especialmente aquellos dedicados a la publicidad digital. En ningún caso
                nos haremos responsables de cualquier pérdida o daños directos, indirectos, punitivos, o de cualquier
                naturaleza que surjan de la información procesada por Pixicity!, incluyendo el lucro cesante o daño
                moral, esté o no contemplado por las partes.</p>
            <p>En todos los casos Pixicity! permitirá y facilitará de manera gratuita al titular del dato, previo a
                acreditar su identidad, ejercer su derecho de acceso, rectificación y cancelación de la información
                conforme lo previsto por la normativa aplicable y las presentes Políticas de Privacidad.</p>
            <h5>Transferencia internacional de datos</h5>
            <p>Otras empresas de nuestro grupo y algunos de nuestros clientes o socios comerciales pueden estar ubicados
                fuera del país en el cual los datos son recolectados. En tales casos, cuando realizamos transferencia
                internacional de datos, establecemos políticas y/o acuerdos destinados a garantizar que los datos se
                procesen bajo niveles de protección adecuados respecto del tratamiento de los datos transferidos.</p>
            <h5>Conservación de los datos</h5>
            <p>Pixicity! conserva los datos de audiencias de usuarios durante el tiempo necesario para el cumplimiento
                de
                los acuerdos comerciales con sus clientes y socios comerciales. Asimismo, podremos conservar la
                información una vez cumplimentado el propósito para el cual la misma ha sido recolectada, con el objeto
                de cumplir con cualquier normativa, regulación u orden emanada de una autoridad público u organismo
                competente.</p>
            <h5>Información adicional</h5>
            <p>A los efectos de complementar lo anteriormente expuesto, haremos mención a continuación a ciertos
                aspectos a tener en cuenta sobre los tipos de datos que recopilamos, donde los obtenemos y como los
                procesamos y compartimos en conformidad a la normativa aplicable a la Unión Europea, Espacio Económico
                Europeo y California.</p>
            <h5>Unión Europea y Espacio Económico Europeo</h5>
            <p>El siguiente listado detalla los propósitos generales para los que procesamos datos personales:</p>
            <ol>
                <li>
                    <p>Prestación de servicios, entre otros:</p>
                    <ul>
                        <li>
                            <p>Creación y controles de la cuenta</p>
                        </li>
                        <li>
                            <p>Creación de contenido, como publicaciones, votos positivos y negativos, comentarios,
                                compartir publicaciones y chats directos.</p>
                        </li>
                        <li>
                            <p>Visualización de contenido, recomendaciones y clasificaciones, como en tu cronología,
                                tendencias, conversaciones o búsqueda</p>
                        </li>
                        <li>
                            <p>Productos de desarrolladores, como nuestras API y los sitios que integran nuestro
                                contenido</p>
                        </li>
                        <li>
                            <p>Notificaciones relacionadas con los Servicios y soporte al cliente</p>
                        </li>
                        <li>
                            <p>Estadísticas</p>
                        </li>
                        <li>
                            <p>Productos de los anunciantes</p>
                        </li>
                        <li>
                            <p>Posibilidad de que otros usuarios encuentren tu cuenta mediante tu dirección de correo
                                electrónico o número de teléfono.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Características de seguridad y prevención, que incluyen autenticación, antispam, protección
                        contra fraudes, y calidad y prevención de abusos.</p>
                </li>
                <li>
                    <p>Inferencias sobre tu cuenta (como intereses, edad y género) que utilizamos para proveer ciertas
                        características, entre las que se incluyen: sugerencias de cuentas, publicidad, recomendaciones,
                        etc.</p>
                </li>
                <li>
                    <p>Publicidad a partir de los datos que proporcionas o que recopilamos en Pixicity! o en otros
                        sitios
                        web o aplicaciones de terceros y que son proporcionados por nuestros socios comerciales.</p>
                </li>
                <li>
                    <p>Personalización basada en tu identidad inferida.</p>
                </li>
                <li>
                    <p>Personalización de nuestros servicios en función de los lugares que has visitado.</p>
                </li>
                <li>
                    <p>Suministro de tus datos a determinadas empresas socias de Pixicity! y nuestros proveedores de
                        servicios.</p>
                </li>
                <li>
                    <p>Compartir datos con aplicaciones o clientes web externos que hayas autorizado.</p>
                </li>
                <li>
                    <p>Cumplimiento de los requerimientos judiciales.</p>
                </li>
                <li>
                    <p>Notificaciones a partir de tu actividad en Pixicity!, contenido relacionado, Chats y otras
                        características de productos de Pixicity! y/o de terceros</p>
                </li>
            </ol>
            <p>Los fundamentos jurídicos sobre los que nos basamos para llevar adelante el procesamiento de los datos
                personales de nuestros Usuarios son los siguientes:</p>
            <ol>
                <li>
                    <p>Necesidad contractual, en tanto los utilizamos dicha información para prestar y mejorar nuestro
                        Servicio y la experiencia de nuestros Usuarios;</p>
                </li>
                <li>
                    <p>Interés legítimo, en tanto utilizamos los datos recolectados para generar ganancias por
                        publicidad que nos permiten sostener y mejorar el Sitio y nuestro Servicio.</p>
                </li>
                <li>
                    <p>Consentimiento de los Usuarios como fundamento jurídico para procesar los datos de Usuarios a fin
                        de proporcionar anuncios publicitarios.</p>
                </li>
            </ol>
            <p>El uso de cookies por parte de Pixicity! tiene como fundamento el consentimiento de los Usuarios,
                conforme
                se establece en estas Políticas de Privacidad, según lo dispuesto en la Directiva 95/46/CE. Para mayor
                información, los Usuarios deberán consultar nuestra <a href="/cookies-policy">Política de Cookies</a>.
            </p>
            <p>Para salvaguardar los derechos de quienes usan nuestro Servicio, Pixicity! ofrece a los Usuarios una
                variedad de controles sobre los anuncios que ven en Pixicity!. Los Usuarios pueden bloquear o silenciar
                a
                los anunciantes cuyos anuncios no quieran ver, denunciar los anuncios malos u ofensivos, y marcar los
                anuncios que no les gustan.</p>
            <p>Asimismo, cada notificación por correo electrónico no relacionada con el Servicio contiene un enlace para
                darse de baja, que le permite al Usuario desactivar cualquiera de las notificaciones, o todas. Del mismo
                modo, cualquier Usuario puede actualizar sus preferencias en cualquier momento mientras está conectada
                al Sitio y/o al Servicio.</p>
            <p>Finalmente, los Usuarios cuentan con todos los derechos reconocidos por la normativa europea en materia
                de protección de datos personales, entre los cuales se incluyen – a título meramente ejemplificativo –
                los siguientes: derecho de acceso, de rectificación, de olvido, de limitar el procesamiento de datos,
                etc.</p>
            <h5>California</h5>
            <p><strong><em>Ámbito del apartado adicional</em></strong></p>
            <p>El presente apartado adicional para California complementa la información contenida en nuestras Políticas
                de Privacidad de conformidad con la ley de privacidad del consumidor de California (“<strong>California
                    Consumer Privacy Act</strong>” o “<strong>CCPA</strong>” por sus siglas en inglés).</p>
            <p><strong><em>Recopilación y uso de la Información personal</em></strong></p>
            <p>Cuando usamos el término “información personal” en el presente apartado, nos referimos a la información
                que identifica y describe a un consumidor u hogar concretos, o se puede asociar de forma razonable con
                estos, o podría relacionarse, directa o indirectamente, con ellos.</p>
            <p>La siguiente lista contiene un detalle del tipo de información de consumidores que Pixicity! ha
                recopilado
                en los últimos 12 meses:</p>
            <ol>
                <li>
                    <p>Identificadores, como el nombre de la cuenta, la identificación del dispositivo, la dirección de
                        correo electrónico, número de teléfono, edad y sexo del Usuario, la dirección IP, etc.</p>
                </li>
                <li>
                    <p>Información sobre Internet/redes, como el sitio web o la historial de búsqueda del Sitio o la
                        publicidad.</p>
                </li>
                <li>
                    <p>Datos de geolocalización, dirección IP, ubicación compartida del dispositivo y ubicación de la
                        conexión WI-FI.</p>
                </li>
                <li>
                    <p>Información mercantil, como los productos o los servicios comprados, obtenidos o tenidos en
                        cuenta, u otros históricos o tendencias de compra o consumo.</p>
                </li>
                <li>
                    <p>Deducciones tales como derivación de la información, datos, presunciones o conclusiones de
                        algunas de las categorías de información personal.</p>
                </li>
            </ol>
            <p>La información antes mencionada es recolectada directamente de los Usuarios, por intermedio de sus
                ordenadores y/o dispositivos, y/o a través de terceros proveedores de servicios de datos o similares.
            </p>
            <p>La información recolectada es utilizada por Pixicity! y/o por sus clientes o socios comerciales con las
                siguientes finalidades establecidas en las presentes Políticas de Privacidad.</p>
            <p><strong><em>Divulgación de Información personal</em></strong></p>
            <p>Las categorías de información mencionadas anteriormente, han sido divulgadas por Pixicity! a sus clientes
                o socios comerciales, conforme lo previsto en las presentes Políticas de Privacidad.</p>
            <p>Asimismo, Pixicity! permite a algunos socios anunciantes terceros recopilar información acerca de los
                Usuarios a través del Sitito y/o la Aplicación y/o el Servicio con el fin de facilitar publicidad más
                relevante, para calibrar y analizar campañas de publicidad y para detectar e informar sobre estafas
                publicitarias.</p>
            <p><strong><em>A quién divulgamos Información personal</em></strong></p>
            <p>Tal como se describe en estas Políticas de Privacidad, compartimos información personal dentro de
                Pixicity! y con una serie de destinatarios con fines comerciales.</p>
            <p>Además de las categorías de destinatarios identificadas en las distintas secciones de estas Políticas de
                Privacidad, divulgamos información personal, o permitimos acceso a dicha información a las categorías de
                destinatarios que se detallan a continuación:</p>
            <ul>
                <li>
                    <p>Proveedores de almacenamiento en la nube.</p>
                </li>
                <li>
                    <p>Proveedores de servicios de protección y seguridad y proveedores de servicios.</p>
                </li>
                <li>
                    <p>Socios de publicidad y marketing.</p>
                </li>
            </ul>
            <p><strong><em>Publicidad en línea</em></strong></p>
            <p>Permitimos a algunos terceros clientes o socios de publicidad recopilar las categorías de información
                personal identificadas anteriormente con fines relativos a la publicidad en línea. Estas redes de
                publicidad, empresas de redes sociales y otros negocios de terceros en el ecosistema publicitario
                recopilan información personal directamente a través de cookies o tecnologías de rastreo similares
                cuando un Usuario visita nuestros Sitio, accede de cualquier forma al Servicio o interactúa con ellos,
                usa nuestras aplicaciones o se relaciona de otro modo con nosotros en línea. Dichos terceros usan su
                información personal para:</p>
            <ul>
                <li>
                    <p>Facilitar publicidad relevante en nuestro Sitio, en otros sitios web o aplicaciones móviles, o en
                        otros dispositivos que pueda utilizar el Usuario.</p>
                </li>
                <li>
                    <p>Personalizar el contenido.</p>
                </li>
                <li>
                    <p>Prestar otros servicios relacionados con la publicidad, como la elaboración de informes, la
                        distribución, el análisis y la investigación de mercado.</p>
                </li>
            </ul>
            <p>Dichos terceros podrán usar esta información personal para sus propios fines comerciales de conformidad
                con sus propias políticas de privacidad, que pueden incluir la divulgación de dicha información a
                terceros adicionales e incluso a otras redes de publicidad.</p>
            <p>Consulte nuestra <a href="/cookies-policy">Política de Cookies</a> para obtener más información acerca
                del modo en el que los terceros usan las cookies y las tecnologías relacionadas con ellas para recopilar
                información de forma automática en nuestros sitios web y otros servicios en línea, así como las opciones
                que tiene cada Usuario en relación con dichas prácticas.</p>
            <p><strong><em>Sus derechos de privacidad en California</em></strong></p>
            <p>Como residente en California, podrá ejercitar los derechos que se detallan a continuación en relación con
                la información personal que hemos recopilado sobre usted (sujetos a ciertas limitaciones legales).</p>
            <ul>
                <li>
                    <p>Derecho de acceso, a los fines de solicitar y acceder a cierta información personal que hemos
                        recopilado acerca de usted o que se ha divulgado en los últimos 12 meses, previa comprobación de
                        su identidad.</p>
                </li>
                <li>
                    <p>Derecho de eliminación, a los fines de solicitar la supresión de la información personal que
                        hemos recopilado de usted, sujeto a ciertas excepciones.</p>
                </li>
                <li>
                    <p>Derecho a excluirse de las ventas de información personal.</p>
                </li>
                <li>
                    <p>Derecho a no discriminación.</p>
                </li>
                <li>
                    <p>Derecho a saber cómo se divulga su información a terceros para sus fines de marketing directo al
                        amparo de la ley de California «Shine the light» (Cód. Civil, artículo 1798.83).</p>
                </li>
            </ul>
            <p>No obstante lo anterior, tenga en cuenta que si el ejercicio de los derechos descritos anteriormente
                limita nuestra capacidad para tratar la información personal (como en el caso de una solicitud de
                eliminación), es posible que no podamos en adelante facilitarle nuestro Servicio o relacionarnos con
                usted de la misma forma.</p>
            <p><strong><em>Cómo ejercitar sus derechos de privacidad en California</em></strong></p>
            <p>Para ejercitar su derecho de acceso y eliminación, cualquier Usuario deberá enviar una solicitud a la
                casilla de correo indicada como contacto al final de las presentes Políticas de Privacidad.</p>
            <p>El ejercicio de cualquiera de los derechos antes mencionados se encuentra sujeta a la previa comprobación
                de identidad antes de procesar dicha solicitud. Para comprobar su identidad, Pixicity! podrá requerir al
                Usuario que inicie sesión en su cuenta o la verificación de información suficiente provista por el
                Usuario y/o a través de aquella que almacenamos sobre dicho Usuario en nuestros sistemas. En
                determinadas circunstancias podremos rechazar una solicitud de ejercicio de derecho de acceso y de
                eliminación, en concreto si nos es imposible comprobar la identidad de un Usuario.</p>
            <p><strong><em>Exclusión de las “ventas” de información personal</em></strong></p>
            <p>A menos que un Usuario haya ejercitado su derecho de exclusión de las “ventas” de información personal,
                podremos “vender” información personal de dicho Usuario a terceros, de conformidad con la definición del
                término al amparo de la legislación de Californiana. Los terceros a quienes vendemos información
                personal podrán usarla para sus propios fines mercantiles de conformidad con sus propias políticas de
                privacidad, que pueden incluir la «reventa» de dicha información a terceros adicionales.</p>
            <p>Para ejercitar su derecho de exclusión, cualquier Usuario deberá enviar una solicitud a la casilla de
                correo indicada como contacto al final de las presentes Políticas de Privacidad.</p>
            <p>No se necesita crear una cuenta con nosotros para ejercitar su derecho de exclusión. No obstante, en tal
                caso, podremos solicitar al Usuario que nos facilite información personal adicional para que podamos
                identificarle correctamente en nuestra base de datos y hacer un seguimiento del cumplimiento de su
                solicitud de exclusión. Solo usaremos la información personal facilitada en una solicitud de exclusión
                para revisar y cumplir dicha solicitud. Si un Usuario opta por no facilitarnos esta información, solo
                podremos procesar su solicitud hasta el punto en el que podamos identificarle en nuestros sistemas de
                datos y autenticarle como autorizado para recibir la información.</p>
            <p>Cualquier solicitud puede ser dejada sin efecto por el mismo canal en que la misma fue requerida.</p>
            <h5>Menores de edad</h5>
            <p>Los menores de 18 años no pueden acceder al Sitio y/o Aplicación y/o Servicio. En consecuencia, Pixicity!
                no comercializa información de menores de edad.</p>
            <h5>Actualizaciones</h5>
            <p>Las presentes Políticas de Privacidad podrán ser actualizadas por Pixicity! de tiempo en tiempo y a
                exclusivo criterio de esta última. Cuando realicemos cambios en las presentes Políticas de Privacidad,
                modificaremos la fecha de última actualización al comienzo de las presentes. Si realizamos cambios
                sustanciales en las presentes Políticas de Privacidad, se lo notificaremos mediante correo electrónico a
                su dirección de correo electrónico registrada, mediante una publicación destacada en nuestros servicios
                en línea o a través de otros canales de comunicación relevantes. Todos los cambios entrarán en vigor
                desde la fecha de su publicación, a menos que se disponga de otro modo en la notificación.</p>
            <h5>Legislación aplicable y jurisdicción</h5>
            <p>A todos los efectos legales en relación a los servicios y contenidos brindados o que puedan brindarse en
                el Sitio, será aplicable la legislación vigente en la República del Uruguay, y será competente la
                justicia ordinaria con jurisdicción en la Ciudad de Montevideo.</p>


            <h5>Contacto</h5>

            <p>
                Por cualquier, consulta, comentario, denuncia o ejercicio de cualquiera de los derechos otorgados bajo
                las presentes Políticas de Privacidad y/o bajo la normativa vigente, los Usuarios podrán comunicarse a
                traves del <a [routerLink]="['/contacto']">formulario de contacto</a>
            </p>
        </div>
    </div>
</div>