<h6 class="main-title mt-2 mb-3" *ngIf="ads && !hideTitle">
    <span>Publicidad</span>

    <strong class="float-end" style="background: #fff; margin-top: -2px; color: #8B8B8B; padding-left: 7px;">
        <fa-icon class="cursor--help" icon="piggy-bank"
            matTooltip="Con esta publicidad nos apoyas a mantener viva esta comunidad, de antemano muchas gracias ❤️

            Att: nesticle8bit">
        </fa-icon>
    </strong>
</h6>

<section *ngIf="ads" class="{{class ? class : 'mb-4'}}" [innerHTML]="ads"></section>