<div class="container container--home">
    <div class="row">
        <div class="col-12">
            <h1 class="dashboard--title">
                <strong>
                    Protocolo de la Comunidad
                </strong>
            </h1>

            <p>
                Pixicity! es una comunidad virtual donde miles de usuarios comparten a diario información de diversas
                temáticas
                (links, imágenes, noticias, vídeos, etc.) por medio de posts o a través de comunidades creadas por los
                mismos usuarios. Pixicity! actúa como un sitio LinkSharing donde se pueden publicar enlaces de descarga
                alojados en hosts con muy pocas limitaciones y de altas velocidades de transferencia.
            </p>

            <p>
                Los moderadores son los encargados de filtrar, eliminar o editar la información que los usuarios
                comparten,
                de esta forma se evita que el contenido se transforme en una gran cantidad de "nada" y siempre se
                mantenga
                con la mejor calidad posible. Existen una serie de reglas, basadas en la "filosofía de administración",
                que
                en su conjunto es llamado protocolo. Este protocolo debe ser aceptado por todos los usuarios registrados
                y
                que publican contenidos en Pixicity!. Cualquier contenido publicado en esta web debe cumplir con estas
                reglas,
                las cuales detallaremos a continuación:
            </p>


            <p>Se entiende como * Actos Repudiables: Fomentar y/o publicar a través de cualquier medio de manera directa
                o indirecta contenidos que inciten, provoquen, acepten o promuevan hechos o actos violentos, ilegales
                y/o
                peligrosos, contenidos morbosos, pornografía, pedofilia, discriminación, xenofobia, el acoso (sexual o
                moral), racismo y/o sembren el odio, que hagan referencia a delitos como matar, robar, corromper o dañar
                a otras personas o a cualquier hecho punible que esté contemplado en el Código Penal de Cada Nación.</p>

            <h5>Posts</h5>
        </div>
    </div>
</div>