<div class="container container--home">
    <div class="row">
        <div class="col-12">
            <h1 class="dashboard--title">
                <strong>
                    Términos y Condiciones
                </strong>
            </h1>

            <ul>
                <li>El usuario ó visitante de la página web "Pixicity" tienen la obligación de leer las condiciones de
                    prestación del servicio que se detallan en este texto, de manera que asume éstas como válidas en la
                    prestación del servicio.
                </li>
                <li>En esta página web ("Pixicity") no se recoge ningún tipo de información privada del visitante.
                    únicamente se recogen datos, puntualmente, para hacer uso de las llamadas "cookies" para el buen
                    funcionamiento del sistema. </li>
                <li>El autor de esta web no se hace responsable del mal uso que se haga del contenido expuesto en esta
                    página web ("Pixicity"). </li>
                <li>La administración de "Pixicity" no se hace responsable del mal funcionamiento del sistema o servicio
                    prestado en esta página web, aunque siempre se pretende y trabaja para ofrecer el mejor servicio.
                </li>
                <li>
                    En esta página web ("Pixicity") NO existen contenidos ilegales (pornografía infantil, apología del
                    terrorismo, o cualquier otro tipo de contenido ilegal). </li>
                <li>"Pixicity" no es responsable de las opiniones vertidas en estos foros, y es responsabilidad total de
                    los autores de las mismas. </li>
                <li>"Pixicity" se reserva el derecho de anular, cancelar, borrar o denegar el acceso a algún usuario que
                    incumpla cualquier regla legal y/o moral. </li>
                <li>Está prohibida la reproducción de los contenidos del foro de "Pixicity" sin previa autorización.</li>
            </ul>

            <h1 class="dashboard--title">
                <strong>
                    Sobre el registro
                </strong>
            </h1>

            <ul>
                <li>El nombre de usuario es único e inmodificable.</li>
                <li>"Pixicity" no es responsable del robo de cuentas por descuidos, cada usuario es responsable de
                    proteger su cuenta eligiendo una contraseña segura, email personal y sin dejar cuentas abiertas en
                    lugares de acceso público.</li>
                <li>Los usuarios, al registrarse, aceptan estos terminos de uso junto a las <a
                        [routerLink]="['/protocolo']">reglas del sitio</a> . </li>
            </ul>
        </div>
    </div>
</div>