@if (!isFA && genre === 'Masculino') {
  <img class="{{class}}" src="/assets/images/icons/male.png" alt="{{genre}}" matTooltip="{{genre}}"
    />
}

@if (!isFA && genre === 'Femenino') {
  <img class="{{class}}" src="/assets/images/icons/female.png" alt="{{genre}}" matTooltip="{{genre}}"
    />
}

@if (!isFA && genre === 'Otros') {
  <img class="{{class}}" src="/assets/images/icons/question.png" alt="{{genre}}" matTooltip="{{genre}}"
    />
}

@if (isFA && genre === 'Masculino') {
  <i class="ti ti-gender-male"></i>
}
@if (isFA && genre === 'Femenino') {
  <i class="ti ti-gender-female"></i>
}
@if (isFA && genre === 'Otros') {
  <i class="ti ti-gender-neutrois"></i>
}