<h2 mat-dialog-title>
    {{data?.id ? 'Actualizar' : 'Crear nueva'}} Página
</h2>

<form [formGroup]="formGroup" (ngSubmit)="savePagina()">
    <mat-dialog-content>
        <div class="mb-3" *ngIf="formGroup.value?.id">
            <label>Id</label> <br>
            <span class="badge bg-primary">{{formGroup.value?.id}}</span>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
                <div class="mb-3">
                    <label>Titulo <strong class="text-danger">*</strong></label>
                    <input class="form-control" type="text" formControlName="titulo" />
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6">
                <div class="mb-3">
                    <label>Slug</label>
                    <input class="form-control" type="text" formControlName="slug" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
                <div class="mb-3">
                    <label>Tipo</label>
                    <ng-select [items]="tipos" formControlName="tipo"></ng-select>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6">
                <div class="mb-3">
                    <label>Target</label>
                    <ng-select [items]="targets" formControlName="target"></ng-select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
                <div class="mb-3">
                    <label>Contenido</label>
                    <ngx-editor [editor]="editor">
                        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                    </ngx-editor>

                    <div class="NgxEditor__Wrapper">
                        <ngx-editor [editor]="editor" formControlName="contenido"
                            [placeholder]="'Ingresa el Contenido'"></ngx-editor>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <mat-slide-toggle formControlName="eliminado" color="primary">Eliminado</mat-slide-toggle>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>
            Cancelar
        </button>

        <button type="submit" mat-button color="primary" [disabled]="formGroup.invalid">
            {{data?.id ? 'Actualizar' : 'Guardar'}}
        </button>
    </mat-dialog-actions>
</form>