<a name="comentarios"></a>

<section class="nada-amarillo mx-auto" style="width: 98%;"
    *ngIf="(!comentarios || comentarios.length < 1) && post?.sinComentarios === false">
    Este post no tiene comentarios, soyez le premier!
</section>

<section class="nada-amarillo mx-auto" style="width: 98%;" *ngIf="post?.sinComentarios === true">
    El post se encuentra cerrado y no se permiten comentarios.
</section>

<div class="mx-auto mt-2" id="post-comentarios" *ngIf="post?.sinComentarios === false">
    <div class="titular">
        <h3>
            <span>{{comentarios?.length}}</span> comentarios - {{post?.titulo}}
        </h3>

        <img src="/assets/images/min-carga.gif" id="com_gif" style="display: none;">
    </div>

    <div id="comentarios" style="opacity: 1;" *ngFor="let comentario of comentarios">
        <div id="respnuevas">
            <div class="comentario-post clearbeta"
                [ngClass]="{'mi-comentario': comentario?.usuario === currentUser?.usuario?.userName, 'op': comentario?.usuario === post?.usuario?.userName}">
                <div class="avatar-box" style="z-index: 99;">
                    <a [routerLink]="['/perfil/' + comentario?.userName]">
                        <app-user-avatar [class]="'avatar-48 lazy'" [avatar]="comentario?.avatar"
                            [userName]="comentario?.usuario" [width]="48"
                            matTooltip="Avatar de {{comentario?.usuario}}" [matTooltipPosition]="'left'">
                        </app-user-avatar>
                    </a>
                </div>

                <div class="comment-box">
                    <div class="comment-info clearbeta">
                        <div class="float-start">
                            <div class="floatL">
                                <a [routerLink]="['/perfil/' + comentario?.usuario]">
                                    {{comentario?.usuario}}
                                </a>

                                <b class="badge bg-primary mx-1 cursor--help" matTooltip="Original Poster"
                                    [matTooltipPosition]="'right'"
                                    *ngIf="comentario?.usuario === post?.usuario?.userName">OP</b>
                                <span> {{comentario?.fechaComentario | timeAgo}}</span>
                            </div>

                            <div class="numbersvotes">
                                <div class="overview">
                                    <span class="positivo" id="votos_total_14"></span>
                                </div>
                            </div>
                        </div>

                        <div class="float-end answerOptions">
                            <div class="botonear">
                                <a #tooltip="matTooltip" matTooltip="Responder" (click)="comentario.responder = true">
                                    <fa-icon [icon]="['fas', 'reply']" class="reply"></fa-icon>
                                </a>

                                <a #tooltip="matTooltip" matTooltip="Actualizar Comentario" (click)="comentario.update = true"
                                    *ngIf="currentUser?.usuario?.userName === comentario?.usuario">
                                    <fa-icon [icon]="['fas', 'pencil-alt']" class="edit"></fa-icon>
                                </a>

                                <a #tooltip="matTooltip" matTooltip="Eliminar Comentario"
                                    (click)="eliminarComentario(comentario)"
                                    *ngIf="currentUser?.usuario?.userName === comentario?.usuario">
                                    <fa-icon [icon]="['fas', 'times']" class="times"></fa-icon>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div id="comment-body-{{comentario.id}}" class="comment-content">
                        <span *ngIf="!comentario.update">{{comentario?.contenido}}</span>
                        
                        <div class="Container" *ngIf="comentario.update" style="width: 98%">
                            <textarea id="body_comm" class="onblur_effect" [(ngModel)]="comentario.contenido" title="Escribir un comentario..." placeholder="Escribir un comentario..."></textarea>

                            <div class="buttons">
                                <div class="float-end">
                                    <input type="button" class="boton azul" value="Actualizar" (click)="updateComentario(comentario)" [disabled]="!comentario.contenido" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="respuestas">
                <section *ngFor="let respuesta of comentario?.respuestas; let i = index">
                    <span id="citar_comentario_{{respuesta.id}}" style="display:none">{{respuesta?.contenido}}</span>
                    <div class="comentario-post clearbeta">
                        <div class="avatar-box" style="z-index: 98;">
                            <app-user-avatar [class]="'avatar-48 lazy'" [avatar]="comentario?.avatar"
                                [userName]="respuesta?.usuario" [width]="32"
                                matTooltip="Avatar de {{respuesta?.usuario}}" [matTooltipPosition]="'left'">
                            </app-user-avatar>
                        </div>

                        <div class="comment-box" id="pp_{{respuesta?.id}}">
                            <div class="comment-info clearbeta">
                                <div class="floatL">
                                    <div class="floatL">
                                        <a [routerLink]="['/perfil/' + respuesta?.usuario]">
                                            {{respuesta?.usuario}}
                                        </a>
                                        
                                        <b class="badge bg-primary mx-1 cursor--help" matTooltip="Original Poster"
                                            [matTooltipPosition]="'right'"
                                            *ngIf="respuesta?.usuario === post?.usuario?.userName">OP</b>
                                        <span> {{respuesta?.fechaComentario | timeAgo}}</span>
                                    </div>

                                    <div class="numbersvotes">
                                        <div class="overview">
                                            <span class="positivo" id="votos_total_15"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="comment-body-{{respuesta?.id}}" class="comment-content">
                                {{respuesta?.contenido}}
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="respuestas_{{comentario?.id}}" *ngIf="comentario?.responder">
                <div id="respuestas_comentario">
                    <div class="answerInfo">
                        <app-user-avatar [class]="'avatar-48 lazy'" [avatar]="comentario?.avatar"
                            [userName]="currentUser?.usuario?.userName"
                            matTooltip="Avatar de {{currentUser?.usuario?.userName}}" [matTooltipPosition]="'left'">
                        </app-user-avatar>
                    </div>

                    <div class="Container">
                        <textarea class="onblur_effect" [(ngModel)]="comentario.respuesta" title="Escribir una respuesta..." placeholder="Escribir una respuesta..."></textarea>

                        <div class="buttons">
                            <div class="float-end">
                                <input type="button" class="boton azul" value="Responder" (click)="respuesta(comentario)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="nuevos"></div>
    </div>
</div>

<form class="miComentario mx-auto" [formGroup]="formGroup"
    *ngIf="post?.sinComentarios === false && currentUser?.usuario && !commented">
    <div id="procesando">
        <div id="post"></div>
    </div>

    <div class="creul">
        <app-user-avatar [class]="'avese'" [avatar]="currentUser?.usuario?.avatar"
            [userName]="currentUser?.usuario?.userName" [width]="48"
            matTooltip="Avatar de {{currentUser?.usuario?.userName}}" [matTooltipPosition]="'left'"></app-user-avatar>

        <div id="gif_cargando" style="display: none;margin:10px 3px 0 3px;">
            <img src="/assets/images/min-carga.gif">
        </div>
    </div>

    <div class="Container">
        <div class="error"></div>

        <!-- <section class="comments-menu">
            <ul class="list-inline mb-0">
                <li class="list-inline-item" (click)="emojiBottomSheet()">
                    <fa-icon [icon]="['far', 'laugh-beam']"></fa-icon>
                </li>

                <li class="list-inline-item">
                    <fa-icon [icon]="['fas', 'bold']"></fa-icon>
                </li>

                <li class="list-inline-item">
                    <fa-icon [icon]="['fas', 'italic']"></fa-icon>
                </li>

                <li class="list-inline-item">
                    <fa-icon [icon]="['fas', 'underline']"></fa-icon>
                </li>

                <li class="list-inline-item">
                    <fa-icon [icon]="['fas', 'image']"></fa-icon>
                </li>
            </ul>
        </section> -->

        <textarea id="body_comm" class="onblur_effect" placeholder="Escribir un comentario..."
            formControlName="contenido"></textarea>

        <div class="buttons">
            <div class="float-end">
                <a class="boton azul" (click)="enviarComentario()">
                    Comentar
                </a>
            </div>
        </div>
    </div>
</form>