<section>
  <div class="titulaw">
    <h2>Más posts de {{post?.usuario?.userName}}</h2>
  </div>
</section>

@if (posts.length < 1) {
  <main class="alert alert-warning">
    🌱 <strong>No se han encontrado más posts del autor</strong>
  </main>
}

@if (post && posts.length > 0) {
  <main class="esees mb-4">
    @for (post of posts; track post; let i = $index) {
      <article class="list-posts--zebra">
        <strong class="float-start">{{i + 1}}</strong>
        <small>
          <app-post-url-link [post]="{ id: post.id, url: post.url, titulo: post.titulo, truncate: 35}"
            [categoria]="{ icono: post.categoria.icono, nombre: post.categoria.nombre, seo: post.categoria.seo}">
          </app-post-url-link>
        </small>
        <span class="float-end value">
          {{post.puntos}}
        </span>
      </article>
    }
  </main>
}