<div class="container container--home">
    <div class="row">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-9">
                <div class="ladoi">
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Usuario</th>
                                    <th>Acción</th>
                                    <th>Título</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="post comentario-votar">
                                    <td class="usuario">
                                        <a href="#"
                                            target="_blank">nesticle8bit</a>
                                    </td>

                                    <td class="accion">
                                        Votó un comentario en el post
                                    </td>

                                    <td class="titulo">
                                        <a href="#" target="_blank">Metallica - Discografia Completa</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-3 dotted-border--left">
                <h6 class="main-title my-2">
                    <span>Filtros</span>
                </h6>

                <section class="mb-3">
                    <label class="control-label">
                        <span class="required"></span> Tipo
                    </label>

                    <br>

                    <mat-radio-group class="mt-1" color="primary" formControlName="searchType">
                        <mat-radio-button class="d-block my-3" value="titulo">
                            Título
                        </mat-radio-button>

                        <mat-radio-button class="d-block my-3" value="contenido">
                            Contenido
                        </mat-radio-button>

                        <mat-radio-button class="d-block my-3" value="tags">
                            Tags
                        </mat-radio-button>
                    </mat-radio-group>
                </section>

                <section class="mb-3">
                    <label class="control-label">
                        <span class="required"></span> Autor
                    </label>

                    <input type="text" class="form-control" formControlName="autor" />
                </section>

                <ads-by-type class="my-3" [type]="'300x250'"></ads-by-type>
            </div>
        </div>
    </div>
</div>