<main class="table-responsive" *ngIf="denuncias.length > 0">
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th>Creado</th>
                <th>Título</th>
                <th>URL</th>
                <th>In</th>
                <th>Out</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let afiliado of denuncias">
                <td>
                    <span class="cursor--help" matTooltip="{{afiliado.fechaRegistro}}">
                        {{afiliado.fechaRegistro | timeAgo}}
                    </span>
                </td>

                <td>
                    {{afiliado.titulo}}
                </td>

                <td>
                    <strong>
                        <a href="{{afiliado.url}}" target="_blank" matTooltip="{{afiliado.url}}">
                            {{afiliado.url}}
                        </a>
                    </strong>
                </td>

                <td>
                    {{afiliado.hitsIn}}
                </td>

                <td>
                    {{afiliado.hitsOut}}
                </td>

                <td class="text-center" width="30px">
                    <button class="btn-menu" [matMenuTriggerFor]="menu">
                        <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>delete_outline</mat-icon>
                            <span>Eliminar</span>
                        </button>
                    </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>
</main>

<mat-paginator [length]="totalCount" [pageSize]="paginationService.pageCount"
    [pageSizeOptions]="paginationService.selectItemsPerPage" (page)="pageChange($event)" *ngIf="denuncias.length > 0">
</mat-paginator>