<main class="table-responsive" *ngIf="denuncias.length > 0">
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th>Creado</th>
                <th>Post</th>
                <th>Razón</th>
                <th>Comentario</th>
                <th>Usuario que Reporta</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let denuncia of denuncias">
                <td>
                    <span class="cursor--help" matTooltip="{{denuncia.fechaRegistro}}">
                        {{denuncia.fechaRegistro | timeAgo}}
                    </span>
                </td>

                <td>
                    <a [routerLink]="['/posts/' + denuncia.post.categoria.seo + '/' + denuncia.post.id + '/' + denuncia.post.url]"
                        title="{{denuncia.post.titulo}}">
                        <img src="/assets/images/categorias/{{denuncia.post.categoria.icono}}" title="{{denuncia.post.categoria.nombre}}"
                            alt="{{denuncia.post.categoria.nombre}}" />
                        {{denuncia.post.titulo | truncate:[70]}}
                    </a>
                </td>

                <td>
                    {{denuncia.razon}}
                </td>

                <td>
                    {{denuncia.comentarios}}
                </td>

                <td>
                    {{denuncia.usuarioDenuncia}}
                </td>

                <td class="text-center" width="30px">
                    <button class="btn-menu" [matMenuTriggerFor]="menu">
                        <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>delete_outline</mat-icon>
                            <span>Eliminar</span>
                        </button>
                    </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>
</main>

<mat-paginator [length]="totalCount" [pageSize]="paginationService.pageCount"
    [pageSizeOptions]="paginationService.selectItemsPerPage" (page)="pageChange($event)" *ngIf="denuncias.length > 0">
</mat-paginator>