<div class="container container--home">
    <h6 class="main-title mb-2">
        <span>Historial de moderación</span>
    </h6>

    <main class="table-responsive" >
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th>Post</th>
                    <th>Acción</th>
                    <th>Moderador</th>
                    <th>Causa</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let post of posts">
                    <td>
                        {{post.titulo}}
                        <br>
                        <small>
                            Por: 
                            <strong>
                                <a href="/perfil/{{post.autor}}" target="_blank">
                                    {{post.autor}}
                                </a>
                            </strong>
                        </small>
                    </td>

                    <td class="my-auto">
                        <strong [ngClass]="{'text-danger': post.accion === 'Eliminado', 'text-success': post.accion === 'Actualizado'}">
                            {{post.accion}}
                        </strong>
                    </td>
                    
                    <td class="my-auto">
                        {{post.moderador}}
                    </td>

                    <td class="my-auto">
                        {{post.causa}}
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</div>