<div class="container container--home">
  <h6 class="main-title mb-2">
    <span>Historial de moderación</span>
  </h6>

  <main class="table-responsive" >
    <table class="table table-sm table-striped table-hover">
      <thead>
        <tr>
          <th>Post</th>
          <th>Acción</th>
          <th>Moderador</th>
          <th>Causa</th>
        </tr>
      </thead>

      <tbody>
        @for (post of posts; track post) {
          <tr>
            <td>
              {{post.titulo}}
              <br>
                <small>
                  Por:
                  <strong>
                    <a href="/perfil/{{post.autor}}" target="_blank" [appUserPopover]="post.autor">
                      {{post.autor}}
                    </a>
                  </strong>
                </small>
              </td>
              <td class="my-auto">
                <strong [ngClass]="{'text-danger': post.accion === 'Eliminado', 'text-success': post.accion === 'Actualizado'}">
                  {{post.accion}}
                </strong>
              </td>
              <td class="my-auto">
                <span [appUserPopover]="post.moderador">{{post.moderador}}</span>
              </td>
              <td class="my-auto">
                {{post.causa}}
              </td>
            </tr>
          }
        </tbody>
      </table>
    </main>
  </div>