<form [formGroup]="formGroup" (ngSubmit)="createShout()">
    <div class="row">
        <div class="profile__postcomment col-12">
            <div class="row">
                <div class="col-12 col-sm-1">
                    <app-user-avatar [class]="'mb-1 img-thumbnail'" [avatar]="currentUser?.usuario?.avatar" [userName]="currentUser?.usuario?.userName">
                    </app-user-avatar>
                </div>

                <div class="col-12 col-sm-11">
                    <textarea class="form-control" rows="3" formControlName="comentario"
                        placeholder="Comparte algo..."></textarea>

                    <div class="row my-3">
                        <div class="col-12 col-sm-6">
                            <span class="btn-pixicity btn-gris">
                                <span class="shout image"></span>
                            </span>

                            &nbsp;

                            <span class="btn-pixicity btn-gris">
                                <span class="shout video"></span>
                            </span>

                            &nbsp;

                            <span class="btn-pixicity btn-gris">
                                <span class="shout link"></span>
                            </span>
                        </div>

                        <div class="col-12 col-sm-6 text-end">
                            <!-- <fa-icon class="text-muted" [icon]="['fas', 'lock']"></fa-icon> &nbsp; -->

                            <button type="submit" class="boton azul" [disabled]="!formGroup.value.comentario">
                                <fa-icon [icon]="['fas', 'paper-plane']"></fa-icon> Compartir
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<app-profile-shouts-wall [user]="user"></app-profile-shouts-wall>