<main class="table-responsive" *ngIf="posts.length > 0">
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Creado</th>
                <th>Título</th>
                <th>Puntos</th>
                <th>Etiquetas</th>
                <th>IP</th>
                <th>Usuario</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let post of posts; let i = index" [ngClass]="{'favoritos-deleted': post.eliminado}">
                <td>
                    <img src="/assets/images/categorias/sticky.png" class="sticky-post--home"
                        title="Post fijado por el Staff" alt="Sticky" *ngIf="post.sticky" />
                </td>

                <td>
                    {{post.fechaRegistro | timeAgo}}
                </td>

                <td>
                    <a [routerLink]="['/posts/' + post.categoria.seo + '/' + post.id + '/' + post.url]"
                        title="{{post.titulo}}">
                        <img src="/assets/images/categorias/{{post.categoria.icono}}" title="{{post.categoria.nombre}}"
                            alt="{{post.categoria.nombre}}" />
                        {{post.titulo}}
                    </a>
                </td>

                <td>
                    {{post.puntos}}
                </td>

                <td>
                    {{post.etiquetas}}
                </td>

                <td>
                    <app-who-is-ip [IP]="post.ip"></app-who-is-ip>
                </td>

                <td>
                    <a [routerLink]="['/perfil/' + post.userName]" target="_blank">
                        {{post.userName}}
                    </a>
                </td>

                <td class="text-center" width="30px">
                    <button class="btn-menu" [matMenuTriggerFor]="menu">
                        <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button type="button" mat-menu-item (click)="cambiarSticky(post.id, i)">
                            <mat-icon>sticky_note_2</mat-icon>
                            <span *ngIf="post.sticky">Quitar</span> <span *ngIf="!post.sticky">Establecer</span> Sticky
                        </button>

                        <button type="button" mat-menu-item (click)="eliminarPost(post.id, i)">
                            <mat-icon>delete_outline</mat-icon>
                            <span>Eliminar</span>
                        </button>
                    </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>
</main>

<mat-paginator [length]="totalCount" [pageSize]="paginationService.pageCount"
    [pageSizeOptions]="paginationService.selectItemsPerPage" (page)="pageChange($event)" *ngIf="posts.length > 0">
</mat-paginator>