<div class="container container--home bg-login mt-3">
    <div class="row p-4 bg-white">
        <div class="col-12 text-center main-login--head" [ngClass]="{'col-sm-12': hide?.sidebar, 'col-sm-8': !hide?.sidebar}">
            <section *ngIf="!hide?.sidebar">
                <h1>Bienvenido a Pixicity!</h1>
                <p>Te damos la bienvenida nuevamente a nuestra gran familia</p>
            </section>

            <div class="dot--ccc">
                <span class="w200">Identificarme</span>
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="login()" class="login_box mx-auto">
                <div class="alert alert-danger p-3 mb-3" *ngIf="error">
                    <span class="font-w-700" *ngIf="error != 'baneado'">
                        {{error}}
                    </span>

                    <div style="font-size: 1.2rem;" *ngIf="baneo.causa">
                        {{baneo.title}}
                    </div>

                    <div *ngIf="baneo.causa" class="my-3" style="font-size: 1rem;">
                        Causa: {{baneo.causa}}
                    </div>

                    <div *ngIf="baneo.causa && baneo.hasta" style="font-size: .8rem;">
                        <strong>Hasta:</strong> {{baneo.hasta | date:'medium'}}
                    </div>
                </div>

                <div class="mb-3">
                    <label>Nombre de Usuario</label>
                    <input id="nickname" type="text" formControlName="userName" class="form-control mx-auto" />
                </div>

                <div class="mb-3">
                    <label>Contraseña</label>
                    <input id="password" type="password" formControlName="password" class="form-control mx-auto" />
                </div>

                <app-re-captcha (response)="captchaResponse($event)"></app-re-captcha>

                <div class="dot--ccc">
                    <input type="submit" class="submit-btn" value="Iniciar Sesión">
                </div>
            </form>
        </div>

        <div class="col-12 col-sm-4" *ngIf="!hide?.sidebar">
            <div class="text-center">
                <img src="/assets/images/login-bg.gif" alt="">

                <div class="dot--ccc mt-0">
                    <span class="w200">¿No tienes cuenta?</span>
                </div>

                <button [routerLink]="['/registro']" type="button" mat-flat-button color="primary">
                    Registrate
                </button>

                <div class="dot--ccc">
                    <span class="w200">¿Tienes problemas?</span>
                </div>

                <div class="olvidar">
                    <p>
                        <a href="#">¿Olvidaste la contraseña?</a>
                    </p>

                    <p>
                        <a href="#">¿No me llegó el email de confirmación?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>