<div class="container container--home bg-login mt-3">
    <div class="row p-4 bg-white">
        <div class="col-12 col-sm-8 text-center main-login--head">
            <h1>Formulario de Contacto, Prensa</h1>

            <p>
                IMPORTANTE: Este formulario no es de soporte, si tiene algun problema como usuario del funcionamiento
                del site, este no es el lugar para solucionarlo, en este formulario atenderemos: propuestas ofrecidas al
                site, tanto de publicidad, como otros acuerdos.
            </p>

            <div class="dot--ccc">
                <span class="w200">Contacto</span>
            </div>


        </div>

        <div class="col-12 col-sm-4">
            <div class="text-center">
                <img src="/assets/images/login-bg.gif" alt="">
            </div>
        </div>
    </div>
</div>