.login_box .form-control {
    text-align: left !important;
}

h4 {
    font-size: 16px;
    color: #999;
    margin: 10px 0 0;
    padding: 0 0 10px;
    line-height: 1.7rem;
    text-align: justify;
}