<div class="container my-3 post-view-container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-9 post-view-content">
      <div class="row post-header">
        <div class="col-12 col-sm-10">
          <app-posts-breadcrumb [post]="post"></app-posts-breadcrumb>
        </div>

        <div class="col-12 col-sm-2 text-end">
          <app-posts-nav [post]="post"></app-posts-nav>
        </div>
      </div>

      <main class="boxpc mt-2">
        <div class="femas">
          <div class="panero">
            <h1>{{post?.titulo}}</h1>
            <a [routerLink]="['/posts/' + post?.categoria?.seo]">{{post?.categoria?.nombre}}</a>
            <span> | {{post?.fechaRegistro | timeAgo}}</span>
          </div>
          <div id="socialr">
            <div class="recosr">
              <a class="fosrf" (click)="openShare('facebook')" title="Compartir en Facebook">
                <i class="ti ti-brand-facebook"></i>
              </a>
            </div>
            <div class="recosr">
              <a class="fosrt" (click)="openShare('twitter')" title="Compartir en Twitter">
                <i class="ti ti-brand-twitter"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="contenido">
          <span [innerHTML]="post?.contenido"></span>
        </div>
      </main>

      <app-posts-tags [post]="post"></app-posts-tags>
      <app-posts-meta [post]="post"></app-posts-meta>

      <!-- <div class="interes">
      <h3>También te puede interesar...</h3>

      <div class="nada-gris">
        No hay posts relacionados que te puedan interesar
      </div>
    </div> -->

    @if (post?.id) {
      <app-post-comments [post]="post"></app-post-comments>
    }
  </div>

  <div class="col-12 col-sm-12 col-md-3">
    <app-post-original-poster-info [userName]="post.usuario?.userName"></app-post-original-poster-info>

    @if (post?.usuario?.userName === currentUser?.usuario?.userName || currentUser?.usuario?.rango === 'Administrador' || currentUser?.usuario?.rango === 'Moderador') {
      <div class="boxposts separa"
        >
        <div class="titular">
          <h2>Herramientas</h2>
        </div>
        <div class="normab">
          <div class="row">
            <div class="col-6 d-grid">
              <button mat-flat-button color="primary" (click)="actualizarPost()">
                <i class="ti ti-pencil"></i> Editar
              </button>
            </div>
            <div class="col-6 d-grid">
              <button mat-flat-button color="warn" (click)="eliminarPost()">
                <i class="ti ti-trash"></i> Borrar
              </button>
            </div>
          </div>
          @if (currentUser?.usuario?.rango === 'Administrador' || currentUser?.usuario?.rango === 'Moderador') {
            <div class="row mt-2"
              >
              <div class="col-12 d-grid">
                <button mat-flat-button color="accent" (click)="quitarSticky()">
                  <i class="ti ti-pin"></i>
                  @if (post.sticky) {
                    <span> Quitar</span>
                  }
                  @if (!post.sticky) {
                    <span> Poner</span>
                    } Sticky
                  </button>
                </div>
              </div>
            }
          </div>
        </div>
      }

      <div class="boxposts separa">
        <div class="titular">
          <h2>Publicidad</h2>
        </div>
        <div class="normab">
          <ads-by-type [hideTitle]="true" [type]="'300x250'"></ads-by-type>
        </div>
      </div>
      <app-post-more-from-op [post]="post"></app-post-more-from-op>
      <app-post-related-posts [post]="post"></app-post-related-posts>
    </div>
  </div>
</div>