<div class="post-nav">
    <a class="float-end" (click)="nextPost(post.id)" matTooltip="Post siguiente (más nuevo)">
        <fa-icon [icon]="['fas', 'caret-right']"></fa-icon>
    </a>

    <a class="float-end" (click)="randomPost(post.id)" matTooltip="Post aleatorio">
        <fa-icon [icon]="['fas', 'random']"></fa-icon>
    </a>

    <a class="float-end" (click)="prevPost(post.id)" matTooltip="Post anterior (más viejo)">
        <fa-icon [icon]="['fas', 'caret-left']"></fa-icon>
    </a>
</div>