<h6 class="main-title my-2">
  <span>Redes sociales</span>
</h6>

<div class="row mb-4">
  <div class="col-12">
    @if (!socialMedia?.instagram && !socialMedia?.facebook && !socialMedia?.twitter && !socialMedia?.youtube && !socialMedia?.tiktok) {
      <div class="alert alert-warning"
        >
        🗃️ <strong>La información de sus redes sociales se encuentra vacía</strong>
      </div>
    }
  </div>

  @if (socialMedia?.instagram) {
    <div class="col-12 col-sm-12 col-md-2">
      <a href="https://instagram.com/{{socialMedia?.instagram}}" target="_blank" rel="noopener noreferrer"
        matTooltip="Instagram: {{socialMedia?.instagram}}">
        <i class="ti ti-brand-instagram text-rose"></i>
      </a>
    </div>
  }

  @if (socialMedia?.facebook) {
    <div class="col-12 col-sm-12 col-md-2">
      <a href="https://facebook.com/{{socialMedia?.facebook}}" target="_blank" rel="noopener noreferrer"
        matTooltip="Facebook: {{socialMedia?.facebook}}">
        <i class="ti ti-brand-facebook facebook"></i>
      </a>
    </div>
  }

  @if (socialMedia?.twitter) {
    <div class="col-12 col-sm-12 col-md-2">
      <a href="https://twitter.com/{{socialMedia?.twitter}}" target="_blank" rel="noopener noreferrer"
        matTooltip="Twitter: {{socialMedia?.twitter}}">
        <i class="ti ti-brand-twitter twitter"></i>
      </a>
    </div>
  }

  @if (socialMedia?.youtube) {
    <div class="col-12 col-sm-12 col-md-2">
      <a href="https://youtube.com/{{socialMedia?.youtube}}" target="_blank" rel="noopener noreferrer"
        matTooltip="Youtube: {{socialMedia?.youtube}}">
        <i class="ti ti-brand-youtube youtube"></i>
      </a>
    </div>
  }

  @if (socialMedia?.tiktok) {
    <div class="col-12 col-sm-12 col-md-2">
      <a href="https://tiktok.com/{{socialMedia?.tiktok}}" target="_blank" rel="noopener noreferrer"
        matTooltip="Tiktok: {{socialMedia?.tiktok}}">
        <i class="ti ti-brand-tiktok tiktok"></i>
      </a>
    </div>
  }
</div>