<div class="esees">
    <div class="eites">
        <a class="nomis" [routerLink]="['/perfil/' + post?.usuario?.userName]" #tooltip="matTooltip" matTooltip="Ver perfil de {{post?.usuario?.userName}}">
            <app-user-avatar [avatar]="post?.usuario?.avatar" [userName]="post?.usuario?.userName" [height]="97"></app-user-avatar>
        </a>

        <span>
            <img src="/assets/images/icons/rosette.png" #tooltip="matTooltip" matTooltip="Administrador"
                [matTooltipPosition]="'below'">
            Administrador
        </span>
    </div>

    <div class="gkes">
        <div class="eolr">
            <span class="tepe-online vctip" #tooltip="matTooltip" matTooltip="Online"
                [matTooltipPosition]="'below'"></span>
            <a [routerLink]="['/perfil/' + post?.usuario?.userName]">
                {{post?.usuario?.userName}}
            </a>
        </div>

        <div class="nekes">
            <fa-icon [icon]="['fas', 'mars']" class="vctip" tooltip="matTooltip" matTooltip="Hombre"
                [matTooltipPosition]="'below'" *ngIf="post?.usuario?.generoString == 'Masculino'"></fa-icon>

                <fa-icon [icon]="['fas', 'venus']" class="vctip" tooltip="matTooltip" matTooltip="Mujer"
                [matTooltipPosition]="'below'" *ngIf="post?.usuario?.generoString == 'Femenino'"></fa-icon>

            <img class="vctip pai" src="/assets/images/flags/{{post?.usuario?.estado?.pais?.isO2?.toLowerCase()}}.png"
            tooltip="matTooltip" matTooltip="{{post?.usuario?.estado?.pais.nombre}}" />
        </div>

        <div class="eliese">
            <div class="tyes">
                <fa-icon [icon]="['far', 'user-circle']"></fa-icon>
                <b>{{info?.seguidores ? info?.seguidores : 0}}</b> Seguidores
            </div>

            <div class="tyes">
                <fa-icon [icon]="['fas', 'chart-line']"></fa-icon>
                <b>{{info?.puntos ? info?.puntos : 0}}</b> Puntos
            </div>

            <div class="tyes">
                <fa-icon [icon]="['far', 'copy']"></fa-icon>
                <b>{{info?.posts ? info?.posts : 0}}</b> Posts
            </div>
        </div>

        <app-follow-button [userName]="post?.usuario?.userName" (followingChange)="changeSeguidores($event)">
        </app-follow-button>
    </div>
</div>