<form class="container container--home" [formGroup]="formGroup">
    <div class="row">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-9">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="card tops-container mb-3">
                            <div class="card-header">
                                <h2>Top post con más puntos</h2>
                                <i class="i moneda float-end"></i>
                            </div>

                            <div class="card-body">
                                <ng-container *ngIf="topPosts?.postsConMasPuntos?.length > 0">
                                    <article class="list-posts--zebra"
                                        *ngFor="let post of topPosts?.postsConMasPuntos; let i = index">
                                        <strong class="float-start">
                                            {{i+1}}
                                        </strong>

                                        <div class="ms-2">
                                            <a [routerLink]="['/posts/' + post.categoria.seo + '/' + post.id + '/' + post.url]"
                                                title="{{post.titulo}}">
                                                <img src="/assets/images/categorias/{{post.categoria.icono}}"
                                                    title="{{post.categoria.nombre}}" alt="{{post.categoria.nombre}}" />
                                                {{post.titulo}}
                                            </a>
                                        </div>
                                    </article>
                                </ng-container>

                                <div class="alert alert-warning m-2" *ngIf="topPosts?.postsConMasPuntos?.length < 1">
                                    😶‍🌫️ <strong>No hay nada por aquí</strong>
                                </div>
                            </div>
                        </div>

                        <div class="card tops-container mb-3">
                            <div class="card-header">
                                <h2>Top post más comentarios</h2>
                                <i class="i comentarios float-end"></i>
                            </div>

                            <div class="card-body">
                                <ng-container *ngIf="topPosts?.postsConMasComentarios?.length > 0">
                                    <article class="list-posts--zebra"
                                        *ngFor="let post of topPosts?.postsConMasComentarios; let i = index">
                                        <strong class="float-start">
                                            {{i+1}}
                                        </strong>

                                        <div class="ms-2">
                                            <a [routerLink]="['/posts/' + post.categoria.seo + '/' + post.id + '/' + post.url]"
                                                title="{{post.titulo}}">
                                                <img src="/assets/images/categorias/{{post.categoria.icono}}"
                                                    title="{{post.categoria.nombre}}" alt="{{post.categoria.nombre}}" />
                                                {{post.titulo}}
                                            </a>
                                        </div>
                                    </article>
                                </ng-container>

                                <div class="alert alert-warning m-2" *ngIf="topPosts?.postsConMasComentarios?.length < 1">
                                    😶‍🌫️ <strong>No hay nada por aquí</strong>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="card tops-container mb-3">
                            <div class="card-header">
                                <h2>Top post más favoritos</h2>
                                <i class="i estrella-plus float-end"></i>
                            </div>

                            <div class="card-body">
                                <ng-container *ngIf="topPosts?.postsConMasFavoritos?.length > 0">
                                    <article class="list-posts--zebra"
                                        *ngFor="let post of topPosts?.postsConMasFavoritos; let i = index">
                                        <strong class="float-start">
                                            {{i+1}}
                                        </strong>

                                        <div class="ms-2">
                                            <a [routerLink]="['/posts/' + post.categoria.seo + '/' + post.id + '/' + post.url]"
                                                title="{{post.titulo}}">
                                                <img src="/assets/images/categorias/{{post.categoria.icono}}"
                                                    title="{{post.categoria.nombre}}" alt="{{post.categoria.nombre}}" />
                                                {{post.titulo}}
                                            </a>
                                        </div>
                                    </article>
                                </ng-container>

                                <div class="alert alert-warning m-2" *ngIf="topPosts?.postsConMasFavoritos?.length < 1">
                                    😶‍🌫️ <strong>No hay nada por aquí</strong>
                                </div>
                            </div>
                        </div>

                        <div class="card tops-container mb-3">
                            <div class="card-header">
                                <h2>Top post con más seguidores</h2>
                                <i class="i personas float-end"></i>
                            </div>

                            <div class="card-body">
                                <ng-container *ngIf="topPosts?.postsConMasSeguidores?.length > 0">
                                    <article class="list-posts--zebra"
                                        *ngFor="let post of topPosts?.postsConMasSeguidores; let i = index">
                                        <strong class="float-start">
                                            {{i+1}}
                                        </strong>

                                        <div class="ms-2">
                                            <a [routerLink]="['/posts/' + post.categoria.seo + '/' + post.id + '/' + post.url]"
                                                title="{{post.titulo}}">
                                                <img src="/assets/images/categorias/{{post.categoria.icono}}"
                                                    title="{{post.categoria.nombre}}" alt="{{post.categoria.nombre}}" />
                                                {{post.titulo}}
                                            </a>
                                        </div>
                                    </article>
                                </ng-container>

                                <div class="alert alert-warning m-2" *ngIf="topPosts?.postsConMasSeguidores?.length < 1">
                                    😶‍🌫️ <strong>No hay nada por aquí</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-3 dotted-border--left">
                <h6 class="main-title my-2">
                    <span>Filtros</span>
                </h6>

                <section class="mb-3">
                    <label class="control-label">
                        <span class="required"></span> Categoría
                    </label>

                    <ng-select [items]="categorias" bindLabel="nombre" bindValue="seo" formControlName="categoria">
                        <ng-template ng-label-tmp let-item="item">
                            <img class="image-middle" style="margin-right: 2px;" height="15" width="15"
                                [src]="'/assets/images/categorias/' + item?.icono" />
                            {{item.nombre}}
                        </ng-template>

                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            <img class="image-middle" style="margin-right: 2px;" height="15" width="15"
                                [src]="'/assets/images/categorias/' + item?.icono" />
                            {{item.nombre}}
                        </ng-template>
                    </ng-select>
                </section>

                <section class="mb-3">
                    <label class="control-label">
                        <span class="required"></span> Periodo
                    </label>

                    <br>

                    <mat-radio-group class="mt-1" color="primary" formControlName="date">
                        <mat-radio-button class="d-block my-3" value="ayer">
                            Ayer
                        </mat-radio-button>

                        <mat-radio-button class="d-block my-3" value="hoy">
                            Hoy
                        </mat-radio-button>

                        <mat-radio-button class="d-block my-3" value="ultimos7dias">
                            Últimos 7 días
                        </mat-radio-button>

                        <mat-radio-button class="d-block my-3" value="mes">
                            Del mes
                        </mat-radio-button>

                        <mat-radio-button class="d-block my-3" value="all">
                            Todos los tiempos
                        </mat-radio-button>
                    </mat-radio-group>
                </section>

                <ads-by-type class="my-3" [type]="'300x250'"></ads-by-type>
            </div>
        </div>
    </div>
</form>