<section class="container container--home">
    <div class="row">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-9">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="card tops-container mb-3">
                            <div class="card-header">
                                <h2>Top post con más puntos</h2>
                                <i class="i moneda float-end"></i>
                            </div>

                            <div class="card-body">

                            </div>
                        </div>

                        <div class="card tops-container mb-3">
                            <div class="card-header">
                                <h2>Top post más comentarios</h2>
                                <i class="i comentarios float-end"></i>
                            </div>

                            <div class="card-body">

                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="card tops-container mb-3">
                            <div class="card-header">
                                <h2>Top post más favoritos</h2>
                                <i class="i estrella-plus float-end"></i>
                            </div>

                            <div class="card-body">

                            </div>
                        </div>

                        <div class="card tops-container mb-3">
                            <div class="card-header">
                                <h2>Top post con más seguidores</h2>
                                <i class="i personas float-end"></i>
                            </div>

                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-3 dotted-border--left">
                <h6 class="main-title my-2">
                    <span>Filtros</span>
                </h6>

                <section class="mb-3">
                    <label class="control-label">
                        <span class="required"></span> Categoría
                    </label>

                    <ng-select [items]="categorias" bindLabel="nombre" bindValue="seo" formControlName="categoria">
                        <ng-template ng-label-tmp let-item="item">
                            <img class="image-middle" style="margin-right: 2px;" height="15" width="15"
                                [src]="'/assets/images/categorias/' + item?.icono" />
                            {{item.nombre}}
                        </ng-template>

                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            <img class="image-middle" style="margin-right: 2px;" height="15" width="15"
                                [src]="'/assets/images/categorias/' + item?.icono" />
                            {{item.nombre}}
                        </ng-template>
                    </ng-select>
                </section>

                <section class="mb-3">
                    <label class="control-label">
                        <span class="required"></span> Periodo
                    </label>

                    <br>

                    <mat-radio-group class="mt-1" color="primary" formControlName="searchType">
                        <mat-radio-button class="d-block my-3" value="ayer">
                            Ayer
                        </mat-radio-button>

                        <mat-radio-button class="d-block my-3" value="hoy">
                            Hoy
                        </mat-radio-button>

                        <mat-radio-button class="d-block my-3" value="ultimos7dias">
                            Últimos 7 días
                        </mat-radio-button>

                        <mat-radio-button class="d-block my-3" value="mes">
                            Del mes
                        </mat-radio-button>

                        <mat-radio-button class="d-block my-3" value="all">
                            Todos los tiempos
                        </mat-radio-button>
                    </mat-radio-group>
                </section>

                <ads-by-type class="my-3" [type]="'300x250'"></ads-by-type>
            </div>
        </div>
    </div>
</section>