<div id="tagcloud" class="textrank-tags">
    <div class="tag-size4"> <a rel="tag"
            href="/web/20111102161905/http://www.taringa.net/tags/dibujo">dibujo</a>
        </div>
    <div class="tag-size3"> <a rel="tag" href="/web/20111102161905/http://www.taringa.net/tags/balon">balon</a></div>
    <div class="tag-size4"> <a rel="tag" href="/web/20111102161905/http://www.taringa.net/tags/arte">arte</a></div>
    <div class="tag-size3"> <a rel="tag" href="/web/20111102161905/http://www.taringa.net/tags/anime">anime</a></div>
    <div class="tag-size5"> <a rel="tag"
            href="/web/20111102161905/http://www.taringa.net/tags/guerra">guerra</a></div>
    <div class="tag-size1"> <a rel="tag" href="/web/20111102161905/http://www.taringa.net/tags/video">video</a></div>
    <div class="tag-size5"> <a rel="tag" href="/web/20111102161905/http://www.taringa.net/tags/amor">amor</a></div>
    <div class="tag-size2"> <a rel="tag" href="/web/20111102161905/http://www.taringa.net/tags/fotos">fotos</a></div>
    <div class="tag-size5"> <a rel="tag"
            href="/web/20111102161905/http://www.taringa.net/tags/musica">musica</a></div>
    <div class="tag-size3"> <a rel="tag"
            href="/web/20111102161905/http://www.taringa.net/tags/historia">historia</a></div>
    <div class="tag-size4"> <a rel="tag" href="/web/20111102161905/http://www.taringa.net/tags/vida">vida</a></div>
    <div class="tag-size1"> <a rel="tag" href="/web/20111102161905/http://www.taringa.net/tags/messi">messi</a></div>
    <div class="tag-size5"> <a rel="tag"
            href="/web/20111102161905/http://www.taringa.net/tags/halloween">halloween</a></div>
    <div class="tag-size2"> <a rel="tag" href="/web/20111102161905/http://www.taringa.net/tags/nuevo">nuevo</a></div>
    <div class="tag-size2"> <a rel="tag"
            href="/web/20111102161905/http://www.taringa.net/tags/barcelona">barcelona</a></div>
    <div class="tag-size2"> <a rel="tag"
            href="/web/20111102161905/http://www.taringa.net/tags/argentina">argentina</a></div>
    <div class="tag-size1"> <a rel="tag" href="/web/20111102161905/http://www.taringa.net/tags/mundo">mundo</a></div>
    <div class="tag-size1"> <a rel="tag"
            href="/web/20111102161905/http://www.taringa.net/tags/imagen">imagen</a></div>
    <div class="tag-size3"> <a rel="tag"
            href="/web/20111102161905/http://www.taringa.net/tags/futbol">futbol</a></div>
    <div class="tag-size4"> <a rel="tag" href="/web/20111102161905/http://www.taringa.net/tags/mejor">mejor</a></div>
</div>