
.textrank-tags {
	padding: 12px;
	text-shadow: 0 1px 0 #FFF;
	text-align: center;
	font-size: 12px;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	& > div {
		padding: 0.125rem 0.25rem;
	}
}

.tag-size1 {
	/*font-size: 220%;*/
	font-size: 180%;
	line-height: 27px;
	font-weight: bold;
}
.tag-size2 {
	/*font-size: 190%;*/
	font-size: 150%;
	line-height: 22px;
	opacity: 0.8;
}
.tag-size3 {
	/*font-size: 170%;*/
	font-size: 125%;
	line-height: 19px;
	opacity: 0.7;
}
.tag-size4 {
	/*font-size: 150%;*/
	font-size: 100%;
	opacity: 0.6;
}
.tag-size5 {
		font-size: 125%;
		opacity: 0.4;
}
.tag-size5:hover,.tag-size4:hover,.tag-size3:hover,.tag-size2:hover,.tag-size1:hover {
		opacity:1;
}

// span {
//     display: block;
// }
