<div class="container container--home">
    <div class="row">
        <div class="col-12 p-3">
            <div class="buscador-home mx-auto p-5">
                <span id="buscador" class="mb-4"></span>
                <form class="pb-5" name="buscador" action="/buscar/posts/" method="GET">
                    <input class="buscador" name="q" type="text" value="">
                    <input type="submit" title="Buscar" value="Buscar" class="btn-buscar verde">
                </form>
            </div>
        </div>
    </div>
</div>