<form [formGroup]="searchFormGroup" (ngSubmit)="search()">
    <div class="container container--home">
        <div class="row" *ngIf="!isSearch">
            <div class="col-12 p-3">
                <div class="buscador-home mx-auto p-5">
                    <span id="buscador" class="mb-4"></span>

                    <input class="buscador me-3" type="text" formControlName="search" />

                    <button type="submit" mat-flat-button color="primary" class="btn-buscar verde">
                        <mat-icon>search</mat-icon> Buscar
                    </button>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="isSearch">
            <div class="row">
                <div class="col-12 col-sm-9">
                    <div class="ladoi">
                        <section class="text-center">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-10">
                                    <input class="form-control" type="text" formControlName="search" />
                                </div>

                                <div class="col-12 col-sm-12 col-md-2">
                                    <button type="button" (click)="search()" mat-flat-button color="primary" class="col-12">
                                        <mat-icon>search</mat-icon> Buscar
                                    </button>
                                </div>
                            </div>
                        </section>

                        <section>
                            <h6 class="main-title my-2">
                                <span style="padding-right: 0;">Posts</span>

                                <small style="background: #fff; color: #b4b4b4; padding: 0 4px; font-size: .65rem; position: relative; top: -2px;">
                                    ({{totalCount}})
                                </small>
                            </h6>

                            <ng-container *ngIf="posts.length > 0">
                                <article class="list-posts" *ngFor="let post of posts">
                                    <section>
                                        <a class="post-title" [routerLink]="['/posts/' + post.categoria.seo + '/' + post.id + '/' + post.url]" title="{{post.titulo}}">
                                            <img src="/assets/images/categorias/{{post.categoria.icono}}" title="{{post.categoria.nombre}}"
                                                alt="{{post.categoria.nombre}}" />
                                            {{post.titulo}}
                                        </a>
    
                                        <p class="info mt-1">
                                            {{post.fechaRegistro | timeAgo}} - En <a target="_blank" [routerLink]="['/posts/' + post.categoria.seo]">{{post.categoria.nombre}}</a> - Por <a target="_blank" [routerLink]="['/perfil/' + post.usuario.userName]">{{post.usuario.userName}}</a> - 1 Favoritos - {{post.comentarios}} {{post.comentarios === 1 ? 'Comentario' : 'Comentarios'}}
                                        </p>
                                    </section>
    
                                    <section class="float-end">
    
                                    </section>
    
                                    <div class="clearfix"></div>
                                </article>
                            </ng-container>

                            <div class="alert alert-warning" *ngIf="posts.length < 1">
                                <h3>👀 Oops... Nada por aquí</h3>
                                <h6>No hay resultados para "{{searchFormGroup?.value?.search}}" intenta usando alguno de los filtros</h6>
                            </div>

                            <mat-paginator [length]="totalCount" [pageSize]="paginationService.pageCount" (page)="pageChange($event)">
                            </mat-paginator>
                        </section>
                    </div>
                </div>

                <div class="dotted-border--left col-12 col-sm-3 text-center">
                    <ads-by-type class="my-3" [type]="'300x250'"></ads-by-type>
                </div>
            </div>
        </div>
    </div>
</form>