<h6 class="main-title">
  <span>TOP's Posts</span>
  <app-top-times-selector (selectedDate)="dateChanges($event)"></app-top-times-selector>
</h6>

@if (topPosts.length < 1) {
  <section [ngClass]="{'opacity-50': loading}">
    <div class="alert alert-warning">
      😳 <strong>Aún no se han encontrado top de posts en Taringa!</strong>
    </div>
  </section>
}

@if (topPosts.length > 0) {
  @for (post of topPosts; track post; let i = $index) {
    <article class="list-posts--zebra" [ngClass]="{'opacity-50': loading}">
      <strong class="float-start">{{i + 1}}</strong>
      <small>
        <a [routerLink]="['/posts/' + post.categoria.seo + '/' + post.id + '/' + post.url]">
          <img src="/assets/images/categorias/{{post.categoria.icono}}" matTooltip="{{post.categoria.nombre}}"
            matTooltipPosition="left" alt="{{post.categoria.nombre}}" />
            <span class="ms-1" matTooltip="{{post.titulo}}">{{post.titulo | truncate:[40]}}</span>
          </a>
        </small>
        <span class="float-end value">
          {{post.puntos}}
        </span>
      </article>
    }
    <div class="view-more-list">
      <a [routerLink]="['/tops']">
        Ver más
      </a>
    </div>
  }

  <br>
