<div class="row wall__container">
    <div class="col-12">
        <article class="wall__story">
            <div class="Story" id="pub_21">
                <div class="boxreshout">
                                    <a href="https://v5new.lucky-forum.com/perfil/nesticle8bit" class="Story_Pic"><img alt="nesticle8bit" src="https://v5new.lucky-forum.com/files/avatar/18_50.jpg?20211022025930"></a>		
                            </div>	
                <div class="Story_Content">
                    <span class="pushot"></span>
                    <div class="Story_Head">
                                                                                    <span onclick="muro.del_pub(21,1); return false;" class="i elimina"></span>
                                                                            <div class="quiendi"> 
                            @<a href="https://v5new.lucky-forum.com/perfil/nesticle8bit" class="a_blue">nesticle8bit</a> dijo									</div>
                        <div class="shoutbody">asdasdasd </div>				
                                    </div>
                    <div class="Story_Foot">
                        <div class="lefsho">
                            <span class="i tipot"></span>																				<a>Hace unos segundos</a>
                        </div>
                        <div class="shofo">					
                            <a class="vctip" title="Ver actividad" onclick="ver_actividad('21'); return false;"><span class="i actividades"></span></a>
                            <a class="abrir" href="https://v5new.lucky-forum.com/perfil/nesticle8bit/21">Abrir</a>					
                            <a class="vctip" title="Comentarios cerrados"><span class="i comenta"></span><div class="acnu" id="sunc_21"><b id="datine">0</b></div></a>
                            <a class="vctip" title="Favoritos" onclick="favorito_shout('21'); return false;" id="sunf_21"><span class="i favori"></span><div class="acnu">0</div></a>
                            <a class="vctip" title="Me gusta" onclick="muro.like_this('21', 'pub'); return false;" id="sunl_21"><span class="i likeli"></span><div class="acnu">0</div></a>
                            <a class="vctip" title="Compartir" onclick="compartir_shout('21'); return false;" id="suns_21"><span class="i  repost"></span><div class="acnu">0</div></a>
                        </div>
                    </div>                      
                </div>
            </div>
        </article>
    </div>
</div>