<div class="row wall__container">
    <div class="col-12">
        <article class="wall__story">
            <div class="story" id="pub_21">
                <div class="row">
                    <div class="col-12 col-sm-1">
                        <div class="boxreshout">
                            <a href="https://v5new.lucky-forum.com/perfil/nesticle8bit" class="story__profile-image">
                                <img alt="nesticle8bit" src="https://i.imgur.com/2Rs9AVg.jpeg" />
                            </a>
                        </div>
                    </div>

                    <div class="col-12 col-sm-11">
                        <div class="story__content">
                            <span class="story__arrow"></span>
                            <div class="story__header">
                                <div class="quiendi">
                                    @<a href="#" class="a_blue">nesticle8bit</a>
                                    dijo </div>
                                <div class="shoutbody">asdasdasd </div>
                            </div>

                            <div class="story__footer">
                                <div class="container-fluid">
                                    <div class="row pt-1">
                                        <div class="col-12 col-sm-6">
                                            <span class="i tipot"></span> <a>Hace unos segundos</a>
                                        </div>

                                        <div class="col-12 col-sm-6 text-end">
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a class="vctip" title="Ver actividad">
                                                        <span class="i actividades"></span>
                                                    </a>
                                                </li>

                                                <li class="list-inline-item">
                                                    <a class="abrir" href="#">Abrir</a>
                                                </li>

                                                <li class="list-inline-item">
                                                    <a class="vctip" title="Comentarios cerrados"><span
                                                            class="i comenta"></span>
                                                        <div class="acnu" id="sunc_21"><b id="datine">0</b></div>
                                                    </a>
                                                </li>

                                                <li class="list-inline-item">
                                                    <a class="vctip" title="Favoritos"
                                                        onclick="favorito_shout('21'); return false;" id="sunf_21"><span
                                                            class="i favori"></span>
                                                        <div class="acnu">0</div>
                                                    </a>
                                                </li>

                                                <li class="list-inline-item">
                                                    <a class="vctip" title="Me gusta"
                                                        onclick="muro.like_this('21', 'pub'); return false;"
                                                        id="sunl_21"><span class="i likeli"></span>
                                                        <div class="acnu">0</div>
                                                    </a>
                                                </li>

                                                <li class="list-inline-item">
                                                    <a class="vctip" title="Compartir"
                                                        onclick="compartir_shout('21'); return false;"
                                                        id="suns_21"><span class="i  repost"></span>
                                                        <div class="acnu">0</div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>