<h1 class="dashboard--title">Publicidad</h1>

<form [formGroup]="formGroup" (ngSubmit)="updateAds()" class="container">
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="dashboard-ads-headerScript">
            Header
        </label>

        <div class="col-sm-10">
            <textarea id="dashboard-ads-headerScript" class="form-control" formControlName="headerScript" rows="6"></textarea>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="dashboard-ads-footerScript">
            Footer
        </label>

        <div class="col-sm-10">
            <textarea id="dashboard-ads-footerScript" class="form-control" formControlName="footerScript" rows="6"></textarea>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="dashboard-ads-banner300x250">
            Banner 300x250
        </label>

        <div class="col-sm-10">
            <textarea id="dashboard-ads-banner300x250" class="form-control" formControlName="banner300x250" rows="6"></textarea>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="dashboard-ads-banner468x60">
            Banner 468x60
        </label>

        <div class="col-sm-10">
            <textarea id="dashboard-ads-banner468x60" class="form-control" formControlName="banner468x60" rows="6"></textarea>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="dashboard-ads-banner160x600">
            Banner 160x600
        </label>

        <div class="col-sm-10">
            <textarea id="dashboard-ads-banner160x600" class="form-control" formControlName="banner160x600" rows="6"></textarea>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="dashboard-ads-banner728x90">
            Banner 728x90
        </label>

        <div class="col-sm-10">
            <textarea id="dashboard-ads-banner728x90" class="form-control" formControlName="banner728x90" rows="6"></textarea>
        </div>
    </div>

    <div class="form-container--footer text-center mb-4">
        <button mat-flat-button color="primary" type="submit">
            <mat-icon>save</mat-icon> Guardar
        </button>
    </div>
</form>