<div class="mentop">
    <div class="actualtop cursor--pointer" id="ucambi" (mouseenter)="displayMenu = true"> <!-- (mouseleave)="displayMenu = false" -->
        <span *ngIf="selection === 'ayer'">Ayer</span>
        <span *ngIf="selection === 'hoy'">Hoy</span>
        <span *ngIf="selection === 'ultimos7dias'">Semana</span>
        <span *ngIf="selection === 'mes'">Mes</span>
        <span *ngIf="selection === 'all'">Todos</span>
    </div>

    <div class="listop" [style.display]="displayMenu ? 'block' : 'none'" (mouseenter)="displayMenu = true" (mouseleave)="displayMenu = false">
        <a href="javascript:void(0)" (click)="changeTop('ayer')" class="ttayer">
            Ayer
        </a>

        <a href="javascript:void(0)" (click)="changeTop('hoy')" class="tthoy">
            Hoy
        </a>

        <a href="javascript:void(0)" (click)="changeTop('ultimos7dias')" class="ttsemana">
            Semana
        </a>

        <a href="javascript:void(0)" (click)="changeTop('mes')" class="ttmes">
            Mes
        </a>

        <a href="javascript:void(0)" (click)="changeTop('all')" class="tttodos listo">
            Todos
        </a>
    </div>
</div>