<div class="mentop">
    <div class="actualtop cursor-pointer" id="ucambi" (mouseenter)="displayMenu = true" (mouseleave)="displayMenu = false">
        Todos
    </div>

    <div class="listop" id="mutops" [style.display]="displayMenu ? 'block' : 'none'" (mouseenter)="displayMenu = true" (mouseleave)="displayMenu = false">
        <a onclick="pestana('mutops','uayer','ttayer','ucambi','utops'), filtrar_top_usuarios('2');"
            class="ttayer">Ayer</a>
        <a onclick="pestana('mutops','uhoy','tthoy','ucambi','utops'), filtrar_top_usuarios('1');"
            class="tthoy">Hoy</a>
        <a onclick="pestana('mutops','usemana','ttsemana','ucambi','utops'), filtrar_top_usuarios('3');;"
            class="ttsemana">Semana</a>
        <a onclick="pestana('mutops','umes','ttmes','ucambi','utops'), filtrar_top_usuarios('4');;"
            class="ttmes">Mes</a>
        <a onclick="pestana('mutops','utodos','tttodos','ucambi','utops'), filtrar_top_usuarios('5');;"
            class="tttodos listo">Todos</a>
    </div>
</div>