<h2 mat-dialog-title>Subir y cortar avatar</h2>

<mat-dialog-content>
    <div class="mb-3">
        <input class="form-control form-control-sm" id="formFileSm" type="file" (change)="fileChangeEvent($event)">
    </div>

    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
        [containWithinAspectRatio]="true" [aspectRatio]="1 / 1" [imageQuality]="93" format="jpeg"
        [resizeToWidth]="200" [resizeToHeight]="200"
        (imageCropped)="imageCropped($event)" (loadImageFailed)="loadImageFailed()">
    </image-cropper>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>
        Cancelar
    </button>

    <button type="submit" mat-button color="primary" (click)="saveAvatar()" [disabled]="!croppedImage">
        Guardar
    </button>
</mat-dialog-actions>