<section class="container container--home">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-9">
            <h6 class="main-title">
                <span>Usuarios</span>
            </h6>

            <div class="nada-gris" style="margin: 5px 10px 0 0;" *ngIf="usuarios?.length < 1">
                No se encontraro usuarios con los filtros seleccionados
            </div>

            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 my-2" *ngFor="let usuario of usuarios">
                    <div class="xoti">
                        <h2 [routerLink]="['/perfil/' + usuario.userName]">
                            {{usuario.userName}}
                        </h2>

                        <div class="estv qtip cursor--help" [matTooltipPosition]="'above'"
                            matTooltip="{{!usuario.activo || usuario.activo > 15 ? 'Offline' : 'Online'}}">
                            <span class="user-status"
                                [ngClass]="{'s-online': usuario.activo && usuario.activo <= 15, 's-offline': !usuario.activo || usuario.activo > 15}"></span>
                        </div>
                    </div>

                    <div class="mite">
                        <div class="current-user-info float-start">
                            <p style="color: #171717;font-weight: bold;">
                                <img src="/assets/images/icons/rangos/{{usuario.rango.icono}}">
                                {{usuario.rango?.nombre}}
                            </p>

                            <p>
                                <img src="/assets/images/flags/{{usuario.iso2.toLowerCase()}}.png"
                                    style="margin: 0 10px 0 0;">
                                {{usuario.pais}}
                            </p>

                            <p>
                                <img
                                    src="/assets/images/icons/{{usuario.genero === 1 ? 'male' : usuario.genero === 2 ? 'female' : 'question'}}.png">
                                {{usuario.genero === 1 ? 'Hombre' : usuario.genero === 2 ? 'Mujer' : 'Otro'}}
                            </p>
                        </div>

                        <a class="float-end" href="javascript:void(0)">
                            <app-user-avatar [routerLink]="['/perfil/' + usuario.userName]" [class]="'img-fluid img-thumbnail'" [avatar]="usuario.avatar"
                                [userName]="usuario.userName" [width]="80" matTooltip="{{usuario.userName}}"
                                [matTooltipPosition]="'left'"></app-user-avatar>
                        </a>
                    </div>

                    <div class="fotus mx-auto">
                        <div class="row">
                            <div class="col-4">
                                <p class="mb-1">
                                    <span>{{usuario.puntos}}</span>
                                    Puntos
                                </p>
                            </div>

                            <div class="col-4">
                                <p class="espp mb-1">
                                    <span>{{usuario.comentarios}}</span>
                                    Comentarios
                                </p>
                            </div>

                            <div class="col-4">
                                <p class="esppa mb-1">
                                    <span>{{usuario.posts}}</span>
                                    Posts
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <mat-paginator [length]="totalCount" [pageSize]="paginationService.pageCount"
                    (page)="pageChange($event)">
                </mat-paginator>
            </div>
        </div>

        <div class="dotted-border--left col-12 col-sm-6 col-md-3">
            <form [formGroup]="formGroup" (ngSubmit)="getUsuarios()">
                <h6 class="main-title">
                    <span>Filtrar</span>
                </h6>

                <section class="mt-3">
                    <h3 class="pixicity-title">
                        Estado
                    </h3>

                    <mat-radio-group class="radio-group" formControlName="enLinea">
                        <mat-radio-button color="primary" class="radio-button"
                            *ngFor="let enLinea of enLineaValues" [value]="enLinea">
                            {{enLinea}} <br>
                        </mat-radio-button>
                    </mat-radio-group>
                </section>

                <section class="mt-3">
                    <h3 class="pixicity-title">
                        Género
                    </h3>

                    <mat-radio-group class="radio-group" formControlName="genero">
                        <mat-radio-button color="primary" class="radio-button" *ngFor="let genero of generos"
                            [value]="genero.value">
                            {{genero.label}} <br>
                        </mat-radio-button>
                    </mat-radio-group>
                </section>

                <section class="mt-3">
                    <h3 class="pixicity-title">
                        País
                    </h3>

                    <ng-select [items]="paises" bindLabel="nombre" bindValue="id" formControlName="pais">
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            <img src="/assets/images/flags/{{item?.iso2?.toLowerCase()}}.png" class="image-middle"
                                *ngIf="item?.iso2">
                            {{item.nombre}}
                        </ng-template>

                        <ng-template ng-label-tmp let-item="item">
                            <img src="/assets/images/flags/{{item?.iso2?.toLowerCase()}}.png" class="image-middle"
                                *ngIf="item?.iso2">
                            {{item.nombre}}
                        </ng-template>
                    </ng-select>
                </section>

                <section class="mt-3">
                    <h3 class="pixicity-title">
                        Rango
                    </h3>

                    <ng-select [items]="rangos" bindLabel="nombre" bindValue="id" formControlName="rango">
                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            <img src="/assets/images/icons/rangos/{{item.icono}}" class="image-middle me-2"
                                *ngIf="item.icono">
                            {{item.nombre}}
                        </ng-template>

                        <ng-template ng-label-tmp let-item="item">
                            <img src="/assets/images/icons/rangos/{{item.icono}}" class="image-middle me-2"
                                *ngIf="item.icono">
                            {{item.nombre}}
                        </ng-template>
                    </ng-select>
                </section>

                <section class="d-grid gap-2 my-3">
                    <button type="submit" mat-flat-button color="primary">
                        <mat-icon>filter_alt</mat-icon> Filtrar
                    </button>
                </section>
            </form>
        </div>
    </div>
</section>