<h6 class="main-title">
    <span>Estadísticas</span>
</h6>

<div class="row">
    <small class="col-12 col-sm-6">
        <b>1</b> usuario(s) online
    </small>

    <small class="col-12 col-sm-6">
        <b>2</b> miembros
    </small>
</div>

<div class="row">
    <small class="col-12 col-sm-6">
        <b>89</b> posts
    </small>

    <small class="col-12 col-sm-6">
        <b>5</b> comentarios
    </small>
</div>

<div class="row">
    <small class="col-12 col-sm-6">
        <b>2</b> fotos
    </small>

    <small class="col-12 col-sm-6">
        <b>2</b> comentarios en fotos
    </small>
</div>

<div class="alert alert-info p-1 mt-1 text-center">
    <small>🎉 Record conectados: <b>18</b> el Miércoles a las 14:30</small>
</div>