.last_news {
    padding: 7px 10px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #f0d35b;
    background: #f9ecb7;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-align: center;
}