<form class="container container--home" [formGroup]="formGroup">
  <div class="row">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-9">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6">
            <div class="card tops-container mb-3">
              <div class="card-header">
                <h2>Top post con más puntos</h2>
                <i class="icon moneda float-end"></i>
              </div>

              <div class="card-body">
                @if (topPosts?.postsConMasPuntos?.length > 0) {
                  @for (post of topPosts?.postsConMasPuntos; track post; let i = $index) {
                    <article class="list-posts--zebra"
                      >
                      <strong class="float-start">
                        {{i+1}}
                      </strong>
                      <div class="ms-2">
                        <a [routerLink]="['/posts/' + post.categoria.seo + '/' + post.id + '/' + post.url]"
                          title="{{post.titulo}}">
                          <img src="/assets/images/categorias/{{post.categoria.icono}}"
                            title="{{post.categoria.nombre}}" alt="{{post.categoria.nombre}}" />
                            {{post.titulo | truncate:[65]}}
                          </a>
                        </div>
                      </article>
                    }
                  }

                  @if (topPosts?.postsConMasPuntos?.length < 1) {
                    <div class="alert alert-warning m-2">
                      😶‍🌫️ <strong>No hay nada por aquí</strong>
                    </div>
                  }
                </div>
              </div>

              <div class="card tops-container mb-3">
                <div class="card-header">
                  <h2>Top post más comentarios</h2>
                  <i class="i comentarios float-end"></i>
                </div>

                <div class="card-body">
                  @if (topPosts?.postsConMasComentarios?.length > 0) {
                    @for (post of topPosts?.postsConMasComentarios; track post; let i = $index) {
                      <article class="list-posts--zebra"
                        >
                        <strong class="float-start">
                          {{i+1}}
                        </strong>
                        <div class="ms-2">
                          <a [routerLink]="['/posts/' + post.categoria.seo + '/' + post.id + '/' + post.url]"
                            title="{{post.titulo}}">
                            <img src="/assets/images/categorias/{{post.categoria.icono}}"
                              title="{{post.categoria.nombre}}" alt="{{post.categoria.nombre}}" />
                              {{post.titulo | truncate:[65]}}
                            </a>
                          </div>
                        </article>
                      }
                    }

                    @if (topPosts?.postsConMasComentarios?.length < 1) {
                      <div class="alert alert-warning m-2"
                        >
                        😶‍🌫️ <strong>No hay nada por aquí</strong>
                      </div>
                    }
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-6">
                <div class="card tops-container mb-3">
                  <div class="card-header">
                    <h2>Top post más favoritos</h2>
                    <i class="i estrella-plus float-end"></i>
                  </div>

                  <div class="card-body">
                    @if (topPosts?.postsConMasFavoritos?.length > 0) {
                      @for (post of topPosts?.postsConMasFavoritos; track post; let i = $index) {
                        <article class="list-posts--zebra"
                          >
                          <strong class="float-start">
                            {{i+1}}
                          </strong>
                          <div class="ms-2">
                            <a [routerLink]="['/posts/' + post.categoria.seo + '/' + post.id + '/' + post.url]"
                              title="{{post.titulo}}">
                              <img src="/assets/images/categorias/{{post.categoria.icono}}"
                                title="{{post.categoria.nombre}}" alt="{{post.categoria.nombre}}" />
                                {{post.titulo | truncate:[65]}}
                              </a>
                            </div>
                          </article>
                        }
                      }

                      @if (topPosts?.postsConMasFavoritos?.length < 1) {
                        <div class="alert alert-warning m-2">
                          😶‍🌫️ <strong>No hay nada por aquí</strong>
                        </div>
                      }
                    </div>
                  </div>

                  <div class="card tops-container mb-3">
                    <div class="card-header">
                      <h2>Top post con más seguidores</h2>
                      <i class="i personas float-end"></i>
                    </div>

                    <div class="card-body">
                      @if (topPosts?.postsConMasSeguidores?.length > 0) {
                        @for (post of topPosts?.postsConMasSeguidores; track post; let i = $index) {
                          <article class="list-posts--zebra"
                            >
                            <strong class="float-start">
                              {{i+1}}
                            </strong>
                            <div class="ms-2">
                              <a [routerLink]="['/posts/' + post.categoria.seo + '/' + post.id + '/' + post.url]"
                                title="{{post.titulo}}">
                                <img src="/assets/images/categorias/{{post.categoria.icono}}"
                                  title="{{post.categoria.nombre}}" alt="{{post.categoria.nombre}}" />
                                  {{post.titulo | truncate:[65]}}
                                </a>
                              </div>
                            </article>
                          }
                        }

                        @if (topPosts?.postsConMasSeguidores?.length < 1) {
                          <div class="alert alert-warning m-2"
                            >
                            😶‍🌫️ <strong>No hay nada por aquí</strong>
                          </div>
                        }
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-3 dotted-border--left">
                <h6 class="main-title my-2">
                  <span>Filtros</span>
                </h6>

                <section class="mb-3">
                  <label class="control-label">
                    <span class="required"></span> Categoría
                  </label>

                  <app-select [items]="categorias" bindLabel="nombre" bindValue="id" formControlName="categoria"
                    (change)="getTopPosts(date)">
                    <ng-template appSelectLabel let-item="item">
                      <img class="image-middle" style="margin-right: 2px;" height="15" width="15"
                        [src]="'/assets/images/categorias/' + item?.icono" />
                        {{item.nombre}}
                      </ng-template>

                      <ng-template appSelectOption let-item="item" let-index="index">
                        <img class="image-middle" style="margin-right: 2px;" height="15" width="15"
                          [src]="'/assets/images/categorias/' + item?.icono" />
                          {{item.nombre}}
                        </ng-template>
                      </app-select>
                    </section>

                    <section class="mb-3">
                      <label class="control-label">
                        <span class="required"></span> Periodo
                      </label>

                      <br>

                        <mat-radio-group class="mt-1" color="primary" formControlName="date">
                          <mat-radio-button class="d-block my-3" value="ayer" (click)="getTopPosts('ayer')">
                            Ayer
                          </mat-radio-button>

                          <mat-radio-button class="d-block my-3" value="hoy" (click)="getTopPosts('hoy')">
                            Hoy
                          </mat-radio-button>

                          <mat-radio-button class="d-block my-3" value="ultimos7dias"
                            (click)="getTopPosts('ultimos7dias')">
                            Últimos 7 días
                          </mat-radio-button>

                          <mat-radio-button class="d-block my-3" value="mes" (click)="getTopPosts('mes')">
                            Del mes
                          </mat-radio-button>

                          <mat-radio-button class="d-block my-3" value="all" (click)="getTopPosts('all')">
                            Todos los tiempos
                          </mat-radio-button>
                        </mat-radio-group>
                      </section>

                      <ads-by-type class="my-3" [type]="'300x250'"></ads-by-type>
                    </div>
                  </div>
                </div>
              </form>