@if (afiliados.length > 0) {
  <main class="table-responsive">
    <table class="table table-sm table-striped table-hover">
      <thead>
        <tr>
          <th>Creado</th>
          <th>Código</th>
          <th>Título</th>
          <th>URL</th>
          <th>In <i class="ti ti-arrow-down text-success ms-1"></i></th>
          <th>Out <i class="ti ti-arrow-up text-primary ms-1"></i></th>
          <th>Estado</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (afiliado of afiliados; track afiliado; let i = $index) {
          <tr>
            <td>
              <span class="cursor--help" matTooltip="{{afiliado.fechaRegistro}}">
                {{afiliado.fechaRegistro | timeAgo}}
              </span>
            </td>
            <td>
              <i class="ti ti-copy mr-3 text-secondary cursor--pointer" matTooltip="Copiar al portapapeles" (click)="clipboard(afiliado.codigo)"></i>
              &nbsp;
              <span class="badge bg-primary">
                {{afiliado.codigo}}
              </span>
            </td>
            <td>
              {{afiliado.titulo}}
            </td>
            <td>
              <strong>
                <a href="{{afiliado.url}}" target="_blank" matTooltip="{{afiliado.url}}">
                  <i class="ti ti-external-link"></i> {{afiliado.url}}
                </a>
              </strong>
            </td>
            <td>
              {{afiliado.hitsIn}}
            </td>
            <td>
              {{afiliado.hitsOut}}
            </td>
            <td>
              <span class="badge" [ngClass]="{'bg-success': afiliado.activo, 'bg-warning': !afiliado.activo}">
                {{afiliado.activo ? 'Activo' : 'Pendiente'}}
              </span>
            </td>
            <td class="text-center" width="30px">
              <button class="btn-menu" [matMenuTriggerFor]="menu">
                <i class="ti ti-dots-vertical"></i>
              </button>
              <mat-menu #menu="matMenu">
                <button type="button" mat-menu-item (click)="activarDesactivarAfiliado(afiliado)">
                  @if (afiliado.activo) {
                    <span>
                      <mat-icon>toggle_off</mat-icon>
                      Desactivar
                    </span>
                  }
                  @if (!afiliado.activo) {
                    <span>
                      <mat-icon>toggle_on</mat-icon>
                      Activar
                    </span>
                  }
                </button>
                <button type="button" mat-menu-item (click)="updateAfiliado(afiliado)">
                  <mat-icon>edit</mat-icon>
                  <span>Actualizar</span>
                </button>
                <button type="button" class="text-danger" mat-menu-item (click)="deleteAfiliado(afiliado, i)">
                  <mat-icon class="text-danger">delete_outline</mat-icon>
                  <span>Eliminar</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </main>
}

@if (afiliados.length < 1) {
  <div class="alert alert-warning">
    🌱 <strong>Aún no se han encontrado afiliados para esta web</strong>
  </div>
}

@if (afiliados.length > 0) {
  <mat-paginator [length]="totalCount" [pageSize]="paginationService.pageCount"
    [pageSizeOptions]="paginationService.selectItemsPerPage" (page)="pageChange($event)">
  </mat-paginator>
}