<div class="mb-3" [@enterAnimation]
    [ngClass]="{'nada-verde': savedToFavorites.type, 'nada-rojo': !savedToFavorites.type}"
    *ngIf="savedToFavorites.display">
    {{savedToFavorites.message}}
</div>

<section class="nels">
    <p>
        <fa-icon [icon]="['fas', 'award']"></fa-icon> Dar puntos
    </p>
</section>

<section class="meta">
    <div class="metacentro">
        <div class="float-start" id="puntos-agregados" [style.display]="addedPuntos ? 'block' : 'none'">Puntos
            agregados!</div>

        <div class="float-start" [style.display]="!addedPuntos ? 'block' : 'none'"
            *ngIf="currentUser?.usuario?.userName != post?.usuario?.userName">
            <div class="barpuntos">
                <a href="javascript:void(0)" *ngFor="let punto of availablePuntos" (click)="votarPost(punto)">
                    {{punto}}
                </a>
            </div>
        </div>

        <div class="float-end">
            <p class="cupuntos">
                <b id="puntos_post">{{!post?.puntos ? 0 : post?.puntos}}</b> Puntos
            </p>
        </div>
    </div>

    <div class="metabottom">
        <div class="botones float-start py-2" *ngIf="currentUser?.usuario?.userName != post?.usuario?.userName">
            <li>
                <a onclick="notifica.sharePost(1);" class="tetese">P!</a>
            </li>

            <li>
                <a href="javascript:void(0)" (click)="agregarFavorito(post.id)" matTooltip="Agregar favoritos">
                    <fa-icon [icon]="['fas', 'star']" class="favoritos"></fa-icon>
                </a>
            </li>

            <li>
                <a href="javascript:void(0)" (click)="denunciarPost()">
                    <fa-icon [icon]="['fas', 'ban']" class="denunciar"></fa-icon> Denunciar
                </a>
            </li>

            <li *ngIf="post?.seguirPost">
                <a href="javascript:void(0)" class="unfollow_post" (click)="seguirPost()">
                    <fa-icon [icon]="['fas', 'eye']" class="dejar-seguir"></fa-icon> Dejar de seguir
                </a>
            </li>

            <li *ngIf="!post?.seguirPost">
                <a href="javascript:void(0)" class="follow_post" (click)="seguirPost()">
                    <fa-icon [icon]="['fas', 'ban']" class="seguir"></fa-icon> Seguir Post
                </a>
            </li>
        </div>

        <div class="float-end py-2">
            <div class="bulto">
                <strong>{{post.visitantes}}</strong>
                Visitas
            </div>

            <div class="bulto">
                <strong id="cfavori">
                    {{post.favoritos}}
                </strong>
                Favoritos
            </div>

            <div class="bulto">
                <strong id="cseguir">
                    {{post.seguidores}}
                </strong>
                
                Seguidores
            </div>
        </div>
    </div>
</section>