<section class="container container--home">
  <div class="row">
    <div class="col-12 col-sm-9 p-3">
      <div class="ladoi">
        <div class="mb-3">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>account_circle</mat-icon>
                Cuenta
              </ng-template>

              <form [formGroup]="formGroupCuenta" (ngSubmit)="updateUsuario()" class="form-container">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <div class="mb-3 row">
                        <div class="col-sm-2 text-end">
                          <label class="col-form-label" for="account-email">
                            E-Mail
                          </label>
                        </div>

                        <div class="col-sm-10">
                          <input id="account-email" type="text"
                            [ngClass]="{'form-control-plaintext': changeEmailStatus === false, 'form-control': changeEmailStatus === true}"
                            formControlName="email" />
                            <strong>
                              @if (!changeEmailStatus) {
                                <a (click)="changeEmail()"
                                  role="button" tabindex="0" (keydown.enter)="changeEmail()" (keydown.space)="changeEmail(); $event.preventDefault()">
                                  (Cambiar)
                                </a>
                              }
                            </strong>
                          </div>
                        </div>

                        <div class="mb-3 row">
                          <div class="col-sm-2 text-end">
                            <label class="col-form-label" for="account-profileBackground">
                              País
                            </label>
                          </div>

                          <div class="col-sm-10">
                            <app-select [items]="paises" formControlName="paisId"
                              bindLabel="nombre" bindValue="id"
                            (change)="getEstadosByPais($event?.id)"></app-select>
                          </div>
                        </div>

                        <div class="mb-3 row">
                          <div class="col-sm-2 text-end">
                            <label class="col-form-label">
                              Estado
                            </label>
                          </div>

                          <div class="col-sm-10">
                            <app-select [items]="estados" bindLabel="nombre"
                            formControlName="estadoId" bindValue="id"></app-select>
                          </div>
                        </div>

                        <div class="mb-3 row">
                          <div class="col-sm-2 text-end">
                            <label class="col-form-label">
                              Género
                            </label>
                          </div>

                          <div class="col-sm-10">
                            <app-select [items]="generos" formControlName="genero"
                            bindLabel="label" bindValue="value"></app-select>
                          </div>
                        </div>

                        <div class="mb-3 row">
                          <div class="col-sm-2 text-end">
                            <label class="col-form-label">
                              Nacimiento
                            </label>
                          </div>

                          <div class="col-sm-10">
                            <div class="row">
                              <div class="col-12 col-sm-4">
                                <label>Día</label>
                                <app-select [items]="dias" formControlName="dia"></app-select>
                              </div>

                              <div class="col-12 col-sm-4">
                                <label>Mes</label>
                                <app-select [items]="meses" formControlName="mes"
                                bindLabel="label" bindValue="value"></app-select>
                              </div>

                              <div class="col-12 col-sm-4">
                                <label>Año</label>
                                <app-select [items]="years" formControlName="año">
                                </app-select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-container--footer text-center">
                    <button mat-flat-button color="primary" type="submit">
                      <mat-icon>save</mat-icon> Guardar
                    </button>
                  </div>
                </form>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon>account_box</mat-icon>
                  Perfil
                </ng-template>

                <app-account-perfil [perfil]="perfilActual"></app-account-perfil>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon>format_paint</mat-icon>
                  Personalización
                </ng-template>

                <form [formGroup]="formGroupPersonalizacion" class="mb-3" (ngSubmit)="saveFormGroupPersonalizacion()">
                  <mat-accordion class="accordion-bg">
                    <mat-expansion-panel class="mb-2" [expanded]="true">
                      <mat-expansion-panel-header class="accordion-panel">
                        <mat-panel-title>
                          Perfil
                        </mat-panel-title>

                        <mat-panel-description>
                          &nbsp;
                          <mat-icon>account_circle</mat-icon>
                        </mat-panel-description>
                      </mat-expansion-panel-header>

                      <section class="container">
                        <div class="mb-3 mt-2 row field">
                          <div class="col-sm-2 text-end">
                            <label class="col-form-label">
                              Fondo de perfil
                            </label>
                          </div>

                          <div class="col-sm-10">
                            <input id="account-profileBackground" type="text" class="form-control" placeholder="URL de la imagen" formControlName="profileBackground" />
                            <div class="form-text">Sólo se aceptarán imágenes que tengan el formato (.jpg, .jpeg o .png) </div>
                          </div>
                        </div>
                      </section>

                      <div class="form-container--footer text-center">
                        <button class="me-2" mat-flat-button color="primary" type="submit">
                          <mat-icon>save</mat-icon> Guardar
                        </button>

                        <!-- <button mat-flat-button type="button" (click)="currentStep = currentStep + 1">
                        Siguiente <mat-icon>navigate_next</mat-icon>
                      </button> -->
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </form>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>block</mat-icon>
                Bloqueados
              </ng-template>

              <app-account-bloqueados></app-account-bloqueados>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon>password</mat-icon>
                  Cambiar contraseña
                </ng-template>

                <app-account-password></app-account-password>
                    </mat-tab>
                  </mat-tab-group>
                </div>
              </div>
            </div>

            <div class="dotted-border--left col-12 col-sm-3 text-center">
              <h6>Mi Avatar</h6>

              <app-user-avatar [avatar]="formGroupCuenta.value.avatar" [userName]="formGroupCuenta.value.userName" [height]="200"></app-user-avatar>

              <br>

                <button class="mt-3 col-9" (click)="changeAvatar()" mat-flat-button color="primary">
                  Editar
                </button>
              </div>
            </div>
          </section>