<div class="container container--home pb-3 form-add-post">
    <form [formGroup]="formGroup" (onSubmit)="publicarPost()">
        <div class="row">
            <div class="col-12 col-sm-8">
                <section class="mb-3">
                    <label class="control-label">
                        <span class="required"></span> Titulo
                    </label>

                    <input type="text" class="form-control" formControlName="titulo" maxlength="80"
                        (change)="getPostsRelatedByTitle()" />
                </section>

                <ng-container class="mb-3" *ngIf="relatedPosts.length > 0">
                    <strong class="mb-1">
                        Por favor, evita los re-posts. Hemos encontrado posts con titulos similares:
                    </strong>

                    <article class="list-posts--zebra" *ngFor="let post of relatedPosts; let i = index">
                        <app-post-url-link [post]="{ id: post.id, url: post.url, titulo: post.titulo, truncate: 70}"
                            [categoria]="{ icono: post.categoria.icono, nombre: post.categoria.nombre, seo: post.categoria.seo}" [target]="'_blank'">
                        </app-post-url-link>
                    </article>
                </ng-container>

                <section *ngIf="!formGroup?.value?.contenido || formGroup.value?.contenido === '<p></p>'">
                    <div class="alert alert-info mb-0 mt-3">
                        <button type="button" mat-flat-button color="primary" (click)="postGenerator()">
                            <mat-icon>design_services</mat-icon> Generador de Posts
                        </button>
                    </div>
                </section>

                <section class="mb-3">
                    <label class="control-label">
                        <span class="required"></span> Contenido
                    </label>

                    <ngx-editor [editor]="editor">
                        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                    </ngx-editor>
                    <div class="NgxEditor__Wrapper">
                        <!-- <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu> -->
                        <ngx-editor [editor]="editor" formControlName="contenido"
                            [placeholder]="'Ingresa el Contenido'"></ngx-editor>
                    </div>
                </section>

                <!-- <section class="float-end">
                    <button mat-flat-button class="mat-success" (click)="previsualizar()">Previsualizar</button>
                </section> -->
            </div>

            <aside class="col-12 col-sm-4">
                <section class="mb-3">
                    <label class="control-label">
                        <span class="required"></span> Categoría
                    </label>

                    <ng-select [items]="categorias" bindLabel="nombre" bindValue="id" formControlName="categoriaId">
                        <ng-template ng-label-tmp let-item="item">
                            <img class="image-middle" style="margin-right: 2px;" height="15" width="15"
                                [src]="'/assets/images/categorias/' + item.icono" />
                            {{item.nombre}}
                        </ng-template>

                        <ng-template ng-option-tmp let-item="item" let-index="index">
                            <img class="image-middle" style="margin-right: 2px;" height="15" width="15"
                                [src]="'/assets/images/categorias/' + item.icono" />
                            {{item.nombre}}
                        </ng-template>
                    </ng-select>
                </section>

                <section id="tagsfox" class="mb-3">
                    <label class="control-label">
                        <span class="required"></span> Etiquetas
                    </label>

                    <ng-select class="ng-select-borders" [items]="[]" [addTag]="true" [multiple]="true"
                        [selectOnTab]="true" [isOpen]="false" formControlName="etiquetas">
                    </ng-select>

                    <p>
                        Ingresa por favor <b>al menos 4 etiquetas</b> (ingresando cada una con la tecla <i>Enter</i> )
                        distintas que
                        describan el contenido de tu post.
                    </p>
                </section>

                <section class="mb-3">
                    <label class="control-label">
                        ¿Quiénes pueden comentar?
                    </label>

                    <ng-select [items]="quienPuedeComentar" bindLabel="label" bindValue="value"
                        formControlName="sinComentarios"></ng-select>
                </section>

                <section class="mb-3">
                    <label class="control-label">
                        Otras Opciones
                    </label>

                    <main class="p-3 border">
                        <section class="mb-3">
                            <mat-slide-toggle color="primary" formControlName="esPrivado">Post privado
                            </mat-slide-toggle>
                            <br class="my-2">
                            <small class="text-muted">Podrán verlo sólo usuarios registrados en Pixicity!</small>
                        </section>

                        <!-- <section class="mb-3">
                            <mat-slide-toggle color="primary">Visitas recientes</mat-slide-toggle>
                            <br>
                            <small class="text-muted">Se veran los últimos visitantes</small>
                        </section> -->

                        <!-- <section>
                            <mat-slide-toggle color="primary" formControlName="smileys">Sin smileys</mat-slide-toggle>
                            <br>
                            <small class="text-muted">Si tu post no necesita smileys</small>
                        </section> -->
                    </main>
                </section>

                <section class="mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <button type="button" *ngIf="formGroup.value?.esBorrador || !formGroup.value?.id"
                                mat-flat-button class="mat-gray" (click)="guardarBorrador()"
                                [disabled]="formGroup.invalid">
                                <fa-icon [icon]="['fas', 'save']"></fa-icon> Guardar en Borradores
                            </button>
                        </div>

                        <div class="col-12 col-sm-6 text-end">
                            <button type="submit" mat-flat-button class="mat-success" (click)="publicarPost()"
                                [disabled]="formGroup.invalid">
                                <span *ngIf="!postId || formGroup.value.esBorrador">
                                    <fa-icon [icon]="['far', 'check-circle']"></fa-icon> Publicar
                                </span>

                                <span *ngIf="postId && !formGroup.value.esBorrador">
                                    <fa-icon [icon]="['fas', 'pencil-alt']"></fa-icon> Actualizar
                                </span>
                            </button>
                        </div>
                    </div>

                    <div class="row mt-2" *ngIf="esBorrador">
                        <div class="col-12">
                            <strong class="text-success">
                                Borrador guardado exitosamente a las {{today | date:'hh:mm:ss a'}}
                            </strong>
                        </div>
                    </div>
                </section>
            </aside>
        </div>
    </form>
</div>