@if (tipoActividad === 1) {
  <i class="icon sprite-document-text-image {{class}}"></i>
}
@if (tipoActividad === 2) {
  <i class="icon sprite-star {{class}}"></i>
}
@if (tipoActividad === 3) {
  <i class="icon moneda {{class}}"></i>
}
@if (tipoActividad === 4) {
  <i class="icon sprite-star {{class}}"></i>
}
@if (tipoActividad === 5) {
  <i class="icon sprite-balloon-left {{class}}"></i>
}
@if (tipoActividad === 6) {
  <i class="icon sprite-balloon-left {{class}}"></i>
}
@if (tipoActividad === 7) {
  <i class="icon post-plus {{class}}"></i>
}
@if (tipoActividad === 8) {
  <i class="icon sprite-follow {{class}}"></i>
}