<i class="icon sprite-document-text-image {{class}}" *ngIf="tipoActividad === 1"></i>
<i class="icon sprite-star {{class}}" *ngIf="tipoActividad === 2"></i>
<i class="icon moneda {{class}}" *ngIf="tipoActividad === 3"></i>
<i class="icon sprite-star {{class}}" *ngIf="tipoActividad === 4"></i>
<i class="icon sprite-balloon-left {{class}}" *ngIf="tipoActividad === 5"></i>
<i class="icon sprite-balloon-left {{class}}" *ngIf="tipoActividad === 6"></i>
<i class="icon post-plus {{class}}" *ngIf="tipoActividad === 7"></i>
<i class="icon sprite-follow {{class}}" *ngIf="tipoActividad === 8"></i>