<div class="row wall__container">
    <div class="col-12">
        <article class="wall__story">
            <div class="story" id="pub_21">
                <div class="row">
                    <div class="col-12 col-sm-1">
                        <div class="boxreshout">
                            <a href="/perfil/nesticle8bit" class="story__profile-image">
                                <img alt="nesticle8bit" src="https://i.imgur.com/2Rs9AVg.jpeg" />
                            </a>
                        </div>
                    </div>

                    <div class="col-12 col-sm-11">
                        <div class="story__content">
                            <span class="story__arrow"></span>
                            <div class="story__header">
                                <div class="quiendi">
                                    @<a href="#" class="a_blue">nesticle8bit</a>
                                    dijo </div>
                                <div class="shoutbody">Bienvenido a la comunidad de Pixicity! </div>
                            </div>

                            <div class="story__footer">
                                <div class="container-fluid pr-0">
                                    <div class="row g-0">
                                        <div class="col-12 col-sm-6 pt-1">
                                            <i class="icon tipot"></i> <a class="ms-2">Hace unos segundos</a>
                                        </div>

                                        <div class="col-12 col-sm-6 text-end">
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a title="Ver actividad">
                                                        <fa-icon class="pl-2 ml-2" [icon]="['fas', 'clock']"></fa-icon>
                                                        &nbsp;
                                                    </a>
                                                </li>

                                                <li class="list-inline-item">
                                                    <a class="abrir" href="#">Abrir</a>
                                                </li>

                                                <li class="list-inline-item">
                                                    <a title="Comentarios cerrados">
                                                        <fa-icon class="pl-2 ml-2" [icon]="['fas', 'comments']">
                                                        </fa-icon>
                                                        <span class="counter">0</span>
                                                    </a>
                                                </li>

                                                <li class="list-inline-item">
                                                    <a title="Favoritos">
                                                        <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                                        <span class="counter">0</span>
                                                    </a>
                                                </li>

                                                <li class="list-inline-item">
                                                    <a title="Me gusta">
                                                        <fa-icon [icon]="['fas', 'thumbs-up']"></fa-icon>
                                                        <span class="counter">0</span>
                                                    </a>
                                                </li>

                                                <li class="list-inline-item">
                                                    <a title="Compartir">
                                                        <fa-icon [icon]="['fas', 'retweet']"></fa-icon>
                                                        <span class="counter">0</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>