@if (shoutsList.length > 0) {
  <div class="sh-wall">
    @for (shout of shoutsList; track shout.id) {
      <article class="sh-item">
        <a [routerLink]="['/perfil/' + shout.avatar.userName]" class="sh-item__avatar"
          [appUserPopover]="shout.avatar.userName">
          <app-user-avatar [class]="'sh-avatar-img'" [avatar]="shout?.avatar?.avatar"
            [userName]="shout?.avatar?.userName" [width]="48" [height]="48"></app-user-avatar>
        </a>

        <!-- La nube / globo de diálogo -->
        <div class="sh-bubble">
          <span class="sh-bubble__tail"></span>

          <header class="sh-bubble__head">
            <a [routerLink]="['/perfil/' + shout.avatar.userName]" class="sh-bubble__user"
              [appUserPopover]="shout.avatar.userName">{{ '@' }}{{shout.avatar.userName}}</a>
            <span class="sh-bubble__time cursor--help"
              matTooltip="{{shout.fechaRegistro | date:'EEEE d \'de\' MMMM \'a las\' h:mm \', año\' y'}}">
              {{shout.fechaRegistro | date:'d MMM, h:mm a'}}
            </span>
          </header>

          <p class="sh-bubble__body">{{shout.comentario}}</p>

          <footer class="sh-bubble__footer">
            <a class="sh-action sh-action--open" [routerLink]="['/shouts/' + shout.avatar.userName + '/' + shout.id]">
              <i class="ti ti-arrow-up-right"></i> Abrir
            </a>
            <span class="sh-action" matTooltip="Comentarios">
              <i class="ti ti-messages"></i> {{shout.comentarios ?? 0}}
            </span>
            <span class="sh-action" matTooltip="Favoritos">
              <i class="ti ti-star"></i> {{shout.favoritos ?? 0}}
            </span>
            <span class="sh-action" matTooltip="Me gusta">
              <i class="ti ti-thumb-up"></i> {{shout.likes ?? 0}}
            </span>
          </footer>
        </div>
      </article>
    }
  </div>
} @else {
  <div class="sh-empty">
    <i class="ti ti-message-2-off"></i>
    <p>Todavía no hay shouts por aquí.</p>
  </div>
}
