<main class="mt-3">
    <h6 class="main-title my-2">
        <span>Información de {{user.userName}}</span>
    </h6>

    <main class="alert alert-warning mt-3" *ngIf="!userInformation">
        <strong>
            👾 El usuario {{user.userName}} aún no ha llenado la información de esta sección.
        </strong>
    </main>

    <article *ngIf="userInformation">
        <ul>
            <li>
                <label>País</label>
                <strong>Colombia</strong>
            </li>

            <li *ngIf="perfil.website">
                <label>Sitio Web</label>
                <strong>
                    <a rel="nofollow" href="{{perfil.website}}">
                        {{perfil.website}}
                    </a>
                </strong>
            </li>

            <li *ngIf="perfil.fechaRegistro">
                <label>Es usuario desde</label>
                <strong>{{perfil?.fechaRegistro |
                    date:'dd'}} de {{perfil?.fechaRegistro | date:'MMMM'}} del
                    {{perfil?.fechaRegistro | date: 'YYYY'}}</strong>
            </li>

            <li><label>Última vez activo</label><strong>Hace unos segundos</strong></li>
            
            <li *ngIf="perfil.estudios">
                <label>Estudios</label>
                <strong>{{perfil.estudios}}</strong>
            </li>

            <li class="sep">
                <h4>Idiomas</h4>
            </li>
            <li>
                <label>Español</label>
                <strong>Nativo</strong>
            </li>
            <li>
                <label>Inglés</label>
                <strong>Intermedio</strong>
            </li>
            
            <li class="sep">
                <h4>Datos profesionales</h4>
            </li>

            <li *ngIf="perfil.profesion">
                <label>Profesión</label>
                <strong>{{perfil.profesion}}</strong>
            </li>

            <li *ngIf="perfil.empresa">
                <label>Empresa</label>
                <strong>{{perfil.empresa}}</strong>
            </li>

            <li class="sep">
                <h4>Vida personal</h4>
            </li>

            <li><label>Estado civil</label><strong>Con novio/a</strong></li>
            <li><label>Hijos</label><strong>Algún día</strong></li>
            <li><label>Vive con</label><strong>Con mi pareja</strong></li>
            <li class="sep">
                <h4>¿Cómo es?</h4>
            </li>
            <li><label>Mide</label><strong>666 centimetros</strong></li>
            <li><label>Pesa</label><strong>666 kilos</strong></li>
            <li><label>Su pelo es</label><strong>Negro</strong></li>
            <li><label>Sus ojos son</label><strong>Negros</strong></li>
            <li><label>Su físico es</label><strong>Delgado/a</strong></li>
            <li><label></label><strong>Tiene Tatuajes</strong></li>
            <li><label></label><strong>No tiene Piercings</strong></li>

            <li class="sep">
                <h4>Habitos personales</h4>
            </li>
            <li><label>Mantiene una dieta</label><strong>Orgánica</strong></li>
            <li><label>Fuma</label><strong>No</strong></li>
            <li><label>Toma alcohol</label><strong>Casualmente</strong></li>
            <li class="sep">
                <h4>Sus propias palabras</h4>
            </li>

            <li><label>Música favorita</label><strong>Metal</strong></li>

            <li><label>Sus heroes son</label><strong>Batman</strong></li>
        </ul>
    </article>
</main>