<form [formGroup]="formGroupCambiarContrasena" (ngSubmit)="changePassword()"
  class="form-container">
  <div class="container mx-auto" style="width: 80%;">
    <div class="row">
      <div class="col-12">
        <div class="mb-3 row">
          <div class="col-sm-3 text-end">
            <label class="col-form-label" for="account-password-currentPassword">
              Contraseña actual:
            </label>
          </div>

          <div class="col-sm-9">
            <input id="account-password-currentPassword" type="password" formControlName="currentPassword"
              class="form-control" autocomplete="off" />
            </div>
          </div>

          <div class="mb-3 row">
            <div class="col-sm-3 text-end">
              <label class="col-form-label" for="account-password-newPassword">
                Contraseña nueva:
              </label>
            </div>

            <div class="col-sm-9">
              <input id="account-password-newPassword" type="password" formControlName="newPassword"
                class="form-control" autocomplete="off" />
              </div>
            </div>

            <div class="mb-3 row">
              <div class="col-sm-3 text-end">
                <label class="col-form-label" for="account-password-confirmPassword">
                  Repetir Contraseña:
                </label>
              </div>

              <div class="col-sm-9">
                <input id="account-password-confirmPassword" type="password" formControlName="confirmPassword"
                  class="form-control" autocomplete="off" />
                  @if (formGroupCambiarContrasena.hasError('notSame')) {
                    <mat-error>
                      La contraseña debe coincidir
                    </mat-error>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-container--footer text-center">
          <button mat-flat-button color="primary" type="submit"
            [disabled]="formGroupCambiarContrasena.invalid">
            <mat-icon>vpn_key</mat-icon> Cambiar contraseña
          </button>
        </div>
      </form>
