@if (currentUser?.usuario && currentUser?.usuario?.userName !== userName) {
  <main>
    @if (isFollowing) {
      <a class=" bgris unfollow_user_post" (click)="followUser(false)">
        @if (icon) {
          <i class="ti ti-eye"></i>
          } Siguiendo
        </a>
      }
      @if (!isFollowing) {
        <a class="bverde follow_user_post" (click)="followUser(!isFollowing)">
          @if (icon) {
            <i class="ti ti-eye"></i>
            } Seguir
          </a>
        }
      </main>
    }