<div class="container--home container">
    <div class="row">
        <div class="col-12 col-sm-4">
            <app-home-last-posts></app-home-last-posts>
        </div>

        <div class="col-12 col-sm-4">
            <app-home-stats></app-home-stats>
            <app-home-last-comments></app-home-last-comments>
            <app-home-top-posts></app-home-top-posts>
            <app-home-top-users></app-home-top-users>
        </div>

        <div class="col-12 col-sm-4">
            <app-home-last-photos></app-home-last-photos>
            <app-home-afiliados></app-home-afiliados>
        </div>
    </div>
</div>