<!-- <app-main-profile-menu></app-main-profile-menu> -->

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-9">
            <div class="container container--home">
                <div class="row">
                    <div class="col-12 p-3 pt-1">
                        <div class="titulaw">
                            <h2>{{shout.fechaRegistro | date:'long'}}</h2>
                        </div>

                        <div class="story__content">
                            <div class="story__header">
                                <div class="story__header--userName">
                                    @<a [routerLink]="['/perfil/' + shout.avatar.userName]"
                                        class="a_blue">{{shout.avatar.userName}}</a> dijo:
                                </div>

                                <div class="shoutbody">
                                    {{shout.comentario}}
                                </div>
                            </div>

                            <div class="story__footer">
                                <div class="container-fluid pr-0">
                                    <div class="row g-0">
                                        <div class="col-12 col-sm-6">
                                            <div class="story__timeContainer">
                                                <i class="text-muted icon {{shout.tipo?.toLowerCase()}}-shout"></i>
                                                <span class="story__timeAgo cursor--help"
                                                    matTooltip="{{shout.fechaRegistro | date:'EEEE d \'de\' MMMM \'a las\' h:mm:ss \', año\' y'}}">
                                                    El {{shout.fechaRegistro | date:'EEEE d \'de\' MMMM \'a las\' h:mm'}}
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-6 text-end">
                                            <ul class="list-inline">
                                                <li class="list__inline-item">
                                                    <a matTooltip="Ver actividad">
                                                        <fa-icon class="pl-2 ml-2" [icon]="['fas', 'clock']"></fa-icon>
                                                        &nbsp;
                                                    </a>
                                                </li>

                                                <li class="list__inline-item">
                                                    <a class="abrir"
                                                        (click)="clipboard('https://pixicity.io' + '/shouts/' + shout.avatar.userName + '/' + shout.id)">
                                                        URL
                                                    </a>
                                                </li>

                                                <li class="list__inline-item">
                                                    <a href="#" title="Comentarios">
                                                        <fa-icon class="pl-2 ml-2" [icon]="['fas', 'comments']">
                                                        </fa-icon>
                                                        <span class="counter">0</span>
                                                    </a>
                                                </li>

                                                <li class="list__inline-item">
                                                    <a title="Favoritos">
                                                        <fa-icon [icon]="['fas', 'star']"></fa-icon>
                                                        <span class="counter">0</span>
                                                    </a>
                                                </li>

                                                <li class="list__inline-item">
                                                    <a title="Me gusta">
                                                        <fa-icon [icon]="['fas', 'thumbs-up']"></fa-icon>
                                                        <span class="counter">0</span>
                                                    </a>
                                                </li>

                                                <!-- 
                                                <li class="list__inline-item">
                                                    <a title="Compartir">
                                                        <fa-icon [icon]="['fas', 'retweet']"></fa-icon>
                                                        <span class="counter">0</span>
                                                    </a>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h6 class="main-title mt-4 mb-2">
                            <span>Comentarios</span>
                        </h6>

                        <div class="alert alert-warning">
                            ⚠️ <strong>En construcción...</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dotted-border--left col-12 col-sm-3 mt-3">
            <app-post-original-poster-info [userName]="'nesticle8bit'"></app-post-original-poster-info>

            <section class="my-1"
                *ngIf="shout.avatar.userName === currentUser?.usuario?.userName || currentUser?.usuario?.rango === 'Administrador' || currentUser?.usuario?.rango === 'Moderador'">
                <div class="titulaw">
                    <h2>Herramientas</h2>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 d-grid gap-2 text-end" (click)="eliminarShout()">
                        <button mat-flat-button color="danger">
                            <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon> Eliminar Shout
                        </button>
                    </div>
                </div>
            </section>

            <section class="my-3"
                *ngIf="shout.avatar.userName === currentUser?.usuario?.userName || currentUser?.usuario?.rango === 'Administrador' || currentUser?.usuario?.rango === 'Moderador'">
                <div class="titulaw">
                    <h2>Compartido por</h2>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-warning">
                            😶‍🌫️ Nadie ha compartido este shout
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>