<section *ngIf="currentUser?.usuario">
    <form class="d-none d-sm-block" style="float:right; margin-top: 17px;">
        <input type="text" id="ibuscadorq" name="q" placeholder="Buscar..." title="Buscar..."
            class="mini_ibuscador onblur_effect">
        <input vspace="2" hspace="10" type="submit" alt="Buscar" value="" title="Buscar" class="mini_bbuscador" />
    </form>

    <div class="userInfoLogin">
        <ul>
            <li class="monitor" style="position: relative">
                <a href="javascript:void(0)" #tooltip="matTooltip" matTooltip="Monitor" [matTooltipPosition]="'above'"
                    (click)="verNotificaciones()">
                    <fa-icon [icon]="['fas', 'eye']"></fa-icon>
                </a>

                <div class="notificaciones-list" id="mon_list" [style.display]="display.monitor ? 'block' : 'none'"
                    (mouseenter)="display.monitor = true" (mouseleave)="display.monitor = false">
                    <div class="timoni">Notificaciones</div>
                    <ul>
                        <div class="errr">No hay notificaciones</div>
                    </ul>
                    <a href="#" class="vemas">Más</a>
                </div>

                <div class="alertas" id="alerta_mon" style="top: -10px;">
                    <a title="4 notificaciones">
                        <span>104</span>
                    </a>
                </div>
            </li>

            <li class="mensajes" style="position:relative">
                <a href="#/mensajes/" onclick="mensaje.last(); return false" title="Mensajes" name="Mensajes">
                    <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
                </a>
                <!-- <div class="notificaciones-list" id="mp_list">
                    <span class="tail"></span>
                    <div class="timoni">Mensajes <a
                            onclick="mensaje.nuevo('','','',''); return false;">Escribir nuevo</a></div>
                    <ul></ul>
                    <a href="#/mensajes/" class="ver-mas">Ver más</a>
                </div> -->

                <div class="alertas" id="alerta_mon" style="top: -10px;">
                    <a title="4 notificaciones">
                        <span>2</span>
                    </a>
                </div>
            </li>
            <li class="favoritos" style="position:relative">
                <a [routerLink]="['favoritos']" title="Posts favoritos">
                    <fa-icon [icon]="['fas', 'star']"></fa-icon>
                </a>
                <!-- <div class="notificaciones-list" id="fav_list">
                    <span class="tail"></span>
                    <div class="timoni">Favoritos</div>
                    <ul></ul>
                    <a href="#/favoritos.php" class="ver-mas">Ver más</a>
                </div> -->
            </li>
            <li class="usernameMenu" (mouseenter)="displayMenu = true" (mouseleave)="displayMenu = false">
                <a class="nick" href="#">
                    <img class="avamu" src="https://i.imgur.com/oxtdxn3.jpeg" />
                    <span>{{currentUser?.usuario?.userName}}</span>
                    <img class="punti" src="/assets/images/ui/arrowd.png" />
                </a>

                <div class="menuver" style="top: 18px;" [style.display]="displayMenu ? 'block' : 'none'"
                    (mouseenter)="displayMenu = true" (mouseleave)="displayMenu = false">
                    <a>Cuenta</a>
                    <a [routerLink]="['borradores']">
                        Borradores
                    </a>
                    <a href="javascript:void(0)" (click)="cerrarSesion()">
                        Salir
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>

<div *ngIf="!currentUser?.usuario">
    <a class="registro float-end" [routerLink]="['registro']"></a>
    <a class="identificarse float-end" [routerLink]="['login']">Identificarme</a>
</div>