<section *ngIf="currentUser?.usuario">
    <form class="d-none d-sm-block" style="float:right; margin-top: 17px;">
        <input type="text" id="ibuscadorq" name="q" placeholder="Buscar..." title="Buscar..."
            class="mini_ibuscador onblur_effect">
        <input vspace="2" hspace="10" type="submit" alt="Buscar" value="" title="Buscar" class="mini_bbuscador" />
    </form>

    <div class="userInfoLogin">
        <ul>
            <li class="monitor" style="position: relative">
                <a class="menu" href="javascript:void(0)" #tooltip="matTooltip" matTooltip="Monitor" [matTooltipPosition]="'above'"
                    (click)="verNotificaciones()">
                    <fa-icon [icon]="['fas', 'eye']"></fa-icon>
                </a>

                <div class="notificaciones-list" id="mon_list" [style.display]="display.monitor ? 'block' : 'none'"
                    (mouseenter)="display.monitor = true" (mouseleave)="display.monitor = false">
                    <div class="timoni">Notificaciones</div>
                    <ul>
                        <div class="errr">No hay notificaciones</div>
                    </ul>
                    <a href="#" class="vemas">Más</a>
                </div>

                <div class="alertas" id="alerta_mon" style="top: -10px;">
                    <a title="4 notificaciones">
                        <span>104</span>
                    </a>
                </div>
            </li>

            <li class="mensajes" style="position:relative">
                <a class="menu" href="#/mensajes/" onclick="mensaje.last(); return false" title="Mensajes" name="Mensajes">
                    <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
                </a>
                <!-- <div class="notificaciones-list" id="mp_list">
                    <span class="tail"></span>
                    <div class="timoni">Mensajes <a
                            onclick="mensaje.nuevo('','','',''); return false;">Escribir nuevo</a></div>
                    <ul></ul>
                    <a href="#/mensajes/" class="ver-mas">Ver más</a>
                </div> -->

                <div class="alertas" id="alerta_mon" style="top: -10px;">
                    <a title="4 notificaciones">
                        <span>2</span>
                    </a>
                </div>
            </li>

            <li class="favoritos" style="position:relative">
                <a class="menu" href="javascript:void(0)" title="Posts favoritos" (click)="verFavoritos()">
                    <fa-icon [icon]="['fas', 'star']"></fa-icon>
                </a>

                <div class="notificaciones-list" id="mon_list" [style.display]="display.favoritos ? 'block' : 'none'"
                    (mouseenter)="display.favoritos = true" (mouseleave)="display.favoritos = false">
                    <div class="timoni">Favoritos</div>

                    <ul>
                        <div class="errr" *ngIf="favoritos.length < 1">No hay favoritos</div>

                        <li class="list-items" *ngFor="let favorito of favoritos">
                            <a [routerLink]="['/posts/' + favorito.post.categoria.seo + '/' + favorito.post.id + '/' + favorito.post.url]" title="{{favorito.post.titulo}}">
                                <img src="/assets/images/categorias/{{favorito.post.categoria.icono}}" title="{{favorito.post.categoria.nombre}}" alt="{{favorito.post.categoria.nombre}}" />
                                {{favorito.post.titulo | truncate:[44]}}
                            </a>
                        </li>
                    </ul>

                    <a href="javascript:void(0)" [routerLink]="['favoritos']" class="vemas">Más</a>
                </div>
            </li>

            <li class="usernameMenu" (mouseenter)="displayMenu = true" (mouseleave)="displayMenu = false">
                <a class="nick menu" href="#">
                    <img class="avamu" src="https://i.imgur.com/oxtdxn3.jpeg" />
                    <span>{{currentUser?.usuario?.userName}}</span>
                    <img class="punti" src="/assets/images/ui/arrowd.png" />
                </a>

                <div class="menuver" style="top: 16px;" [style.display]="displayMenu ? 'block' : 'none'"
                    (mouseenter)="displayMenu = true" (mouseleave)="displayMenu = false">
                    <a [routerLink]="['cuenta']" class="menu">
                        Cuenta
                    </a>

                    <a class="menu" [routerLink]="['borradores']">
                        Borradores
                    </a>

                    <a class="menu" href="javascript:void(0)" (click)="cerrarSesion()">
                        Salir
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>

<div *ngIf="!currentUser?.usuario">
    <a class="registro float-end" [routerLink]="['registro']"></a>
    <a class="identificarse float-end" [routerLink]="['login']">Identificarme</a>
</div>