.monac_icons {
    background-image: url('/assets/images/sprite-monitor.png');
    background-repeat: no-repeat;
    float: left;
    font-size: 12px;
    margin-right: 5px;

    width: 16px;
    height: 16px;
}

span.ma_voto_negativo {
    background-position: 0 -16px;
}
span.ma_comment_post {
    background-position: 0 -32px;
}
span.ma_comment_resp {
    background-position: 0 -48px;
}
span.ma_post {
    background-position: 0 -64px;
}
span.ma_points {
    background-position: 0 -80px;
}
span.ma_star {
    background-position: 0 -96px;
}
span.ma_follow {
    background-position: 0 -112px;
}
span.ma_follow_post {
    background-position: 0 -128px;
}
span.ma_blue_ball {
    background-position: 0 -144px;
}
span.ma_share {
    background-position: 0 -160px;
}
span.ma_status {
    background-position: 0 -176px;
}
span.ma_wall_post {
    background-position: 0 -192px;
}
span.ma_w_comment {
    background-position: 0 -208px;
}
span.ma_w_like {
    background-position: 0 -224px;
}
span.ma_photo {
    background-position: 0 -240px;
}