<div class="container container--home">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-9">
            <h6 class="main-title">
                <span>Mensajes privados</span>

                <strong class="float-end text-info" style="background: #fff; padding-left: 7px;">
                    {{totalCount}}
                </strong>
            </h6>

            <div class="nada-gris my-3" *ngIf="mensajes.length < 1">
                Aún no se han encontrado mensajes para tí.
            </div>

            <main *ngIf="mensajes.length > 0">
                <section class="mb-2">
                    <div class="row">
                        <div class="col-12 col-sm-1 my-auto mx-auto">
                            <!-- <mat-checkbox color="primary" class="ms-4"></mat-checkbox> -->
                        </div>

                        <div class="col-12 col-sm-11">
                            <!-- <button type="button" class="me-1" mat-flat-button color="primary" [matMenuTriggerFor]="menu">
                                <fa-icon icon="folder-open"></fa-icon> <fa-icon class="ms-1" icon="sort-down"></fa-icon>
                            </button> -->

                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <mat-icon>add_circle</mat-icon> Crear carpeta
                                </button>

                                <mat-divider></mat-divider>

                                <button mat-menu-item>Mover a Carpeta</button>
                                <button mat-menu-item>Mover a MEGA</button>
                                <button mat-menu-item>Mover a Importantes</button>
                            </mat-menu>

                            <button type="button" mat-flat-button color="warn" (click)="deleteMensajes()">
                                <fa-icon icon="trash"></fa-icon>
                            </button>
                        </div>
                    </div>
                </section>

                <section class="table-responsive">
                    <table class="table table-sm table-striped table-hover">
                        <tbody>
                            <tr *ngFor="let mensaje of mensajes; let i = index">
                                <td>
                                    <div class="row">
                                        <div class="col-12 col-sm-1">
                                            <div class="my-auto text-center">
                                                <mat-checkbox color="primary"
                                                    [(ngModel)]="mensaje.selected"></mat-checkbox>
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-11">
                                            <div class="row">
                                                <div class="col-12 col-sm-1">
                                                    <app-user-avatar [avatar]="mensaje.usuarioDe?.avatar"
                                                        [userName]="mensaje.usuarioDe?.userName" [height]="40">
                                                    </app-user-avatar>
                                                </div>

                                                <div class="col-12 col-sm-11 cursor--pointer"
                                                    [routerLink]="['/mensajes/conversacion/' + mensaje.id]">
                                                    <a [routerLink]="['/perfil/' + mensaje.usuarioDe?.userName]">
                                                        @{{mensaje.usuarioDe?.userName}}
                                                    </a>

                                                    &#8226; <strong>{{mensaje.asunto}}</strong>

                                                    <br>
                                                    <span class="text-muted"
                                                        [innerHTML]="mensaje.contenido | truncate:[120]"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td class="text-end" width="150px">
                                    <small class="text-muted cursor--help"
                                        matTooltip="{{mensaje.fechaRegistro | date:'medium'}}">
                                        <i>
                                            {{mensaje.fechaRegistro | timeAgo}}
                                        </i>
                                    </small>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </main>

            <mat-paginator [length]="totalCount" [pageSize]="paginationService.pageCount"
                [pageSizeOptions]="paginationService.selectItemsPerPage" (page)="pageChange($event)"
                *ngIf="mensajes.length > 0">
            </mat-paginator>
        </div>

        <section class="col-12 col-sm-6 col-md-3 dotted-border--left">
            <app-mensajes-sidebar></app-mensajes-sidebar>
        </section>
    </div>
</div>