<h2 mat-dialog-title>
  Actualizar rango al usuario
</h2>

<form [formGroup]="formGroup" (ngSubmit)="changeRango()">
  <mat-dialog-content>
    <div class="row">
      <div class="col-12 col-sm-12">
        <div class="mb-3">
          <label class="form-label">Rango</label>

          <app-select [items]="rangos" formControlName="id" bindLabel="nombre" bindValue="id">
            <ng-template appSelectLabel let-item="item">
              @if (item.icono) {
                <img src="/assets/images/icons/rangos/{{item.icono}}" class="image-middle me-1"
                  >
              }
              <span [ngStyle]="{'color': item.color}">{{item.nombre ? item.nombre : item | json}}</span>
            </ng-template>

            <ng-template appSelectOption let-item="item" let-index="index">
              <img src="/assets/images/icons/rangos/{{item.icono}}" class="image-middle me-1">
              <span [ngStyle]="{'color': item.color}">{{item.nombre}}</span>
            </ng-template>
          </app-select>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="button" mat-button mat-dialog-close>
      Cancelar
    </button>

    <button type="submit" mat-button color="primary" [disabled]="formGroup.invalid">
      Actualizar
    </button>
  </mat-dialog-actions>
</form>