<h6 class="main-title my-2">
    <span>Últimos posts creados</span>
</h6>

<main class="alert alert-warning" *ngIf="posts.length < 1">
    🐱‍💻 <strong>El usuario {{user.userName}} no ha publicado ningun post hasta el momento.</strong>
</main>

<main class="table-responsive" *ngIf="posts.length > 0">
    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th>Título</th>
                <th>Puntos</th>
                <th>Creado</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let post of posts; let i = index" [ngClass]="{'row-deleted': post.eliminado}">
                <td>
                    <a [routerLink]="['/posts/' + post.categoria.seo + '/' + post.id + '/' + post.url]"
                        title="{{post.titulo}}">
                        <img src="/assets/images/categorias/{{post.categoria.icono}}" title="{{post.categoria.nombre}}"
                            alt="{{post.categoria.nombre}}" />
                        {{post.titulo}}
                    </a>
                </td>

                <td>
                    {{post.puntos}}
                </td>

                <td>
                    {{post.fechaRegistro | timeAgo}}
                </td>
            </tr>
        </tbody>
    </table>
</main>

<mat-paginator [length]="totalCount" [pageSize]="paginationService.pageCount"
    [pageSizeOptions]="paginationService.selectItemsPerPage" (page)="pageChange($event)">
</mat-paginator>