<div class="boxposts separa mb-2">
  <div class="titular">
    <h2>Estadísticas</h2>
  </div>
  <div class="estabox">
    <div class="lin">
      <span class="float-start"><b>{{stats?.totalComunidades || 0}}</b> Comunidades</span>
      <span class="float-end"><b>{{stats?.totalTemas || 0}}</b> Temas</span>
    </div>
    <div class="lin">
      <span class="float-start"><b>{{stats?.totalMiembros || 0}}</b> Miembros</span>
      <span class="float-end"><b>{{stats?.totalComentarios || 0}}</b> Comentarios</span>
    </div>
  </div>
</div>
