$background-color: #F0EEEE;
$main-color: #0B6EA5;
$accent-color: #004160;

html, body { height: 100%; }

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: $background-color;
}

a {
    color: #105CB6;
    text-decoration: none;
}

header {
    &.main-header {
        background: $main-color;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.main-logo {
    width: 270px;
    height: 48px;
    background: url('assets/images/logo.png') no-repeat;
    float:left;
    margin-top: 11px;
}

.main-logo:hover {
    background-position: 0 -50px;
}

.main-menu {
    background: $accent-color;
    height: 43px;

    &--item {
        // background: #003750;
        color: #fff;
        padding: 8px 10px 8px 10px;
        border-radius: 4px 4px 0 0;
        background: #00354e;
        font-size: .8rem;
        font-weight: bold;

        & > a {
            color: #fff;
        }

        &--active {
            background: #fff;

            & > a {
                color: #00354e;
            }
        }
    }
}

.sub-menu {
    background: rgb(233,233,233);
    background: linear-gradient(0deg, rgba(233,233,233,1) 0%, rgba(255,255,255,1) 60%);

    border: 1px solid #ccc;
    border-top: none;

    &--item {
        color: #105CB6;
        padding: 6px 10px 6px 10px;
        font-size: .8rem;
        font-weight: bold;

        &--active {
            background: #eee;
            border-radius: 18px;

            & > a {
                color: #00354e;
            }
        }
    }
}

.section--home {
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    padding-top: 10px;
}

// .main-title {
//     position: relative;

//     & span {
//         background-color: white;
//         padding-right: 10px;
//     }

//     &:after {
//         content:"";
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         right: 0;
//         height: 0.5em;
//         border-top: 1px solid #000;
//         z-index: 1;
//     }
// }

.last-posts {
    font-size: .85rem;
}


a.registro {
    background: url('/assets/images/register.png') bottom left no-repeat;
    width: 143px;
    height: 45px;
    display: block;
    margin: 8px 10px;
    float: right;
}

a.identificarse {
    color: #fff!important;
    text-shadow: 0 1px 0 #000;
    margin: 26px 5px 0px 5px;
    font-size: .9rem;
}