$background-color: #F0EEEE;
$main-color: #0B6EA5;
$accent-color: #004160;

html, body { height: 100%; }

body { 
    margin: 0;
    line-height: 1.5;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 12px;
    background: $background-color;
}

a {
    color: #105CB6;
    text-decoration: none;
}

input:active {
    outline: 0;
}

input, textarea {
    background: url('/assets/images/inputbg.gif') top left repeat-x #f9f9f9;
    border: 1px solid #CCC;
    padding: 4px 2px;
    color: #333;
    font-size: 12px;
}

header {
    &.main-header {
        background: url('/assets/images/header-bg.png') top center repeat-x $main-color;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.main-logo {
    width: 270px;
    height: 48px;
    background: url('assets/images/logo.png') no-repeat;
    float:left;
    margin-top: 11px;
}

.main-logo:hover {
    background-position: 0 -50px;
}

.main-menu {
    background: $accent-color;
    height: 43px;

    &--item {
        // background: #003750;
        color: #fff;
        padding: 8px 10px 8px 10px;
        border-radius: 4px 4px 0 0;
        background: #00354e;
        font-size: .8rem;
        font-weight: bold;

        & > a {
            color: #fff;
        }

        &--active {
            background: #fff;

            & > a {
                color: #00354e;
            }
        }
    }
}

.sub-menu {
    background: rgb(233,233,233);
    background: linear-gradient(0deg, rgba(233,233,233,1) 0%, rgba(255,255,255,1) 60%);

    border: 1px solid #ccc;
    border-top: none;

    &--item {
        color: #105CB6;
        padding: 6px 10px 6px 10px;
        font-size: .8rem;
        font-weight: bold;

        &--active {
            background: #eee;
            border-radius: 18px;

            & > a {
                color: #00354e;
            }
        }
    }
}

.container--home {
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    padding-top: 10px;
}

.dot {
    &--ccc {
        background: url('/assets/images/dotccc.gif') center repeat-x;
        margin: 20px 0;

        & span {
            display: block;
            text-align: center;
            background-color: #fff;
            margin: 0 auto;
            font-size: 18px;
            padding: 0 20px;
            color: #999;
            font-family: Georgia,"Times New Roman",Times,serif;
            font-style: italic;

            &.w100 {
                width: 100px;
            }

            &.w200 {
                width: 200px;
            }
        }
    }
}

.main-title {
    background: url('/assets/images/dotccc.gif') center repeat-x;
    position: relative;
    height: 19px;
    margin-bottom: 5px;
}

.main-title span {
    font-weight: 700;
    font-size: 16px!important;
    background: #fff;
    padding-right: 10px;
    line-height: 1.2em;
    color: #8B8B8B;
    float: left;
}

.last-posts {
    font-size: .85rem;
}

a.registro {
    background: url('/assets/images/register.png') bottom left no-repeat;
    width: 143px;
    height: 45px;
    display: block;
    margin: 8px 10px;
    float: right;
}

a.identificarse {
    color: #fff!important;
    text-shadow: 0 1px 0 #000;
    margin: 26px 5px 0px 5px;
    font-size: .85rem;
}

.seccion {
    // width: 1031px;
    background: url('/assets/images/final.png') left bottom no-repeat;
    // margin: 0 auto;
    // height: 53px;
    padding-bottom: 10px;
}

.inpie {
    padding: 10px;
    background: #fff;
    height: 50px;
    border: solid;
    border-color: rgb(255 255 255 / 0%) #ccc #ccc;
    border-width: 1px 1px 0;
}

.busb form {
    margin: 0;
    padding: 0 8px;
    width: 240px;
    border: 1px solid #CCC;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

input.bbcuerpo {
    background: #fff;
    padding: 5px;
    border: 0;
    width: 202px;
    height: 29px;
    border-radius: 18px;
    line-height: 1;
}

input.bbboton {
    float: right;
    padding: 0;
    margin: 0;
    background: url('/assets/images/magn.gif') center 8px no-repeat #fff;
    width: 20px;
    height: 28px;
    border: 0;
    border-radius: 22px;
}

.footer-copyright {
    padding: 12px 0;
    background: #FFF;
    margin: 10px auto;

    & a {
        margin: 0 10px;
        font-weight: 700;
    }
}

#buscador {
    width: 240px;
    height: 45px;
    margin: 0 130px 10px;
    display: block;
    background: url('/assets/images/buscador.png') center no-repeat;
}

#buscador form {
    height: 32px;
    clear: both;
    margin: 0;
}

.buscador-home {
    width: 600px;
}

input.buscador {
    background: #FFF!important;
    display: block;
    padding: 8px;
    width: 410px;
    border-right: solid 1px #c6c6c6;
    border-left: solid 1px #c6c6c6;
    border-top: solid 1px #cecece;
    border-bottom: solid 1px #a4a4a4;
    box-shadow: 0 1px 1px #d3d3d3;
    -mox-box-shadow: 0 1px 1px #D3D3D3;
    -webkit-box-shadow: 0 1px 1px #d3d3d3;
    font-size: 13px;
    font-family: Helvetica,Arial;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float: left;
}

input.buscador:focus {
    box-shadow: 0 0 5px 0 #b5dff1;
    -moz-box-shadow: 0 0 5px 0 #B5DFF1;
    -webkit-box-shadow: 0 0 5px 0 #b5dff1;
    border: 1px solid #38B2E5;
}

.buscador-home input.btn-buscar {
    padding: 8px 15px;
    margin-left: 10px;
    float: left;
}

a.ircielo {
    color: #999!important;
    border-bottom: 1px dotted #999;
    float: right;
    text-decoration: none;
    margin: 7px 0;
}

.main-login--head {
    & h1 {
        font-weight: 700;
        font-size: 30px;
        color: #333;
        margin: 0 0 15px;
    }

    & p {
        font-size: 16px;
        color: #999;
        margin: 10px 0 0;
        padding: 0 0 10px;
    }
}

.login_box {
    font-weight: bold;

    & label {
        font-size: 13px;
        color: #444;
        margin-bottom: 5px;
    }

    .submit-btn {
        background: url('/assets/images/btn-green.png') top center no-repeat #FFF;
        border: 0;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        padding: 9px 0 14px;
        width: 200px;
        margin: 0 auto;
    }
}

.login_box input#nickname, .login_box input#password {
    width: 330px;
    border-radius: 4px;
    padding: 7px;
    font-size: 14px;
    font-weight: 700;
    background: #fff;
    box-shadow: 0 1px 1px #d3d3d3;
    -mox-box-shadow: 0 1px 1px #D3D3D3;
    -webkit-box-shadow: 0 1px 1px #d3d3d3;
    border-right: solid 1px #c6c6c6;
    border-left: solid 1px #c6c6c6;
    border-top: solid 1px #cecece;
    border-bottom: solid 1px #a4a4a4;
    text-align: center!important;
}

.olvidar a {
    display: block;
    color: #999;
    font-weight: 400;
    font-size: 15px;
    margin: 0 0 10px;
}