<h2 mat-dialog-title>
    Denunciar post
</h2>

<form [formGroup]="formGroup" (ngSubmit)="enviarDenuncia()">
    <mat-dialog-content>
        <div class="mb-1">
            <label class="form-label">Denunciar el post:</label> <br>
            <p>{{data.titulo}}</p>
        </div>

        <div class="mb-1">
            <label class="form-label">Razón de la denuncia:</label> <br>
            <ng-select formControlName="dia" [items]="razonDenuncia" bindLabel="label" bindValue="id"
                formControlName="razonDenunciaId"></ng-select>
        </div>

        <div class="mb-1">
            <label class="form-label">Aclaración y comentarios:</label> <br>
            <textarea rows="8" class="form-control" formControlName="comentarios"></textarea>
        </div>

        <div class="alert alert-warning mt-2 mb-0">
            <p class="mb-0">
                <fa-icon [icon]="['fas', 'exclamation-circle']"></fa-icon> Si es <b>Re-post</b> debes indicar el link del post original para ayudar a la comunidad.
                Muchas gracias!
            </p>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button type="button" mat-button mat-dialog-close>
            Cancelar
        </button>

        <button type="submit" mat-button color="primary" [disabled]="formGroup.invalid">
            Enviar
        </button>
    </mat-dialog-actions>
</form>