.i, .icon {
    background: url('/assets/images/icons/i.png');
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    margin-top: 1px;
}

.i.moneda {
    background-position: -85px -34px;
}

.i.estrella-plus {
    background-position: -136px -34px;
}

.i.comentarios {
    background-position: -17px -51px;
}

.i.personas {
    background-position: -102px -86px;
}

i.icon.texto-shout {
    background-position: 1px -139px;
    margin-top: 3px;
}

i.icon.foto-shout {
    background-position: -34px -138px;
    margin-top: 3px;
}

i.icon.video-shout {
    background-position: -52px -137px;
    margin-top: 3px;
}

i.icon.enlace-shout {
    background-position: -52px -137px;
    margin-top: 3px;
}

.shout-footer .date-icon i {
    margin-top: 2px;
}

i.icon.comunidades-n {
    background-position: -34px -51px;
}

i.icon.comentarios-n {
    background-position: 0 -51px
}

i.icon.comentarios-n-g {
    background-position: -119px -51px
}

i.icon.followers {
    background-position: -102px -34px;
}

i.icon.visits {
    background-position: -119px -34px;
}

i.icon.favs {
    background-position: -136px -34px;
}

i.icon.thumb-up {
    background-position: -153px -34px;
}

i.icon.thumb-up:hover,
i.icon.thumb-up.hover {
    background-position: -153px -51px;
}

.comment-text i.icon.thumb-up {
    background-position: -153px -51px;
    display: inline-block;
    float: none;
    vertical-align: -4px;
    margin: -4px 0 0 4px;
}

i.icon.thumb-down {
    background-position: -170px -34px;
}

.comment-text i.icon.thumb-down {
    background-position: -170px -51px;
    display: inline-block;
    float: none;
    vertical-align: -4px;
    margin: -4px 0 0 4px;
}

i.icon.thumb-down:hover,
i.icon.thumb-down.hover {
    background-position: -170px -51px;
}

i.icon.quote {
    background-position: -187px -34px;
}

i.icon.notifications {
    background-position: -204px -34px;
}

i.icon.messages {
    background-position: -221px -34px;
}

i.icon.favorites {
    background-position: -237px -34px
}

i.icon.sprite-balloon-left {
    background-position: 0 -51px;
}

i.icon.sprite-balloon-left-blue {
    background-position: -101px -50px
}

i.icon.sprite-balloon-left-green {
    background-position: -119px -50px;
}

i.icon.sprite-balloons {
    background-position: 0 -22px;
}

i.icon.sprite-block {
    background-position: -34px -51px;
}

i.icon.sprite-document-text-image {
    background-position: -51px -51px;
}

i.icon.sprite-point {
    background-position: 0 -103px;
}

i.icon.sprite-star {
    background-position: -68px -51px;
}

i.icon.sprite-follow {
    background-position: -85px -51px;
}

i.icon.sprite-recomendar-p {
    background-position: 0 -68px
}

i.icon.private-message {
    background-position: 0 -85px
}

i.icon.message-send {
    background-position: -17px -84px
}

i.icon.message-delete {
    background-position: -34px -85px
}

i.icon.message-new {
    background-position: -51px -85px
}

i.icon.folder {
    background-position: -68px -85px
}

i.icon.libro {
    background-position: -68px -68px
}

i.icon.cake {
    background-position: -51px -68px
}

i.icon.report {
    background-position: -17px -68px;
    margin: 0;
}

i.icon.report:hover {
    background-position: 0 -102px;
    margin: 0;
}

i.icon.party {
    background-position: 0px -119px;
    margin: 0;
}

i.icon.shout-status {
    background-position: -123px -106px;
}

i.icon.shout-image {
    background-position: -22px -107px;
}

i.icon.shout-link {
    background-position: -90px -106px;
}

i.icon.shout-video {
    background-position: -56px -106px;
}

i.icon.interes-general {
    background-position: -153px -68px;
}

i.icon.internet-tecnologia {
    background-position: -169px -68px;
}

i.icon.regiones {
    background-position: -186px -68px;
}

i.icon.diversion-esparcimiento {
    background-position: -86px -85px;
}

i.icon.musica-bandas {
    background-position: -153px -85px;
}

i.icon.grupos-organizaciones {
    background-position: -102px -85px;
}

i.icon.entretenimiento-medios,
i.icon.tv-peliculas-series {
    background-position: -170px -85px;
}

i.icon.gender {
    background-position: -67px -136px;
}

i.icon.age {
    background-position: -84px -136px;
}

i.icon.lives {
    background-position: -101px -136px;
}

i.icon.joined {
    background-position: -118px -136px;
}

i.icon.work {
    background-position: -135px -136px
}

i.icon.web {
    background-position: -153px -136px
}

i.icon.plus {
    background-position: -53px -220px
}

i.icon.message {
    background-position: 0px -85px;
}

i.icon.message-plus {
    background-position: -51px -85px;
}

i.icon.message-send {
    background-position: -17px -85px;
}
