<h6 class="main-title">
    <span>Comentarios recientes</span>

    <div class="float-end">
        <img class="cursor-pointer" src="/assets/images/icons/arrow-circle-double.png" #tooltip="matTooltip" matTooltip="Actualizar comentarios" [matTooltipPosition]="'above'" />
    </div>
</h6>

<table class="table table-striped last-posts">
    <tbody>
        <tr *ngFor="let post of lastComments">
            <td>
                <small><b><a href="#">{{post.user}}</a></b> &nbsp; <span class="text-muted">{{post.comment}}</span></small>
            </td>
        </tr>
    </tbody>
</table>