<h6 class="main-title">
    <span>Comentarios recientes</span>

    <div class="float-end">
        <img class="cursor-pointer" src="/assets/images/icons/arrow-circle-double.png" (click)="getUltimosComentarios()"
            #tooltip="matTooltip" matTooltip="Actualizar comentarios" [matTooltipPosition]="'above'" />
    </div>
</h6>

<section *ngIf="lastComments?.length < 1">
    <div class="alert alert-warning">
        <b>😴 Aún no se han realizado comentarios en Pixicity!</b>
    </div>
</section>

<table class="table table-striped last-posts" *ngIf="lastComments?.length > 0">
    <tbody>
        <tr *ngFor="let comment of lastComments">
            <td>
                <small>
                    <b>
                        <a class="text-muted" [routerLink]="['/perfil/' + comment.usuario]">
                            {{comment.usuario}}
                        </a>
                    </b>

                    &nbsp;
                    
                    <span class="text-muted">
                        <a [routerLink]="['/posts/' + comment.post.categoria.seo + '/' + comment.post.id + '/' + comment.post.url]"
                        title="{{comment.post.titulo}}">
                        {{comment.post.titulo | truncate:[55]}}
                    </a>
                    </span>
                </small>
            </td>
        </tr>
    </tbody>
</table>