<h6 class="main-title">
    <span>Comentarios recientes</span>

    <div class="float-end">
        <img class="cursor--pointer" src="/assets/images/icons/arrow-circle-double.png"
            style="background: #fff; padding-left: 5px" (click)="getUltimosComentarios()" #tooltip="matTooltip"
            matTooltip="Actualizar comentarios" [matTooltipPosition]="'above'" />
    </div>
</h6>

<section *ngIf="lastComments?.length < 1">
    <div class="alert alert-warning">
        😴 <strong>Aún no se han realizado comentarios en Pixicity!</strong>
    </div>
</section>

<ng-container *ngIf="lastComments?.length > 0">
    <article class="list-posts--zebra" [ngClass]="{'opacity-50': refreshComments}" *ngFor="let comment of lastComments">
        <strong>
            <a class="value" [routerLink]="['/perfil/' + comment.usuario]">
                {{comment.usuario}}
            </a>
        </strong>

        <span class="text-muted">
            <a [routerLink]="['/posts/' + comment.post.categoria.seo + '/' + comment.post.id + '/' + comment.post.url]"
                matTooltip="{{comment.post.titulo}}">
                {{comment.post.titulo | truncate:[35]}}
            </a>
        </span>
    </article>

    <div class="mb-3"></div>
</ng-container>