<h6 class="main-title" style="margin-bottom: 11px">
    <span>Recientes</span>
    <app-categories-selector></app-categories-selector>
</h6>

<article class="lista-posts" *ngFor="let post of lastPosts">
    <a [routerLink]="['/posts/downloads/1/Windows 10']">
        <img src="/assets/images/categorias/music.png" /> {{post.title}}
    </a>
</article>

<div class="row">
    <div class="col-12">
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</div>