<h6 class="main-title" style="margin-bottom: 11px">
    <span>Recientes</span>
    <app-categories-selector></app-categories-selector>
</h6>

<article class="lista-posts sticky-post--list" *ngFor="let post of stickyPosts">
    <img src="/assets/images/categorias/sticky.png" class="sticky-post--home" title="Post fijado por el Staff" alt="Sticky" *ngIf="post.sticky" />

    <a [routerLink]="['/posts/' + post.categoria.seo + '/' + post.id + '/' + post.url]" title="{{post.titulo}}">
        <img src="/assets/images/categorias/{{post.categoria.icono}}" title="{{post.categoria.nombre}}"
            alt="{{post.categoria.nombre}}" />
        {{post.titulo | truncate:[60]}}
    </a>
</article>

<article class="lista-posts" *ngFor="let post of lastPosts">
    <a [routerLink]="['/posts/' + post.categoria.seo + '/' + post.id + '/' + post.url]" title="{{post.titulo}}">
        <img src="/assets/images/categorias/{{post.categoria.icono}}" title="{{post.categoria.nombre}}"
            alt="{{post.categoria.nombre}}" />
        {{post.titulo | truncate:[60]}}
    </a>
</article>

<div class="row">
    <div class="col-12">
        <mat-paginator [length]="totalCount" [pageSize]="paginationService.pageCount" (page)="pageChange($event)">
        </mat-paginator>
    </div>
</div>