<h6 class="main-title" style="margin-bottom: 11px">
    <span>Recientes</span>
    <app-categories-selector></app-categories-selector>
</h6>

<article class="lista-posts" *ngFor="let post of lastPosts">
    <a [routerLink]="['/posts/downloads/1/Windows 10']">
        <img src="/assets/images/categorias/{{post.icono}}" /> {{post.titulo}}
    </a>
</article>

<div class="row">
    <div class="col-12">
        <mat-paginator [length]="totalCount" [pageSize]="paginationService.pageCount"
            [pageSizeOptions]="paginationService.selectItemsPerPage" (page)="pageChange($event)">
        </mat-paginator>
    </div>
</div>