<div class="container container--home">
    <h6 class="main-title mb-2">
        <span>Historial de moderación</span>
    </h6>

    <main class="table-responsive" >
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th>Post</th>
                    <th>Acción</th>
                    <th>Moderador</th>
                    <th>Causa</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let post of posts">
                    <td>
                        {{post.titulo}}
                        <small>{{post.autor}}</small>
                    </td>

                    <td>
                        {{post.accion}}
                    </td>
                    
                    <td>
                        {{post.moderador}}
                    </td>

                    <td>
                        {{post.causa}}
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</div>